@page "/account/"
@page "/account/{seccion}/"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using global::Juegos
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto
@inject IJSRuntime JavaScript

@{
    string titulo = Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Account") + " • pepe's deals";
}

<HeadContent>
    <PageTitle>@titulo</PageTitle>
</HeadContent>

<style>
    .boton-pestañas {
        color: var(--colorTexto);
        fill: var(--colorTexto);
        background-color: var(--fondoBotonPequeño);
        border: 1px solid var(--fondoOscuro);
        width: 100%;
        transition: transform .2s;
        font-size: 17px;
        padding: 15px 20px;
    }

    .boton-pestañas:hover {
        color: var(--colorTextoHover);
        fill: var(--colorTextoHover);
        transform: scale(1.01);
    }

    .grid-estructura {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }

    @@media (max-width: 800px) {
        .grid-estructura {
            display: grid;
            gap: 20px;
        }
    }
</style>

<style>
    :root {
        --glaseadoBorde: #FFFFFF1A;
        --glaseadoFondo: rgba(45, 47, 54, 0.70);
        --botonSeleccionado: rgba(13, 22, 33, 0.75);
    }

	.caja-cuenta-indice-contenido {
		background-color: var(--fondoSubsubcabecera);
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
        border: 2px solid var(--glaseadoBorde);
        border-radius: 20px;
	}

    .caja-cuenta-indice-titulo {
		background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
		font-size: 18px;
		padding: 20px 30px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
	}
</style>

<script>
    function enseñarTooltip(e, id) {
        var x = e.clientX,
            y = e.clientY;

        var tooltip = document.getElementById(id);

        if (screen.width / 2 > x) {
            tooltip.style.top = (y + 10) + 'px';
            tooltip.style.left = (x + 20) + 'px';
        }
        else {
            tooltip.style.top = (y - 10) + 'px';
            tooltip.style.left = (x - 20 - tooltip.getBoundingClientRect().width) + 'px';
        };
    }
</script>

<script>
    window.ChangeUrl = function (url) {
        history.pushState(null, '', url);
    }
</script>

@if (enseñarOpcion == false)
{
    <div class="caja-cuenta-indice-contenido cuerpo-ancho" style="margin-top: 40px; margin-bottom: 40px;">
        <div class="caja-cuenta-indice-titulo" style="padding: 16px 30px; height: 60px; display: flex; align-items: center;">
            @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Account")
	    </div>

        <div class="grid-estructura" style="padding: 30px;">
            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail')">
                <button @onclick="MostrarCorreo" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M371.8 82.4C359.8 87.4 352 99 352 112L352 192L240 192C142.8 192 64 270.8 64 368C64 481.3 145.5 531.9 164.2 542.1C166.7 543.5 169.5 544 172.3 544C183.2 544 192 535.1 192 524.3C192 516.8 187.7 509.9 182.2 504.8C172.8 496 160 478.4 160 448.1C160 395.1 203 352.1 256 352.1L352 352.1L352 432.1C352 445 359.8 456.7 371.8 461.7C383.8 466.7 397.5 463.9 406.7 454.8L566.7 294.8C579.2 282.3 579.2 262 566.7 249.5L406.7 89.5C397.5 80.3 383.8 77.6 371.8 82.6z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-mail" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String17", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-password')">
                <button @onclick="MostrarContraseña" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M256 160C256 124.7 284.7 96 320 96C351.7 96 378 119 383.1 149.3C386 166.7 402.5 178.5 420 175.6C437.5 172.7 449.2 156.2 446.3 138.7C436.1 78.1 383.5 32 320 32C249.3 32 192 89.3 192 160L192 224C156.7 224 128 252.7 128 288L128 512C128 547.3 156.7 576 192 576L448 576C483.3 576 512 547.3 512 512L512 288C512 252.7 483.3 224 448 224L256 224L256 160z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-password" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String16", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-data')">
                <button @onclick="MostrarDatosPersonales" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 306.7L246.6 265.3C234.1 252.8 213.8 252.8 201.3 265.3C188.8 277.8 188.8 298.1 201.3 310.6L297.3 406.6C309.8 419.1 330.1 419.1 342.6 406.6L438.6 310.6C451.1 298.1 451.1 277.8 438.6 265.3C426.1 252.8 405.8 252.8 393.3 265.3L352 306.7L352 96zM160 384C124.7 384 96 412.7 96 448L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 448C544 412.7 515.3 384 480 384L433.1 384L376.5 440.6C345.3 471.8 294.6 471.8 263.4 440.6L206.9 384L160 384zM464 440C477.3 440 488 450.7 488 464C488 477.3 477.3 488 464 488C450.7 488 440 477.3 440 464C440 450.7 450.7 440 464 440z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-data" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String15", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-language')">
                <button @onclick="MostrarIdioma" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M320.2 112C435 112.1 528 205.2 528 320C528 342.1 524.6 363.4 518.2 383.4C516.2 383.8 514.1 384 512 384L509.3 384C500.8 384 492.7 380.6 486.7 374.6L457.4 345.3C451.4 339.3 448 331.2 448 322.7L448 272C448 263.2 455.2 256 464 256C472.8 256 480 248.8 480 240C480 231.2 472.8 224 464 224L440 224C426.7 224 416 234.7 416 248C416 261.3 405.3 272 392 272L336 272C327.2 272 320 279.2 320 288C320 296.8 312.8 304 304 304L278.6 304C266.1 304 256 293.9 256 281.4C256 275.4 258.4 269.6 262.6 265.4L332.7 195.3C334.8 193.2 336 190.3 336 187.3C336 181.1 330.9 176 324.7 176L310.6 176C298.1 176 288 165.9 288 153.4C288 147.4 290.4 141.6 294.6 137.4L317.7 114.3C318.5 113.5 319.3 112.8 320.2 112.1zM502.4 420.1C469.6 479.7 408.5 521.5 337.2 527.3C336.5 525 336.1 522.5 336.1 520C336.1 506.7 325.4 496 312.1 496L285.4 496C276.9 496 268.8 492.6 262.8 486.6L233.5 457.3C227.5 451.3 224.1 443.2 224.1 434.7L224.1 368C224.1 350.3 238.4 336 256.1 336L354.8 336C363.3 336 371.4 339.4 377.4 345.4L406.7 374.7C412.7 380.7 420.8 384.1 429.3 384.1L434.8 384.1C443.3 384.1 451.4 387.5 457.4 393.5L473.4 409.5C477.6 413.7 483.4 416.1 489.4 416.1C494.2 416.1 498.7 417.6 502.4 420.2zM320 576L346.2 574.7C337.6 575.6 328.9 576 320 576zM346.2 574.7C475.3 561.6 576 452.6 576 320C576 178.6 461.4 64 320 64L320 64C178.6 64 64 178.6 64 320C64 447.5 157.2 553.3 279.3 572.8C292.5 574.9 306.1 576 320 576zM251.3 187.3L219.3 219.3C213.1 225.5 202.9 225.5 196.7 219.3C190.5 213.1 190.5 202.9 196.7 196.7L228.7 164.7C234.9 158.5 245.1 158.5 251.3 164.7C257.5 170.9 257.5 181.1 251.3 187.3z"/>
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String24", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-language" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String25", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-keys')">
                <button @onclick="MostrarClaves" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M400 416C497.2 416 576 337.2 576 240C576 142.8 497.2 64 400 64C302.8 64 224 142.8 224 240C224 258.7 226.9 276.8 232.3 293.7L71 455C66.5 459.5 64 465.6 64 472L64 552C64 565.3 74.7 576 88 576L168 576C181.3 576 192 565.3 192 552L192 512L232 512C245.3 512 256 501.3 256 488L256 448L296 448C302.4 448 308.5 445.5 313 441L346.3 407.7C363.2 413.1 381.3 416 400 416zM440 160C462.1 160 480 177.9 480 200C480 222.1 462.1 240 440 240C417.9 240 400 222.1 400 200C400 177.9 417.9 160 440 160z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-keys" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-notificationsmail')">
                <button @onclick="MostrarNotificacionesCorreo" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M125.4 128C91.5 128 64 155.5 64 189.4C64 190.3 64 191.1 64.1 192L64 192L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 192L575.9 192C575.9 191.1 576 190.3 576 189.4C576 155.5 548.5 128 514.6 128L125.4 128zM528 256.3L528 448C528 456.8 520.8 464 512 464L128 464C119.2 464 112 456.8 112 448L112 256.3L266.8 373.7C298.2 397.6 341.7 397.6 373.2 373.7L528 256.3zM112 189.4C112 182 118 176 125.4 176L514.6 176C522 176 528 182 528 189.4C528 193.6 526 197.6 522.7 200.1L344.2 335.5C329.9 346.3 310.1 346.3 295.8 335.5L117.3 200.1C114 197.6 112 193.6 112 189.4z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-notificationsmail" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-notificationspush')">
                <button @onclick="MostrarNotificacionesPush" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M320 64C306.7 64 296 74.7 296 88L296 97.7C214.6 109.3 152 179.4 152 264L152 278.5C152 316.2 142 353.2 123 385.8L101.1 423.2C97.8 429 96 435.5 96 442.2C96 463.1 112.9 480 133.8 480L506.2 480C527.1 480 544 463.1 544 442.2C544 435.5 542.2 428.9 538.9 423.2L517 385.7C498 353.1 488 316.1 488 278.4L488 263.9C488 179.3 425.4 109.2 344 97.6L344 87.9C344 74.6 333.3 63.9 320 63.9zM488.4 432L151.5 432L164.4 409.9C187.7 370 200 324.6 200 278.5L200 264C200 197.7 253.7 144 320 144C386.3 144 440 197.7 440 264L440 278.5C440 324.7 452.3 370 475.5 409.9L488.4 432zM252.1 528C262 556 288.7 576 320 576C351.3 576 378 556 387.9 528L252.1 528z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String21", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-notificationspush" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String22", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-games')">
                <button @onclick="MostrarJuegos" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M448 128C554 128 640 214 640 320C640 426 554 512 448 512L192 512C86 512 0 426 0 320C0 214 86 128 192 128L448 128zM192 240C178.7 240 168 250.7 168 264L168 296L136 296C122.7 296 112 306.7 112 320C112 333.3 122.7 344 136 344L168 344L168 376C168 389.3 178.7 400 192 400C205.3 400 216 389.3 216 376L216 344L248 344C261.3 344 272 333.3 272 320C272 306.7 261.3 296 248 296L216 296L216 264C216 250.7 205.3 240 192 240zM432 336C414.3 336 400 350.3 400 368C400 385.7 414.3 400 432 400C449.7 400 464 385.7 464 368C464 350.3 449.7 336 432 336zM496 240C478.3 240 464 254.3 464 272C464 289.7 478.3 304 496 304C513.7 304 528 289.7 528 272C528 254.3 513.7 240 496 240z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String35", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-games" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String36", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-profile')">
                <button @onclick="MostrarPerfil" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M320 312C386.3 312 440 258.3 440 192C440 125.7 386.3 72 320 72C253.7 72 200 125.7 200 192C200 258.3 253.7 312 320 312zM290.3 368C191.8 368 112 447.8 112 546.3C112 562.7 125.3 576 141.7 576L498.3 576C514.7 576 528 562.7 528 546.3C528 447.8 448.2 368 349.7 368L290.3 368z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String33", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-profile" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String34", "Account")
                    </div>
                </div>
            </div>

            <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mailpatreon')">
                <button @onclick="MostrarCorreoPatreon" class="boton-pestañas">
                    <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                        <div style="width: 30px; height: 30px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M554 217.8C553.9 152.4 503 98.8 443.3 79.5C369.1 55.5 271.3 59 200.4 92.4C114.6 132.9 87.6 221.7 86.6 310.2C85.8 383 93 574.6 201.2 576C281.5 577 293.5 473.5 330.7 423.7C357.1 388.2 391.2 378.2 433.1 367.8C505.1 350 554.2 293.1 554.1 217.8L554 217.8z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String37", "Account")
                        </div>
                    </div>
                </button>

                <div id="tooltip-mailpatreon" class="tooltip-relleno">
                    <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String38", "Account")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="cuerpo-ancho" style="width: 100%; margin: 40px auto; background-color: var(--fondoSubsubcabecera); border-radius: 20px; border: 2px solid var(--glaseadoBorde); box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);">
        <div style="display: flex; align-items: center; gap: 30px; background: color-mix(in srgb, var(--fondoSubcabecera) 55%, var(--fondoBotonPequeño)); border-top-left-radius: inherit; border-top-right-radius: inherit; overflow: hidden;">
            <button class="boton-pequeño" @onclick="ClickearCerrarPestaña" style="width: fit-content; padding: 18px 25px; border-top-left-radius: inherit; box-shadow: none;">
                <div style="max-width: 24px; max-height: 24px;">
                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                    </svg>
                </div>
            </button>

            <div style="font-size: 18px;">
                @tituloOpcion
            </div>
        </div>

        @if (mostrarCorreo == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.Correo idioma="@idioma" dominio="@dominio"/>
        }

        @if (mostrarContraseña == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.CambioContrasena idioma="@idioma" />
        }

        @if (mostrarDatosPersonales == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.DatosPersonales idioma="@idioma" />
        }

        @if (mostrarIdioma == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.Idioma idioma="@idioma" usuarioId="@usuarioId" />
        }

        @if (mostrarClaves == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.Claves idioma="@idioma" usuarioId="@usuarioId" />
        }

        @if (mostrarForo == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.Foro idioma="@idioma" />
        }

        @if (mostrarJuegos == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.Juegos idioma="@idioma" usuarioId="@usuarioId" fondoCabecera="background-color: var(--fondoSubsubcabecera);" />
        }

        @if (mostrarPerfil == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.Perfil idioma="@idioma" />
        }

        @if (mostrarNotificacionesCorreo == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Notificaciones.Correo idioma="@idioma" usuarioId="@usuarioId" />
        }

        @if (mostrarNotificacionesPush == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Notificaciones.Push idioma="@idioma" />
        }

        @if (mostrarCorreoPatreon == true)
        {
            <pepeizqs_deals_blazor_web.Componentes.Cuenta.Cuenta.CorreoPatreon idioma="@idioma" usuarioId="@usuarioId" />
        }
    </div>
}

@code {

    #nullable disable

    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string dominio = null;
    private bool usuarioPatreon = false;
    private bool usuarioAdmin = false;

    [Parameter]
    public string seccion { get; set; }

    private Usuario opcionesCuenta = null;

    private bool enseñarOpcion = false;
    private string tituloOpcion = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
        idioma = datos.Idioma;
        usuarioId = datos.UsuarioId;
        userAgent = datos.UserAgent;
        dominio = datos.Dominio;

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            idioma = await BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
            opcionesCuenta = await BaseDatos.Usuarios.Buscar.OpcionesCuenta(usuarioId);
            usuarioPatreon = Herramientas.Patreon.VerificarActivo(await BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));
            usuarioAdmin = await BaseDatos.Usuarios.Buscar.RolDios(usuarioId);

            if (string.IsNullOrEmpty(seccion) == false)
            {
                if (seccion == "email")
                {
                    MostrarCorreo();
                }

                if (seccion == "password")
                {
                    MostrarContraseña();
                }

                if (seccion == "data")
                {
                    MostrarDatosPersonales();
                }

                if (seccion == "language")
                {
                    await MostrarIdioma();
                }

                if (seccion == "keys")
                {
                    MostrarClaves();
                }

                if (seccion == "forum")
                {
                    MostrarForo();
                }

                if (seccion == "games")
                {
                    MostrarJuegos();
                }

                if (seccion == "profile")
                {
                    MostrarPerfil();
                }

                if (seccion == "notifications-email")
                {
                    MostrarNotificacionesCorreo();
                }

                if (seccion == "notifications-push")
                {
                    MostrarNotificacionesPush();
                }

                if (seccion == "mail-patreon")
                {
                    MostrarCorreoPatreon();
                }
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool primerRender)
    {
        if (string.IsNullOrEmpty(seccion) == true)
        {
            await JavaScript.InvokeVoidAsync("ChangeUrl", "/account/");
        }
        else
        {
            await JavaScript.InvokeVoidAsync("ChangeUrl", "/account/" + seccion + "/");
        }
    }

    private void CerrarPestañas()
    {
        tituloOpcion = string.Empty;

        mostrarCorreo = false;
        mostrarContraseña = false;
        mostrarDatosPersonales = false;
        mostrarIdioma = false;
        mostrarClaves = false;
        mostrarForo = false;
        mostrarJuegos = false;
        mostrarPerfil = false;
        mostrarNotificacionesCorreo = false;
        mostrarNotificacionesPush = false;
        mostrarCorreoPatreon = false;
    }

    private async void ClickearCerrarPestaña()
    {
        tituloOpcion = string.Empty;
        enseñarOpcion = false;

        seccion = string.Empty;
    }

    #region Cuenta

    private bool mostrarCorreo = false;

    private async void MostrarCorreo()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Account");
        enseñarOpcion = true;
        mostrarCorreo = true;
        seccion = "email";
    }

    private bool mostrarContraseña = false;

    private async void MostrarContraseña()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Account");
        enseñarOpcion = true;
        mostrarContraseña = true;
        seccion = "password";
    }

    private bool mostrarDatosPersonales = false;

    private async void MostrarDatosPersonales()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Account");
        enseñarOpcion = true;
        mostrarDatosPersonales = true;
        seccion = "data";
    }

    private bool mostrarIdioma = false;

    private async Task MostrarIdioma()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String24", "Account");
        enseñarOpcion = true;
        mostrarIdioma = true;
        seccion = "language";
    }

    private bool mostrarClaves = false;

    private async void MostrarClaves()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Account");
        enseñarOpcion = true;
        mostrarClaves = true;
        seccion = "keys";
    }

    private bool mostrarForo = false;

    private async void MostrarForo()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String26", "Account");
        enseñarOpcion = true;
        mostrarForo = true;
        seccion = "forum";
    }

    private bool mostrarJuegos = false;

    private async void MostrarJuegos()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String35", "Account");
        enseñarOpcion = true;
        mostrarJuegos = true;
        seccion = "games";
    }

    private bool mostrarPerfil = false;

    private async void MostrarPerfil()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String33", "Account");
        enseñarOpcion = true;
        mostrarPerfil = true;
        seccion = "profile";
    }

    #endregion

    #region Notificaciones

    private bool mostrarNotificacionesCorreo = false;

    private async void MostrarNotificacionesCorreo()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Account");
        enseñarOpcion = true;
        mostrarNotificacionesCorreo = true;
        seccion = "notifications-email";
    }

    private bool mostrarNotificacionesPush = false;

    private async void MostrarNotificacionesPush()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String21", "Account");
        enseñarOpcion = true;
        mostrarNotificacionesPush = true;
        seccion = "notifications-push";
    }

    private bool mostrarCorreoPatreon = false;

    private async void MostrarCorreoPatreon()
    {
        CerrarPestañas();
        tituloOpcion = Herramientas.Idiomas.BuscarTexto(idioma, "String37", "Account");
        enseñarOpcion = true;
        mostrarCorreoPatreon = true;
        seccion = "mail-patreon";
    }

    #endregion
}
