@page "/account/login2fa"

@attribute [ExcludeFromInteractiveRouting]

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@inject NavigationManager NavManager

@{
    string titulo = Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Login") + " • pepe's deals";
    string enlace = "https://" + dominio + "/login";
    string imagen = "https://" + dominio + "/logo/logoentrada.webp";
}

<HeadContent>
    <PageTitle>@titulo</PageTitle>

    <meta name="og:title" content="@titulo" />
    <meta name="og:url" content="@enlace" />
    <meta name="og:image" content="@imagen" />
    <meta name="og:site_name" content="pepe's deals" />
    <meta name="og:type" content="website" />
    <meta name="robots" content="index, follow" />
</HeadContent>

<div class="caja-login-contenido" style="margin: 40px auto;">
    <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post" style="border-top-left-radius: inherit; border-top-right-radius: inherit; margin: 0;">
        <DataAnnotationsValidator />
        <div class="caja-login-titulo">
            @Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Login")
        </div>

        <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
        <input type="hidden" name="RememberMe" value="@RememberMe" />

        <div style="padding: 30px 40px 40px 40px;">
            <ValidationSummary class="texto-peligro-entrada" role="alert" />

            <div style="margin-bottom: 20px;">
                <div for="Input.TwoFactorCode" style="margin-bottom: 5px; margin-left: 10px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "Login")</div>
                <InputText @bind-Value="Input.TwoFactorCode" id="Input.TwoFactorCode" class="entrada-texto" autocomplete="off" />

                <ValidationMessage For="() => Input.TwoFactorCode" class="texto-peligro-entrada" />
            </div>

            <div style="margin: 30px 0px 20px 0px;">
                <div style="display: flex; align-items: center; gap: 15px;">
                    <div class="checkbox-caja">
                        <InputCheckbox @bind-Value="Input.RememberMachine" class="checkbox-interior" />
                    </div>

                    <div style="cursor: pointer;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Login")
                    </div>
                </div>
            </div>

            <div>
                <button id="login-submit" type="submit" class="boton-pequeño" style="text-align: center; font-size: 20px; padding: 15px 20px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Login")
                </button>
            </div>
        </div>
    </EditForm>
</div>

<Accesos idioma="@idioma" mostrarLogin="false" mostrarContraseñaOlvidada="false" mostrarRegistro="false" mostrarLoginRecuperacion="true"/>

@code {

    #nullable disable

    private string idioma = "en";
    private string userAgent = null;
    private string dominio = null;

    private Usuario usuario = default!;

    #pragma warning disable BL0008
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();
    #pragma warning restore BL0008

    [SupplyParameterFromQuery]
    private string ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private bool RememberMe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
        idioma = datos.Idioma;
        userAgent = datos.UserAgent;
        dominio = datos.Dominio;

        if (Contexto.HttpContext != null)
        {
            usuario = await SignInManager.GetTwoFactorAuthenticationUserAsync();

            if (usuario == null)
            {
                NavManager.NavigateTo("/", true);
            }
        }
    }

    private async Task OnValidSubmitAsync()
    {
        string codigo = Input.TwoFactorCode!.Replace(" ", string.Empty).Replace("-", string.Empty);
        SignInResult resultado = await SignInManager.TwoFactorAuthenticatorSignInAsync(codigo, RememberMe, Input.RememberMachine);

        if (resultado.Succeeded == true)
        {
            NavManager.NavigateTo(ReturnUrl, true);
        }
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(7, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Authenticator code")]
        public string TwoFactorCode { get; set; }

        [Display(Name = "Remember this machine")]
        public bool RememberMachine { get; set; }
    }
}
