@using pepeizqs_deals_web.Data

<script>
	function enseñarTooltip(e, id) {
		var x = e.clientX,
			y = e.clientY;

		var tooltip = document.getElementById(id);

		if (screen.width / 2 > x) {
			tooltip.style.top = (y + 10) + 'px';
			tooltip.style.left = (x + 20) + 'px';
		}
		else {
			tooltip.style.top = (y - 10) + 'px';
			tooltip.style.left = (x - 20 - tooltip.getBoundingClientRect().width) + 'px';
		};
	}
</script>

<div style="display: flex; flex-direction: column; gap: 30px; padding: 30px;">
	<div class="caja-cuenta-bloque" style="display: flex; flex-direction: column; align-items: normal;">
		<div style="border-bottom: 2px solid var(--glaseadoBorde); padding-bottom: 15px;">
			@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "AccountNotificationsMail")
		</div>

		<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); gap: 30px; align-items: baseline;">
			<div style="display: flex; align-items: start; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoDeseadosMinimos" @onchange="ClickearCambioDeseadosMinimos">
				</div>

				<div style="display: flex; flex-direction: column; gap: 15px;">
					<div style="display: flex; align-items: center; gap: 20px;">
						<div>
							@Herramientas.Idiomas.BuscarTexto(idioma, "String16", "AccountNotificationsMail")
						</div>

						<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail1')">
							<div style="width: 24px; height: 24px;">
								<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
									<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
								</svg>
							</div>

							<div id="tooltip-mail1" class="tooltip-relleno">
								<div style="margin: 8px; max-width: 300px; font-size: 14px;">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "AccountNotificationsMail")
								</div>
							</div>
						</div>
					</div>

					<div style="font-size: 14px; background: color-mix(in srgb, var(--fondoSubcabecera) 95%, var(--fondoBotonPequeño)); padding: 10px 15px; border: 1px solid var(--glaseadoBorde); border-radius: 5px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String11", "AccountNotificationsMail")
					</div>
				</div>
			</div>

			<div style="display: flex; align-items: center; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoDeseadosBundles" @onchange="ClickearCambioDeseadosBundles">
				</div>

				<div style="display: flex; align-items: center; gap: 20px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String17", "AccountNotificationsMail")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail2')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-mail2" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String18", "AccountNotificationsMail")
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="caja-cuenta-bloque" style="display: flex; flex-direction: column; align-items: normal;">
		<div style="border-bottom: 2px solid var(--glaseadoBorde); padding-bottom: 15px;">
			@Herramientas.Idiomas.BuscarTexto(idioma, "String19", "AccountNotificationsMail")
		</div>

		<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 30px;">
			<div style="display: flex; align-items: center; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoBundles" @onchange="ClickearCambioBundles">
				</div>

				<div style="display: flex; align-items: center; gap: 20px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "AccountNotificationsMail")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail3')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-mail3" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "AccountNotificationsMail")
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="display: flex; align-items: center; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoGratis" @onchange="ClickearCambioGratis">
				</div>

				<div style="display: flex; align-items: center; gap: 20px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "AccountNotificationsMail")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail4')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-mail4" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "AccountNotificationsMail")
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="display: flex; align-items: center; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoSuscripciones" @onchange="ClickearCambioSuscripciones">
				</div>

				<div style="display: flex; align-items: center; gap: 20px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String7", "AccountNotificationsMail")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail5')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-mail5" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String8", "AccountNotificationsMail")
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="display: flex; align-items: center; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoWeb" @onchange="ClickearCambioWeb">
				</div>

				<div style="display: flex; align-items: center; gap: 20px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String12", "AccountNotificationsMail")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail6')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-mail6" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "AccountNotificationsMail")
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="display: flex; align-items: center; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoDesvendido" @onchange="ClickearCambioDesvendido">
				</div>

				<div style="display: flex; align-items: center; gap: 20px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String14", "AccountNotificationsMail")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail7')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-mail7" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String15", "AccountNotificationsMail")
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="display: flex; align-items: center; gap: 20px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoOtros" @onchange="ClickearCambioOtros">
				</div>

				<div style="display: flex; align-items: center; gap: 20px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String9", "AccountNotificationsMail")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-mail8')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-mail8" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "AccountNotificationsMail")
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	[Parameter]
	public string usuarioId { get; set; }

	private Usuario usuario = new Usuario();

	private string estadoBundles = null;
	private string estadoGratis = null;
	private string estadoSuscripciones = null;
	private string estadoOtros = null;
	private string estadoWeb = null;
	private string estadoDesvendido = null;

	protected override async Task OnInitializedAsync()
	{
		usuario = await BaseDatos.Usuarios.Buscar.OpcionesNotificacionesCorreo(usuarioId);

		if (usuario != null)
		{
			usuario.Id = usuarioId;

			if (usuario.NotificationLows == null)
			{
				estadoDeseadosMinimos = null;
			}
			else
			{
				if (usuario.NotificationLows == true)
				{
					estadoDeseadosMinimos = "checked";
				}
				else
				{
					estadoDeseadosMinimos = null;
				}
			}

			if (usuario.NotificationWishlistBundles == null)
			{
				estadoDeseadosBundles = null;
			}
			else
			{
				if (usuario.NotificationWishlistBundles == true)
				{
					estadoDeseadosBundles = "checked";
				}
				else
				{
					estadoDeseadosBundles = null;
				}
			}

			if (usuario.NotificationBundles == null)
			{
				estadoBundles = null;
			}
			else
			{
				if (usuario.NotificationBundles == true)
				{
					estadoBundles = "checked";
				}
				else
				{
					estadoBundles = null;
				}
			}

			if (usuario.NotificationFree == null)
			{
				estadoGratis = null;
			}
			else
			{
				if (usuario.NotificationFree == true)
				{
					estadoGratis = "checked";
				}
				else
				{
					estadoGratis = null;
				}
			}

			if (usuario.NotificationSubscriptions == null)
			{
				estadoSuscripciones = null;
			}
			else
			{
				if (usuario.NotificationSubscriptions == true)
				{
					estadoSuscripciones = "checked";
				}
				else
				{
					estadoSuscripciones = null;
				}
			}

			if (usuario.NotificationOthers == null)
			{
				estadoOtros = null;
			}
			else
			{
				if (usuario.NotificationOthers == true)
				{
					estadoOtros = "checked";
				}
				else
				{
					estadoOtros = null;
				}
			}

			if (usuario.NotificationWeb == null)
			{
				estadoWeb = null;
			}
			else
			{
				if (usuario.NotificationWeb == true)
				{
					estadoWeb = "checked";
				}
				else
				{
					estadoWeb = null;
				}
			}

			if (usuario.NotificationDelisted == null)
			{
				estadoDesvendido = null;
			}
			else
			{
				if (usuario.NotificationDelisted == true)
				{
					estadoDesvendido = "checked";
				}
				else
				{
					estadoDesvendido = null;
				}
			}
		}
	}

	private string estadoDeseadosMinimos = null;

	private async void ClickearCambioDeseadosMinimos()
	{
		if (usuario != null)
		{
			bool boolMinimos = false;

			if (estadoDeseadosMinimos == null)
			{
				estadoDeseadosMinimos = "checked";
				boolMinimos = true;
			}
			else
			{
				estadoDeseadosMinimos = null;
				boolMinimos = false;
			}

			usuario.NotificationLows = boolMinimos;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationLows", boolMinimos, usuario.Id);
		}	
	}

	private string estadoDeseadosBundles = null;

	private async void ClickearCambioDeseadosBundles()
	{
		if (usuario != null)
		{
			bool boolDeseados = false;

			if (estadoDeseadosBundles == null)
			{
				estadoDeseadosBundles = "checked";
				boolDeseados = true;
			}
			else
			{
				estadoDeseadosBundles = null;
				boolDeseados = false;
			}

			usuario.NotificationWishlistBundles = boolDeseados;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationWishlistBundles", boolDeseados, usuario.Id);
		}	
	}

	private async void ClickearCambioBundles()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoBundles == null)
			{
				estadoBundles = "checked";
				estado = true;
			}
			else
			{
				estadoBundles = null;
				estado = false;
			}

			usuario.NotificationBundles = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationBundles", estado, usuario.Id);
		}
	}

	private async void ClickearCambioGratis()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoGratis == null)
			{
				estadoGratis = "checked";
				estado = true;
			}
			else
			{
				estadoGratis = null;
				estado = false;
			}

			usuario.NotificationFree = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationFree", estado, usuario.Id);
		}
	}

	private async void ClickearCambioSuscripciones()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoSuscripciones == null)
			{
				estadoSuscripciones = "checked";
				estado = true;
			}
			else
			{
				estadoSuscripciones = null;
				estado = false;
			}

			usuario.NotificationSubscriptions = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationSubscriptions", estado, usuario.Id);
		}
	}

	private async void ClickearCambioOtros()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoOtros == null)
			{
				estadoOtros = "checked";
				estado = true;
			}
			else
			{
				estadoOtros = null;
				estado = false;
			}

			usuario.NotificationOthers = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationOthers", estado, usuario.Id);
		}
	}

	private async void ClickearCambioWeb()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoWeb == null)
			{
				estadoWeb = "checked";
				estado = true;
			}
			else
			{
				estadoWeb = null;
				estado = false;
			}

			usuario.NotificationWeb = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationWeb", estado, usuario.Id);
		}
	}

	private async void ClickearCambioDesvendido()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoDesvendido == null)
			{
				estadoDesvendido = "checked";
				estado = true;
			}
			else
			{
				estadoDesvendido = null;
				estado = false;
			}

			usuario.NotificationDelisted = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("NotificationDelisted", estado, usuario.Id);
		}
	}
}
