@using APIs.Steam
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_web.Data

@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .no-scroll {
        overflow: hidden;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["/css/bundle.css"]" type="text/css" media="print" onload="this.media='all'" />

    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />

    <link rel="manifest" href="/manifest.json" />

    <meta name="og:site_name" content="pepe's deals" />
    <meta name="robots" content="noimageindex" />

    @if (string.IsNullOrEmpty(enlace) == false)
    {
        <link rel="canonical" href="@enlace" />
        <meta name="og:url" content="@enlace" />

        if (enlace.Contains("/news/") == true)
        {
            <link rel="alternate" hreflang="en" href="@enlaceEnNoticia" />
            <link rel="alternate" hreflang="es" href="@enlaceEsNoticia" />
            <link rel="alternate" hreflang="x-default" href="@enlaceEnNoticia" />

            <meta property="og:type" content="article" />
        }
        else
        {
            <meta property="og:type" content="website" />
        }
    }

    <link title="pepe's deals • @Herramientas.Idiomas.BuscarTexto(idioma, "Title", "LastNews")" rel="alternate" type="application/rss+xml" href="https://@dominio/rss-en.xml" />

    <meta name="twitter:site" content="@@pepeizqdeals" />
    <meta name="twitter:domain" content="pepeizqdeals.com" />
    <meta name="twitter:card" content="summary_large_image" />
    
    <meta name="msapplication-TileColor" content="#007272" />
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#007272" />

    <HeadOutlet @rendermode="renderizacion" />

    <ImportMap />
</head>

<body class="cuerpo" id="cuerpazo" style="margin: 0px;">
    <Cabecera idioma="@idioma" usuarioId="@usuarioId" userAgent="@userAgent" usuarioAdmin="@usuarioAdmin" dominio="@dominio" />

    <main role="main">
        <Routes @rendermode="renderizacion" />
    </main>

    <PiePagina idioma="@idioma" usuarioId="@usuarioId"/>

    @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
    {
        <script async src="@Assets["~/superjs.js"]"></script>
        
        <div id="reconnect-modal" style="display: none;"></div>
        <script src="@Assets["/_framework/blazor.web.js"]" autostart="false"></script>
        <script src="@Assets["/inicio.js"]"></script>
        <script src="@Assets["/video.js"]"></script>
        <script src="@Assets["/push-notifications.js"]"></script>
    }
    else
    {
        <script async src="@Assets["/arreglarFalloGoogle.js"]"></script>

        <script>
            arreglarFalloGoogle();
        </script>
    }

    @if (usuarioPatreon == false)
    {
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8367196321891178"
                crossorigin="anonymous"></script>
    }

    <script>
        function moverScroll(id) {
            const element = document.getElementById(id);
            const y = element.getBoundingClientRect().top;

            window.scrollTo({ top: y, behavior: 'smooth' });
        }
    </script>
</body>

</html>

@code {

    #nullable disable

    [CascadingParameter]
    private HttpContext contexto { get; set; } = default!;

    private IComponentRenderMode renderizacion => contexto.AcceptsInteractiveRouting() ? InteractiveServer : null;

    private string enlace = null;
    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string dominio = null;
    private bool usuarioPatreon = false;
    private bool usuarioAdmin = false;

    private string enlaceEnNoticia = null;
    private string enlaceEsNoticia = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        usuarioId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (contexto != null)
        {
            idioma = contexto?.Request?.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();
            userAgent = contexto?.Request?.Headers.UserAgent.ToString();
            dominio = contexto?.Request?.Host.Value;
            usuarioPatreon = Herramientas.Patreon.VerificarActivo(await BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));

            var path = contexto?.Request?.Path.ToString();
            enlace = "https://" + dominio + path;

            if (path.Contains("/news/") == true)
            {
                string temp1 = path.Replace("/news/", null);
                int int1 = temp1.IndexOf("/");
                string temp2 = temp1.Remove(int1, temp1.Length - int1);

                Noticias.Noticia noticia = await BaseDatos.Noticias.Buscar.UnaNoticiaTitulos(int.Parse(temp2));

                if (noticia != null)
                {
                    enlaceEsNoticia = $"https://{dominio}/news/{noticia.Id}/{Herramientas.EnlaceAdaptador.Nombre(noticia.TituloEs)}/";
                    enlaceEnNoticia = $"https://{dominio}/news/{noticia.Id}/{Herramientas.EnlaceAdaptador.Nombre(noticia.TituloEn)}/";
                } 
            }
        }

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            usuarioAdmin = await BaseDatos.Usuarios.Buscar.RolDios(usuarioId);
            idioma = await BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);

            Usuario usuario = await BaseDatos.Usuarios.Buscar.OpcionesApp(usuarioId);

            if (usuario != null)
            {
                if (usuario?.EmailConfirmed == true)
                {
                    bool patreonActivo = Herramientas.Patreon.VerificarActivo(usuario.PatreonLastCheck);

                    TimeSpan tiempoActualizar = TimeSpan.FromDays(7);

                    if (patreonActivo == true)
                    {
                        tiempoActualizar = TimeSpan.FromDays(1);
                    }

                    if (string.IsNullOrEmpty(usuario.SteamAccount) == false && string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
                    {
                        bool tiempo = true;

                        if (string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
                        {
                            if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + tiempoActualizar > DateTime.Now)
                            {
                                tiempo = false;
                            }
                        }

                        if (tiempo == true)
                        {
                            await BaseDatos.UsuariosActualizar.Insertar.Ejecutar(usuarioId, "Steam");
                        }
                    }

                    if (string.IsNullOrEmpty(usuario.GogAccount) == false && usuario.GogAccountLastCheck != null)
                    {
                        bool tiempo = true;

                        if (usuario.GogAccountLastCheck + tiempoActualizar > DateTime.Now)
                        {
                            tiempo = false;
                        }

                        if (tiempo == true)
                        {
                            await BaseDatos.UsuariosActualizar.Insertar.Ejecutar(usuarioId, "GOG");
                        }
                    }

                    if (patreonActivo == true)
                    {
                        if (usuario.PatreonLastLogin == null)
                        {
                            await BaseDatos.Usuarios.Actualizar.Opcion("PatreonLastLogin", DateTime.Now, usuarioId);
                            await BaseDatos.Usuarios.Actualizar.Opcion("PatreonCoins", 2, usuarioId);

                            await BaseDatos.Recompensas.Historial.Insertar(usuarioId, 2, "Daily", DateTime.Now);
                        }
                        else
                        {
                            if (usuario.PatreonContribution > 0)
                            {
                                if (usuario.PatreonCoins < 120)
                                {
                                    if (usuario.PatreonLastLogin?.DayOfYear != DateTime.Now.DayOfYear)
                                    {
                                        await BaseDatos.Usuarios.Actualizar.Opcion("PatreonLastLogin", DateTime.Now, usuarioId);
                                        await BaseDatos.Usuarios.Actualizar.Opcion("PatreonCoins", (int)usuario.PatreonCoins + 2, usuarioId);

                                        await BaseDatos.Recompensas.Historial.Insertar(usuarioId, 2, "Daily", DateTime.Now);
                                    }
                                }
                            }
                            else
                            {
                                if (usuario.PatreonCoins < 20)
                                {
                                    if (usuario.PatreonLastLogin?.DayOfYear != DateTime.Now.DayOfYear)
                                    {
                                        await BaseDatos.Usuarios.Actualizar.Opcion("PatreonLastLogin", DateTime.Now, usuarioId);
                                        await BaseDatos.Usuarios.Actualizar.Opcion("PatreonCoins", (int)usuario.PatreonCoins + 2, usuarioId);

                                        await BaseDatos.Recompensas.Historial.Insertar(usuarioId, 2, "Daily", DateTime.Now);
                                    }
                                }
                            }
                        }
                    }
                }

                if (string.IsNullOrEmpty(idioma) == false)
                {
                    await BaseDatos.Usuarios.Actualizar.Opcion("Language", idioma, usuarioId);
                }
            } 
        }
    }
}