@using System.Security.Claims
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_web.Data

@inject AuthenticationStateProvider AuthenticationStateProvider

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <ResourcePreloader />

    @{
        string[] dominiosExternos = new[]
        {
            "https://shared.steamstatic.com",
            "https://shared.cloudflare.steamstatic.com"
        };
    }

    @foreach (var dominio in dominiosExternos)
    {
        <link rel="preconnect" href="@dominio" crossorigin>
        <link rel="dns-prefetch" href="@dominio">
    }

    <link rel="preload" as="style" href="@Assets["/css/bundle.css"]" />
    <link rel="stylesheet" href="@Assets["/css/bundle.css"]" media="screen" />
    <link rel="stylesheet" href="@Assets["/css/bundle.css"]" media="print" onload="this.media='all'" />

    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />

    <link rel="manifest" href="/manifest.json" />

    <meta name="og:site_name" content="pepe's deals" />
    <meta name="robots" content="noimageindex" />

    @if (string.IsNullOrEmpty(enlace) == false)
    {
        <link rel="canonical" href="@enlace" />
        <meta name="og:url" content="@enlace" />

        if (enlace.Contains("/news/") == true)
        {
            <link rel="alternate" hreflang="en" href="@enlaceEnNoticia" />
            <link rel="alternate" hreflang="es" href="@enlaceEsNoticia" />
            <link rel="alternate" hreflang="x-default" href="@enlaceEnNoticia" />

            <meta property="og:type" content="article" />
        }
        else
        {
            <meta property="og:type" content="website" />
        }
    }

    <link title="pepe's deals • @Herramientas.Idiomas.BuscarTexto(idioma, "Title", "LastNews")" rel="alternate" type="application/rss+xml" href="https://@dominio/rss-en.xml" />

    <meta name="twitter:site" content="@@pepeizqdeals" />
    <meta name="twitter:domain" content="pepeizqdeals.com" />
    <meta name="twitter:card" content="summary_large_image" />
    
    <meta name="msapplication-TileColor" content="#007272" />
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#007272" />

    <HeadOutlet @rendermode="renderizacion" />

    <ImportMap />
</head>

<body class="cuerpo" id="cuerpazo" style="margin: 0px;">
    <Routes @rendermode="renderizacion" />

    <PiePagina idioma="@idioma" usuarioId="@usuarioId"/>

    @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
    {
        <script async src="@Assets["~/superjs.js"]"></script>
        
        <div id="reconnect-modal" style="display: none;"></div>
        <script src="@Assets["/_framework/blazor.web.js"]" autostart="false"></script>
        <script src="@Assets["/inicio.js"]"></script>
        <script src="@Assets["/video.js"]"></script>
        <script src="@Assets["/push-notifications.js"]"></script>
        <script src="@Assets["/cookies.js"]"></script>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    }

    <script>
        function moverScroll(id) {
            const element = document.getElementById(id);
            const y = element.getBoundingClientRect().top;

            window.scrollTo({ top: y, behavior: 'smooth' });
        }
    </script>
</body>

</html>

@code {

    #nullable disable

    [CascadingParameter]
    private HttpContext contexto { get; set; } = default!;

    private IComponentRenderMode renderizacion => contexto.AcceptsInteractiveRouting() ? InteractiveServer : null;

    private string enlace = null;
    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string dominio = null;
    private bool usuarioPatreon = false;

    private string enlaceEnNoticia = null;
    private string enlaceEsNoticia = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        usuarioId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (contexto != null)
        {
            idioma = contexto?.Request?.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();
            userAgent = contexto?.Request?.Headers.UserAgent.ToString();
            dominio = contexto?.Request?.Host.Value;
            usuarioPatreon = Herramientas.Patreon.VerificarActivo(await BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));

            string ruta = contexto?.Request?.Path.ToString();
            enlace = "https://" + dominio + ruta;

            if (ruta.Contains("/news/") == true)
            {
                string temp1 = ruta.Replace("/news/", null);
                int int1 = temp1.IndexOf("/");

                if (int1 > 0)
                {
                    string temp2 = temp1.Substring(0, int1);  

                    if (int.TryParse(temp2, out int noticiaId))
                    {
                        Noticias.Noticia noticia = await BaseDatos.Noticias.Buscar.UnaNoticiaTitulos(noticiaId);

                        if (noticia != null)
                        {
                            enlaceEsNoticia = $"https://{dominio}/news/{noticia.Id}/{Herramientas.EnlaceAdaptador.Nombre(noticia.TituloEs)}/";
                            enlaceEnNoticia = $"https://{dominio}/news/{noticia.Id}/{Herramientas.EnlaceAdaptador.Nombre(noticia.TituloEn)}/";
                        }
                    }
                }
            }
        }

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            Task<string> obtenerIdioma = BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
            Task<Usuario> obtenerOpciones = BaseDatos.Usuarios.Buscar.OpcionesApp(usuarioId);

            await Task.WhenAll(obtenerIdioma, obtenerOpciones);

            idioma = obtenerIdioma.Result;
            Usuario usuario = obtenerOpciones.Result;

            if (usuario != null && usuario.EmailConfirmed == true)
            {
                bool patreonActivo = Herramientas.Patreon.VerificarActivo(usuario.PatreonLastCheck);
                TimeSpan tiempoActualizar = patreonActivo ? TimeSpan.FromDays(1) : TimeSpan.FromDays(7);

                await Task.WhenAll(
                    ProcesarSteamCuenta(usuario, tiempoActualizar, usuarioId), 
                    ProcesarGogCuenta(usuario, tiempoActualizar, usuarioId), 
                    ProcesarPatreon(usuario, patreonActivo, usuarioId)
                );
            }

            if (string.IsNullOrEmpty(idioma) == false)
            {
                await BaseDatos.Usuarios.Actualizar.Opcion("Language", idioma, usuarioId);
            }
        }
    }

    private async Task ProcesarSteamCuenta(Usuario usuario, TimeSpan tiempoActualizar, string usuarioId)
    {
        if (string.IsNullOrEmpty(usuario.SteamAccount) == true || string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == true)
        {   
            return;
        }

        bool tiempoExcedido = string.IsNullOrEmpty(usuario.SteamAccountLastCheck) || Convert.ToDateTime(usuario.SteamAccountLastCheck) + tiempoActualizar > DateTime.Now;

        if (tiempoExcedido == true)
        {
            await BaseDatos.UsuariosActualizar.Insertar.Ejecutar(usuarioId, "Steam");
        }
    }

    private async Task ProcesarGogCuenta(Usuario usuario, TimeSpan tiempoActualizar, string usuarioId)
    {
        if (string.IsNullOrEmpty(usuario.GogAccount) == true || usuario.GogAccountLastCheck == null)
        {
            return;
        }

        bool tiempoExcedido = usuario.GogAccountLastCheck + tiempoActualizar > DateTime.Now;

        if (tiempoExcedido == true)
        {
            await BaseDatos.UsuariosActualizar.Insertar.Ejecutar(usuarioId, "GOG");
        }
    }

    private async Task ProcesarPatreon(Usuario usuario, bool patreonActivo, string usuarioId)
    {
        if (patreonActivo == false)
        {
            return;
        }

        if (usuario.PatreonLastLogin == null)
        {
            await Task.WhenAll(
                BaseDatos.Usuarios.Actualizar.Opcion("PatreonLastLogin", DateTime.Now, usuarioId),
                BaseDatos.Usuarios.Actualizar.Opcion("PatreonCoins", 2, usuarioId),
                BaseDatos.Recompensas.Historial.Insertar(usuarioId, 2, "Daily", DateTime.Now)
            );
        }
        else
        {
            int monedasGanadas = usuario.PatreonContribution > 0 ? 2 : 2;
            int monedasLimite = usuario.PatreonContribution > 0 ? 120 : 20;

            if (usuario.PatreonCoins < monedasLimite && usuario.PatreonLastLogin?.DayOfYear != DateTime.Now.DayOfYear)
            {
                await Task.WhenAll(
                    BaseDatos.Usuarios.Actualizar.Opcion("PatreonLastLogin", DateTime.Now, usuarioId),
                    BaseDatos.Usuarios.Actualizar.Opcion("PatreonCoins", (int)usuario.PatreonCoins + monedasGanadas, usuarioId),
                    BaseDatos.Recompensas.Historial.Insertar(usuarioId, monedasGanadas, "Daily", DateTime.Now)
                );
            }
        }
    }
}