@page "/news/{id:int}/{nombreNoticia?}/"

@using Bundles2
@using Gratis2
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Microsoft.VisualBasic
@using Noticias
@using System.Net
@using pepeizqs_deals_web.Data
@using Suscripciones2
@using pepeizqs_deals_blazor_web.Componentes.Interfaz

@inject IHttpContextAccessor Contexto
@inject IJSRuntime JavaScript

@if (noticia != null)
{
	string texto2 = Herramientas.Idiomas.ElegirTexto(idioma, noticia.ContenidoEn, noticia.ContenidoEs);

	if (string.IsNullOrEmpty(texto2) == false)
	{
		if (texto2.Contains("</div>") == true)
		{
			int int1 = texto2.IndexOf("</div>");
			texto2 = texto2.Remove(int1, texto2.Length - int1);

			if (texto2.Contains("<div") == true)
			{
				int int2 = texto2.IndexOf(">");
				texto2 = texto2.Remove(0, int2 + 1);
			}
		}
		else
		{
			if (texto2.Contains("<") == true)
			{
				int int1 = texto2.IndexOf("<");
				texto2 = texto2.Remove(int1, texto2.Length - int1);
			}
		}
	}

	string descripcion = texto2;
	string descripcionJson = descripcion.Replace(Strings.ChrW(34).ToString(), null);

	string keywords = "news";

	if (string.IsNullOrEmpty(titulo) == false)
	{
		string[] keywordsEnBruto = Herramientas.Buscador.LimpiarNombre(titulo, false).Split(' ');
		List<string> keywordsLista = new List<string>();
		keywordsLista.AddRange(keywordsEnBruto);

		foreach (string keyword in keywordsLista)
		{
			if (keyword.Length > 3)
			{
				keywords = keywords + ", " + keyword;
			}
		}
	}

	string contenidoJson = @"{
        ""@context"": ""https://schema.org"",
		""@type"": ""NewsArticle"",
		""headline"": ""@tituloEn"",
		""image"": ""@imagen"",
        ""datePublished"": ""@fecha"",
        ""description"": ""@descripcion"",
		""author"": {
			""@type"": ""Person"",
			""name"": ""pepeizq"",
			""url"": ""https://pepeizqapps.com/"" },
		""isAccessibleForFree"": ""true""
	}";

	contenidoJson = contenidoJson.Replace("@tituloEn", noticia.TituloEn);
	contenidoJson = contenidoJson.Replace("@imagen", noticia.Imagen);
	contenidoJson = contenidoJson.Replace("@fecha", noticia.FechaEmpieza.ToString("yyyy-MM-ddTHH:mm:ss"));
	contenidoJson = contenidoJson.Replace("@descripcion", descripcionJson);

	<Titulo tipo="@Titulo.Tipo.Noticia" idioma="@idioma" dominio="@dominio" tituloNoticia="@titulo" descripcionNoticia="@descripcion" 
			enlaceEnNoticia="@enlaceIngles" enlaceEsNoticia="@enlaceEspañol" keywords="@keywords" contenidoJsonNoticia="@contenidoJson"/>
}

<script>
	window.ChangeUrl = function (url) {
		history.pushState(null, '', url);
	}
</script>

<script>
	window.clipboardCopy = {
		copyText: function(text) {
			navigator.clipboard.writeText(text);
		}
	};
</script>

@if (enseñarAlerta == true)
{
	<div style="width: fit-content; background-color: var(--fondoAlerta); color: var(--colorTexto); padding: 10px 15px; margin: 30px; top: var(--alturaCabecera); left: 0; position: fixed; z-index: 1001; border: 2px solid var(--fondoSubcabecera); box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);">
		<div style="display: flex; align-items: center; gap: 10px;">
			<div>
				@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Clipboard")
			</div>

			<button @onclick="CerrarAvisoClipboard" class="boton-pequeño" style="display: flex; padding: 0px; background-color: transparent; width: fit-content; box-shadow: none;">
				<div style="width: 20px; height: 20px;">
					<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
						<path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
					</svg>
				</div>
			</button>
		</div>
	</div>
}

<style>
	:root {
		--glaseadoBorde: #FFFFFF1A;
		--glaseadoFondo: rgba(41, 55, 81, 0.9);
		--botonSeleccionado: rgba(13, 22, 33, 0.75);
	}

	.caja-noticia {
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28),0px 0px 1px 0px rgba(0, 0, 0, 0.24);
		background-blend-mode: overlay;
		border-radius: 100px;
		border: 2px solid var(--glaseadoBorde);
		width: fit-content;
		background-color: var(--glaseadoFondo);
		backdrop-filter: blur(25px);
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 5px;
	}

	.caja-noticia-animacion {
		opacity: 0;
		transition: all 0.5s ease, transform .2s ease;
		pointer-events: none;
		transform: scaleX(0);
		transform-origin: left;
		max-width: 0;
	}

		.caja-noticia-animacion.visible {
			opacity: 1;
			pointer-events: auto;
			transform: scaleX(1);
			max-width: fit-content;
		}

	.boton-noticia {
		transition: backdrop-filter 0.2s ease;
	}

		.boton-noticia:hover {
			backdrop-filter: brightness(50%);
		}

	.caja-noticia-contenido {
		background-color: var(--fondoSubsubcabecera);
		border-left: 2px solid var(--glaseadoBorde);
		border-right: 2px solid var(--glaseadoBorde);
		padding: 40px;
	}

	.caja-noticia-titulo {
		background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
		font-size: 16px;
		padding: 20px 40px;
		border: 1px solid var(--fondoSubsubcabecera);
	}
</style>

@if (noticia != null)
{
	if (usuarioAdmin == true)
	{
		<pepeizqs_deals_blazor_web.Componentes.Admin.Noticia idioma="@idioma" dominio="@dominio" noticiaId="@noticia.Id" />
	}

	<img class="juego-fondo" src="@fondo" alt="Background" />

	<div class="cuerpo-ancho" style="background-color: var(--fondoSubcabecera); border: 2px solid var(--glaseadoBorde); border-top-left-radius: 20px; border-top-right-radius: 20px;">
		<div style="display: flex; align-items: center; gap: 30px; flex-wrap: nowrap; padding: 30px 40px;">
			@{
				string imagenIcono = string.Empty;

				if (noticia.NoticiaTipo == NoticiaTipo.Bundles)
				{
					imagenIcono = BundlesCargar.DevolverBundle(noticia.BundleTipo).ImagenIcono;
				}
				else if (noticia.NoticiaTipo == NoticiaTipo.Gratis)
				{
					imagenIcono = GratisCargar.DevolverGratis(noticia.GratisTipo).ImagenIcono;
				}
				else if (noticia.NoticiaTipo == NoticiaTipo.Suscripciones)
				{
					imagenIcono = SuscripcionesCargar.DevolverSuscripcion(noticia.SuscripcionTipo).ImagenIcono;
				}

				if (string.IsNullOrEmpty(imagenIcono) == false)
				{
					<div>
						<img src="@imagenIcono" style="max-width: 30px; max-height: 30px;" alt="Icon" />
					</div>
				}
			}

			<h1 style="font-size: 20px; margin: 0px; line-height: 30px;">
				@titulo
			</h1>

			<div style="margin-left: auto; display: flex; justify-content: right;">
				<div style="font-size: 18px;">
					@noticia.FechaEmpieza.ToString("d/M/yyyy")
				</div>
			</div>
		</div>
	</div>

	<div class="cuerpo-ancho">
		<div style="position: relative; display: flex; flex-direction: column; gap: 40px;">
			@if (noticia.NoticiaTipo == NoticiaTipo.Bundles)
			{
				if (noticia.BundleId > 0)
				{
					Bundles2.Bundle bundle = bundleCache;

					if (bundle != null)
					{
						<div style="position: relative; display: flex; flex-direction: column;">
							<Bundle bundleId="@bundle.Id" tipo="Bundle.Tipo.Noticia" />
						</div>
					}
				}
			}
			else if (noticia.NoticiaTipo == NoticiaTipo.Gratis)
			{
				string texto = Herramientas.Idiomas.ElegirTexto(idioma, noticia.ContenidoEn, noticia.ContenidoEs);

				if (string.IsNullOrEmpty(texto) == false)
				{
					if (texto.Contains("</div>") == true)
					{
						int int1 = texto.IndexOf("</div>");
						texto = texto.Remove(int1, texto.Length - int1);

						if (texto.Contains("<div") == true)
						{
							int int2 = texto.IndexOf(">");
							texto = texto.Remove(0, int2 + 1);
						}
					}
					else
					{
						if (texto.Contains("<") == true)
						{
							int int1 = texto.IndexOf("<");
							texto = texto.Remove(int1, texto.Length - int1);
						}
					}
				}

				@if (string.IsNullOrEmpty(noticia.GratisIds) == false)
				{
					if (juegosGratisCache?.Count > 0)
					{
						<div class="caja-noticia-contenido">
							<div>@texto</div>

							<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); gap: 30px; margin-top: 30px;">
								@foreach (var gratis in juegosGratisCache)
								{
									string imagen = gratis.Imagen;

									if (gratis.JuegoId > 0)
									{
										var juego = juegosCache1.TryGetValue(gratis.JuegoId, out var j) ? j : null;

										if (juego != null)
										{
											string enlaceJuego = Herramientas.EnlaceAcortador.Generar(gratis.Enlace, gratis.Tipo, usuarioPatreon, false);

											<CajaJuego drmNoticia="@gratis.DRM"
													  enlaceNoticia="@enlaceJuego"
													  idioma="@idioma"
													  juego="@juego"
													  juegosUsuario="@juegosUsuario"
													  usuarioDeseadosSteam="@deseadosUsuario?.SteamWishlist"
													  usuarioDeseadosWeb="@deseadosUsuario?.Wishlist"
													  usuarioDeseadosGog="@deseadosUsuario?.GogWishlist"
													  tipo="CajaJuego.Tipo.Noticia"
													  userAgent="@userAgent"
													  tipoGratis="@gratis.Tipo"/>
										}
									}
								}
							</div>
						</div>
					}
				}
			}
			else if (noticia.NoticiaTipo == NoticiaTipo.Suscripciones)
			{
				string texto = Herramientas.Idiomas.ElegirTexto(idioma, noticia.ContenidoEn, noticia.ContenidoEs);

				if (string.IsNullOrEmpty(texto) == false)
				{
					if (texto.Contains("</div>") == true)
					{
						int int1 = texto.IndexOf("</div>");
						texto = texto.Remove(int1, texto.Length - int1);

						if (texto.Contains("<div") == true)
						{
							int int2 = texto.IndexOf(">");
							texto = texto.Remove(0, int2 + 1);
						}
					}
					else
					{
						if (texto.Contains("<") == true)
						{
							int int1 = texto.IndexOf("<");
							texto = texto.Remove(int1, texto.Length - int1);
						}
					}
				}

				@if (string.IsNullOrEmpty(noticia.SuscripcionesIds) == false)
				{
					@if (juegosSuscripcionesCache?.Count > 0)
					{
						<div class="caja-noticia-contenido">
							<div>@texto</div>

							<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); gap: 30px; margin-top: 30px;">
								@foreach (var suscripcion in juegosSuscripcionesCache)
								{
									var juego = juegosCache2.TryGetValue(suscripcion.JuegoId, out var j) ? j : null;

									if (juego != null)
									{
										string enlaceJuego = Herramientas.EnlaceAcortador.Generar(suscripcion.Enlace, suscripcion.Tipo, usuarioPatreon, false);

										<CajaJuego drmNoticia="@suscripcion.DRM"
												   enlaceNoticia="@enlaceJuego"
												   idioma="@idioma"
												   juego="@juego"
												   juegosUsuario="@juegosUsuario"
												   usuarioDeseadosSteam="@deseadosUsuario?.SteamWishlist"
												   usuarioDeseadosWeb="@deseadosUsuario?.Wishlist"
												   usuarioDeseadosGog="@deseadosUsuario?.GogWishlist"
												   tipo="CajaJuego.Tipo.Noticia"
												   userAgent="@userAgent"
												   idSuscripcion="@suscripcion.Id"
												   tipoSuscripcion="@suscripcion.Tipo"/>
									}
								}
							</div>
						</div>
					}
				}
			}
			else
			{
				<div class="caja-noticia-contenido">
					@((MarkupString)Herramientas.Idiomas.ElegirTexto(idioma, noticia.ContenidoEn, noticia.ContenidoEs))
				</div>
			}
		</div>

		<div style="background-color: var(--fondoSubcabecera); border: 2px solid var(--glaseadoBorde); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; display: flex; align-items: center; gap: 15px; padding: 20px 40px; margin-bottom: 40px;">
			<div>
				@Herramientas.Idiomas.BuscarTexto(idioma, "String11", "News"):
			</div>

			@{
				string tituloAdaptado = WebUtility.UrlEncode(titulo);
				string enlaceAdaptado = "https://" + dominio + "/news/" + id.ToString() + "/";
			}

			<a href="https://x.com/intent/tweet?url=@enlaceAdaptado&text=@tituloAdaptado" target="_blank">
				<div style="width: 24px; height: 24px;">
					<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
						<path d="M453.2 112L523.8 112L369.6 288.2L551 528L409 528L297.7 382.6L170.5 528L99.8 528L264.7 339.5L90.8 112L236.4 112L336.9 244.9L453.2 112zM428.4 485.8L467.5 485.8L215.1 152L173.1 152L428.4 485.8z" />
					</svg>
				</div>
			</a>

			<a href="https://www.reddit.com/submit?url=@enlaceAdaptado&title=@tituloAdaptado" target="_blank">
				<div style="width: 24px; height: 24px;">
					<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
						<path d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576L101.1 576C87.4 576 80.6 559.5 90.2 549.8L139 501C92.7 454.7 64 390.7 64 320zM413.6 217.6C437.2 217.6 456.3 198.5 456.3 174.9C456.3 151.3 437.2 132.2 413.6 132.2C393 132.2 375.8 146.8 371.8 166.2C337.3 169.9 310.4 199.2 310.4 234.6L310.4 234.8C272.9 236.4 238.6 247.1 211.4 263.9C201.3 256.1 188.6 251.4 174.9 251.4C141.9 251.4 115.1 278.2 115.1 311.2C115.1 335.2 129.2 355.8 149.5 365.3C151.5 434.7 227.1 490.5 320.1 490.5C413.1 490.5 488.8 434.6 490.7 365.2C510.9 355.6 524.8 335 524.8 311.2C524.8 278.2 498 251.4 465 251.4C451.3 251.4 438.7 256 428.6 263.8C401.2 246.8 366.5 236.1 328.6 234.7L328.6 234.5C328.6 209.1 347.5 188 372 184.6C376.4 203.4 393.3 217.4 413.5 217.4L413.6 217.6zM241.1 310.9C257.8 310.9 270.6 328.5 269.6 350.2C268.6 371.9 256.1 379.8 239.3 379.8C222.5 379.8 207.9 371 208.9 349.3C209.9 327.6 224.3 311 241 311L241.1 310.9zM431.2 349.2C432.2 370.9 417.5 379.7 400.8 379.7C384.1 379.7 371.5 371.8 370.5 350.1C369.5 328.4 382.3 310.8 399 310.8C415.7 310.8 430.2 327.4 431.1 349.1L431.2 349.2zM383.1 405.9C372.8 430.5 348.5 447.8 320.1 447.8C291.7 447.8 267.4 430.5 257.1 405.9C255.9 403 257.9 399.7 261 399.4C279.4 397.5 299.3 396.5 320.1 396.5C340.9 396.5 360.8 397.5 379.2 399.4C382.3 399.7 384.3 403 383.1 405.9z" />
					</svg>
				</div>
			</a>

			<a href="https://t.me/share/url?url=@enlaceAdaptado&text=@tituloAdaptado" target="_blank">
				<div style="width: 24px; height: 24px;">
					<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
						<path d="M320 72C183 72 72 183 72 320C72 457 183 568 320 568C457 568 568 457 568 320C568 183 457 72 320 72zM435 240.7C431.3 279.9 415.1 375.1 406.9 419C403.4 437.6 396.6 443.8 390 444.4C375.6 445.7 364.7 434.9 350.7 425.7C328.9 411.4 316.5 402.5 295.4 388.5C270.9 372.4 286.8 363.5 300.7 349C304.4 345.2 367.8 287.5 369 282.3C369.2 281.6 369.3 279.2 367.8 277.9C366.3 276.6 364.2 277.1 362.7 277.4C360.5 277.9 325.6 300.9 258.1 346.5C248.2 353.3 239.2 356.6 231.2 356.4C222.3 356.2 205.3 351.4 192.6 347.3C177.1 342.3 164.7 339.6 165.8 331C166.4 326.5 172.5 322 184.2 317.3C256.5 285.8 304.7 265 328.8 255C397.7 226.4 412 221.4 421.3 221.2C423.4 221.2 427.9 221.7 430.9 224.1C432.9 225.8 434.1 228.2 434.4 230.8C434.9 234 435 237.3 434.8 240.6z" />
					</svg>
				</div>
			</a>

			<a href="mailto:?subject=@tituloAdaptado&body=@enlaceAdaptado" target="_blank">
				<div style="width: 24px; height: 24px;">
					<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
						<path d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z" />
					</svg>
				</div>
			</a>

			@if (juegosGratisCache?.Count > 0)
			{
				<div style="margin-left: auto; display: flex; align-items: center; gap: 15px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "News"):
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-news-clipboard')">
						<button @onclick="(e => CopiarAlClipboard(e, juegosGratisCache))" style="background: transparent; border: 0px;">
							<div style="width: 24px; height: 24px;">
								<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
									<path d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576L101.1 576C87.4 576 80.6 559.5 90.2 549.8L139 501C92.7 454.7 64 390.7 64 320zM413.6 217.6C437.2 217.6 456.3 198.5 456.3 174.9C456.3 151.3 437.2 132.2 413.6 132.2C393 132.2 375.8 146.8 371.8 166.2C337.3 169.9 310.4 199.2 310.4 234.6L310.4 234.8C272.9 236.4 238.6 247.1 211.4 263.9C201.3 256.1 188.6 251.4 174.9 251.4C141.9 251.4 115.1 278.2 115.1 311.2C115.1 335.2 129.2 355.8 149.5 365.3C151.5 434.7 227.1 490.5 320.1 490.5C413.1 490.5 488.8 434.6 490.7 365.2C510.9 355.6 524.8 335 524.8 311.2C524.8 278.2 498 251.4 465 251.4C451.3 251.4 438.7 256 428.6 263.8C401.2 246.8 366.5 236.1 328.6 234.7L328.6 234.5C328.6 209.1 347.5 188 372 184.6C376.4 203.4 393.3 217.4 413.5 217.4L413.6 217.6zM241.1 310.9C257.8 310.9 270.6 328.5 269.6 350.2C268.6 371.9 256.1 379.8 239.3 379.8C222.5 379.8 207.9 371 208.9 349.3C209.9 327.6 224.3 311 241 311L241.1 310.9zM431.2 349.2C432.2 370.9 417.5 379.7 400.8 379.7C384.1 379.7 371.5 371.8 370.5 350.1C369.5 328.4 382.3 310.8 399 310.8C415.7 310.8 430.2 327.4 431.1 349.1L431.2 349.2zM383.1 405.9C372.8 430.5 348.5 447.8 320.1 447.8C291.7 447.8 267.4 430.5 257.1 405.9C255.9 403 257.9 399.7 261 399.4C279.4 397.5 299.3 396.5 320.1 396.5C340.9 396.5 360.8 397.5 379.2 399.4C382.3 399.7 384.3 403 383.1 405.9z" />
								</svg>
							</div>
						</button>

						<div id="tooltip-news-clipboard" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								Reddit
							</div>
						</div>
					</div>
				</div>
			}

			@if (juegosSuscripcionesCache?.Count > 0)
			{
				<div style="margin-left: auto; display: flex; align-items: center; gap: 15px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "News"):
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-news-clipboard')">
						<button @onclick="(e => CopiarAlClipboard(e, juegosSuscripcionesCache))" style="background: transparent; border: 0px;">
							<div style="width: 24px; height: 24px;">
								<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
									<path d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576L101.1 576C87.4 576 80.6 559.5 90.2 549.8L139 501C92.7 454.7 64 390.7 64 320zM413.6 217.6C437.2 217.6 456.3 198.5 456.3 174.9C456.3 151.3 437.2 132.2 413.6 132.2C393 132.2 375.8 146.8 371.8 166.2C337.3 169.9 310.4 199.2 310.4 234.6L310.4 234.8C272.9 236.4 238.6 247.1 211.4 263.9C201.3 256.1 188.6 251.4 174.9 251.4C141.9 251.4 115.1 278.2 115.1 311.2C115.1 335.2 129.2 355.8 149.5 365.3C151.5 434.7 227.1 490.5 320.1 490.5C413.1 490.5 488.8 434.6 490.7 365.2C510.9 355.6 524.8 335 524.8 311.2C524.8 278.2 498 251.4 465 251.4C451.3 251.4 438.7 256 428.6 263.8C401.2 246.8 366.5 236.1 328.6 234.7L328.6 234.5C328.6 209.1 347.5 188 372 184.6C376.4 203.4 393.3 217.4 413.5 217.4L413.6 217.6zM241.1 310.9C257.8 310.9 270.6 328.5 269.6 350.2C268.6 371.9 256.1 379.8 239.3 379.8C222.5 379.8 207.9 371 208.9 349.3C209.9 327.6 224.3 311 241 311L241.1 310.9zM431.2 349.2C432.2 370.9 417.5 379.7 400.8 379.7C384.1 379.7 371.5 371.8 370.5 350.1C369.5 328.4 382.3 310.8 399 310.8C415.7 310.8 430.2 327.4 431.1 349.1L431.2 349.2zM383.1 405.9C372.8 430.5 348.5 447.8 320.1 447.8C291.7 447.8 267.4 430.5 257.1 405.9C255.9 403 257.9 399.7 261 399.4C279.4 397.5 299.3 396.5 320.1 396.5C340.9 396.5 360.8 397.5 379.2 399.4C382.3 399.7 384.3 403 383.1 405.9z" />
								</svg>
							</div>
						</button>

						<div id="tooltip-news-clipboard" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								Reddit
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	@if (noticiaAnterior != null || noticiaPosterior != null)
	{
		<div class="cuerpo-ancho" style="padding: 30px; display: flex; align-items: center; gap: 40px; background-color: var(--fondoSubsubcabecera); border: solid var(--glaseadoBorde); border-width: 2px 2px 0 2px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
			@if (noticiaAnterior?.Id > 0)
			{
				string enlaceAnterior = "/news/" + noticiaAnterior.Id + "/" + Herramientas.EnlaceAdaptador.Nombre(Herramientas.Idiomas.ElegirTexto(idioma, noticiaAnterior.TituloEn, noticiaAnterior.TituloEs)) + "/";

				<a href="@enlaceAnterior" @onclick="(e => AbrirNoticia(e, enlaceAnterior, false))" class="boton-pequeño" style="color: var(--colorTextoVisitado); background-color: var(--fondoBotonPequeño); border: 0px; padding: 12px 20px; text-decoration: none; width: 50%; display: flex; align-items: center; gap: 15px; justify-content: flex-end;">
					<div style="max-width: 16px;">
						<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
						</svg>
					</div>

					@Herramientas.Idiomas.ElegirTexto(idioma, noticiaAnterior.TituloEn, noticiaAnterior.TituloEs)
				</a>
			}

			@if (noticiaPosterior?.Id > 0)
			{
				string enlacePosterior = "/news/" + noticiaPosterior.Id + "/" + Herramientas.EnlaceAdaptador.Nombre(Herramientas.Idiomas.ElegirTexto(idioma, noticiaPosterior.TituloEn, noticiaPosterior.TituloEs)) + "/";

				<a href="@enlacePosterior" @onclick="(e => AbrirNoticia(e, enlacePosterior, false))" class="boton-pequeño" style="color: var(--colorTextoVisitado); background-color: var(--fondoBotonPequeño); border: 0px; padding: 12px 20px; text-decoration: none; width: 50%; display: flex; align-items: center; gap: 15px; justify-content: flex-end;">
					@Herramientas.Idiomas.ElegirTexto(idioma, noticiaPosterior.TituloEn, noticiaPosterior.TituloEs)

					<div style="max-width: 16px;">
						<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
						</svg>
					</div>
				</a>
			}
		</div>
	}
}

@code {

	#nullable disable

	private string idioma = "en";
	private string usuarioId = null;
	private string userAgent = null;
	private string dominio = null;

	[PersistentState] public Herramientas.UsuarioListadosJuegos juegosUsuario { get; set; }
	[PersistentState] public Usuario deseadosUsuario { get; set; }
	private bool usuarioPatreon = false;
	private bool usuarioAdmin = false;

	[SupplyParameterFromQuery]
	private string Language { get; set; }

	[SupplyParameterFromQuery]
	private string Source { get; set; }

	[Parameter]
	public int id { get; set; }

	[Parameter]
	public string nombreNoticia { get; set; }

	[Parameter]
	public bool cambiarEnlace { get; set; } = true;

	[Parameter]
	public Tipo tipo { get; set; } = Tipo.UltimasNoticias;

	[PersistentState] public Noticias.Noticia noticia { get; set; }
	[PersistentState] public Noticias.Noticia noticiaAnterior { get; set; }
	[PersistentState] public Noticias.Noticia noticiaPosterior { get; set; }

	private string titulo = string.Empty;
	private string enlaceIngles = string.Empty;
	private string enlaceEspañol = string.Empty;
	private string video = string.Empty;
	private string fondo = string.Empty;

	[PersistentState] public List<Juegos.Juego> juegos { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
		idioma = datos.Idioma;
		usuarioId = datos.UsuarioId;
		userAgent = datos.UserAgent;
		dominio = datos.Dominio;

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			idioma = await BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
			juegosUsuario ??= await Herramientas.UsuarioJuegos.Cargar(usuarioId);
			deseadosUsuario ??= await BaseDatos.Usuarios.Buscar.DeseadosTiene(usuarioId);
			usuarioPatreon = Herramientas.Patreon.VerificarActivo(await BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));
			usuarioAdmin = await BaseDatos.Usuarios.Buscar.RolDios(usuarioId);
		}

		if (id > 0)
		{
			noticia ??= await BaseDatos.Noticias.Buscar.UnaNoticia(id);

			if (noticia != null)
			{
				if (string.IsNullOrEmpty(Language) == false)
				{
					idioma = Language;
				}

				titulo = Herramientas.Idiomas.ElegirTexto(idioma, noticia.TituloEn, noticia.TituloEs);
				enlaceIngles = "https://" + dominio + "/news/" + id.ToString() + "/" + Herramientas.EnlaceAdaptador.Nombre(noticia.TituloEn) + "/";
				enlaceEspañol = "https://" + dominio + "/news/" + id.ToString() + "/" + Herramientas.EnlaceAdaptador.Nombre(noticia.TituloEs) + "/";

				juegos ??= await BaseDatos.Juegos.Buscar.MultiplesJuegos(Herramientas.Listados.Generar(noticia.Juegos));

				if (noticia.NoticiaTipo == NoticiaTipo.Suscripciones)
				{
					if (string.IsNullOrEmpty(Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(noticia.SuscripcionTipo).ImagenFondo) == false)
					{
						fondo = Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(noticia.SuscripcionTipo).ImagenFondo;
					}
				}

				if (juegos != null)
				{
					if (juegos?.Count == 1)
					{
						if (juegos[0].Media?.Videos?.Count > 0)
						{
							video = juegos[0].Media?.Videos[0].Enlace;
						}
					}

					if (string.IsNullOrEmpty(fondo) == true)
					{
						if (juegos?.Count > 0)
						{
							int analisis = 0;

							foreach (var juego in juegos)
							{
								if (juego.Analisis != null)
								{
									if (string.IsNullOrEmpty(juego.Analisis.Cantidad) == false)
									{
										string temp = juego.Analisis.Cantidad;
										temp = temp.Replace(",", null);
										int analisisJuego = int.Parse(temp);

										if (analisisJuego > analisis)
										{
											analisis = analisisJuego;
											fondo = juego.Imagenes.Library_1920x620;
										}
									}
								}
							}
						}
					}
				}

				noticiaAnterior ??= await BaseDatos.Noticias.Buscar.UnaNoticia(id - 1);
				noticiaPosterior ??= await BaseDatos.Noticias.Buscar.UnaNoticia(id + 1);
			}
		}
	}

	private Bundles2.Bundle bundleCache;

	private List<Juegos.JuegoGratis> juegosGratisCache = new();
    private Dictionary<int, Juegos.Juego> juegosCache1 = new();

	private List<Juegos.JuegoSuscripcion> juegosSuscripcionesCache = new();
	private Dictionary<int, Juegos.Juego> juegosCache2 = new();

	protected override async Task OnParametersSetAsync()
	{
		bundleCache = null;

		if (noticia.BundleId > 0)
		{
			bundleCache = await BaseDatos.Bundles.Buscar.UnBundle(noticia.BundleId);
		}

		juegosGratisCache.Clear();
		juegosCache1.Clear();

		if (!string.IsNullOrEmpty(noticia.GratisIds))
		{
			var ids = Herramientas.Listados.Generar(noticia.GratisIds);

			foreach (var id in ids)
			{
				var gratis = await BaseDatos.Gratis.Buscar.UnGratis(id);
				if (gratis != null)
				{
					juegosGratisCache.Add(gratis);

					if (gratis.JuegoId > 0 && !juegosCache1.ContainsKey(gratis.JuegoId))
					{
						var juego = await BaseDatos.Juegos.Buscar.UnJuego(gratis.JuegoId);
						juegosCache1[gratis.JuegoId] = juego;
					}
				}
			}
		}

		juegosSuscripcionesCache.Clear();
		juegosCache2.Clear();

		if (!string.IsNullOrEmpty(noticia.SuscripcionesIds))
		{
			var ids = Herramientas.Listados.Generar(noticia.SuscripcionesIds);

			foreach (var idStr in ids)
			{
				if (int.TryParse(idStr, out var id))
				{
					var suscripcion = await BaseDatos.Suscripciones.Buscar.Id(id);
					if (suscripcion != null)
					{
						juegosSuscripcionesCache.Add(suscripcion);

						if (!juegosCache2.ContainsKey(suscripcion.JuegoId))
						{
							var juego = await BaseDatos.Juegos.Buscar.UnJuego(suscripcion.JuegoId);
							juegosCache2[suscripcion.JuegoId] = juego;
						}
					}
				}
			}
		}
	}

	protected override async Task OnAfterRenderAsync(bool primerRender)
	{
		if (primerRender == true)
		{
			if (noticia != null && string.IsNullOrEmpty(nombreNoticia) == true)
			{
				if (cambiarEnlace == true)
				{
					string cambiarEnlace = enlaceIngles;

					if (idioma == "es")
					{
						cambiarEnlace = enlaceEspañol;
					}

					cambiarEnlace = cambiarEnlace.Replace("https://" + dominio, null);

					await JavaScript.InvokeVoidAsync("ChangeUrl", cambiarEnlace);
				}				
			}
		}
	}

	#region Abrir Noticia

	private async void AbrirNoticia(MouseEventArgs e, string enlace, bool nuevaVentana = true)
	{
		string comando = "_blank";

		if (nuevaVentana == false)
		{
			comando = "_self";
		}

		await JavaScript.InvokeVoidAsync("open", enlace, comando);
	}

	#endregion

	#region Portapapeles

	bool enseñarAlerta = false;
	private PeriodicTimer cronometro = null;
	private int cronometroContador = 0;
	private int cronometroLimite = 10;

	private async void CopiarAlClipboard(MouseEventArgs e, List<Juegos.JuegoGratis> juegosGratis)
	{
		CopiarAlClipboard(e, await Herramientas.RedesSociales.Reddit.Gratis(juegosGratis));
	}

	private async void CopiarAlClipboard(MouseEventArgs e, List<Juegos.JuegoSuscripcion> juegosSuscripciones)
	{
		CopiarAlClipboard(e, await Herramientas.RedesSociales.Reddit.Suscripciones(juegosSuscripciones));
	}

	private async void CopiarAlClipboard(MouseEventArgs e, string texto)
	{
		enseñarAlerta = true;
		await JavaScript.InvokeVoidAsync("clipboardCopy.copyText", texto);

		cronometroContador = 0;
		cronometro = new PeriodicTimer(TimeSpan.FromSeconds(1));

		while (await cronometro.WaitForNextTickAsync())
		{
			cronometroContador += 1;

			if (cronometroContador > cronometroLimite)
			{
				enseñarAlerta = false;
				cronometro.Dispose();
				await InvokeAsync(StateHasChanged);
			}
		}
	}

	private void CerrarAvisoClipboard()
	{
		enseñarAlerta = false;
		cronometroContador = 0;

		if (cronometro != null)
		{
			cronometro.Dispose();
		}
	}

	#endregion

	public enum Tipo
	{
		Portada,
		UltimasNoticias
	}
}
