@page "/streaming/"
@page "/streaming/{streamingSeleccionadoTexto}/"

@using Juegos
@using System.Text.Json
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto
@inject IJSRuntime JavaScript

@if (streamingSeleccionado != Streaming2.StreamingTipo.Desconocido)
{
    <Titulo tipo="@Titulo.Tipo.Streaming" idioma="@idioma" dominio="@dominio" tituloStreaming="@Streaming2.StreamingCargar.DevolverStreaming(streamingSeleccionado).Nombre" enlaceStreaming="@Herramientas.EnlaceAdaptador.Nombre(streamingSeleccionado.ToString().ToLower())" />
}
else
{
    <Titulo tipo="@Titulo.Tipo.Streaming" idioma="@idioma" dominio="@dominio" />
}

<script>
    window.ChangeUrl = function (url) {
        history.pushState(null, '', url);
    }
</script>

<style>
    .streaming-grid {
        gap: 30px;
    }

    .streaming-grid {
        padding: 30px;
        gap: 30px;
    }

    @@media (max-width: 800px) {
        .streaming-grid {
            gap: 15px;
        }

        .streaming-grid {
            padding: 15px;
            gap: 15px;
        }
    }
</style>

<style>
    .caja-streaming-contenido {
        background-color: var(--fondoSubsubcabecera);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }

    .caja-streaming-titulo {
        background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
        padding: 20px 30px;
        border: 1px solid var(--fondoSubsubcabecera);
    }
</style>

<div class="subcabecera">
    <div class="cuerpo-ancho sub-subcabecera">
        @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
        {
            <button class="boton-pequeño" style="@CambiarEstilo(Streaming2.StreamingTipo.Desconocido) width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none;" @onclick="@(e => StreamingAbrir(e, Streaming2.StreamingTipo.Desconocido))">
                <h1 style="font-size: 18px; margin: 0px; line-height: 24px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Streaming")
                </h1>
            </button>

            if (streamingSeleccionado == Streaming2.StreamingTipo.Desconocido)
            {
                foreach (var streaming in Streaming2.StreamingCargar.GenerarListado())
                {
                    if (streaming.Id != Streaming2.StreamingTipo.Desconocido)
                    {
                        <button class="boton-pequeño" style="@CambiarEstilo(streaming.Id) width: fit-content; padding: 8px 16px; border-radius: 5px; display: flex; align-items: center; box-shadow: none;" @onclick="@(e => StreamingAbrir(e, streaming.Id))" title="@streaming.Nombre">
                            <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(streaming.ImagenIcono)" style="width: 20px; height: 20px;" alt="Store" />
                        </button>
                    }
                }
            }
            else
            {
                var elegido = Streaming2.StreamingCargar.DevolverStreaming(streamingSeleccionado);

                <button class="boton-pequeño" style="@CambiarEstilo(streamingSeleccionado) width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none;" @onclick="@(e => StreamingAbrir(e, streamingSeleccionado))" title="@elegido.Nombre">
                    <div style="display: flex; align-items: center; gap: 15px;">
                        <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(elegido.ImagenIcono)" style="width: 20px; height: 20px;" alt="@elegido.Nombre" />

                        <div style="font-size: 16px;">
                            @elegido.Nombre
                        </div>
                    </div>
                </button>

                <div style="margin-left: auto; display: flex; align-items: center; gap: 20px;">
                    @if (string.IsNullOrEmpty(usuarioId) == false)
                    {
                        <div class="menu-dropdown" style="width: auto; flex: 0 0 auto;">
                            <button class="boton-pequeño" style="background-color: var(--buscadorSubcabecera); display: flex; align-items: center; width: 100%; padding: 8px 15px; margin: 0; border: 0px; color: var(--colorTextoVisitado);">
                                <div style="font-size: 14px; padding-right: 5px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Streaming")
                                </div>

                                <div style="font-size: 14px; color: var(--colorEnlace); padding-right: 15px;">
                                    @if (mostrar == 0)
                                    {
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Streaming")
                                    }
                                    else if (mostrar == 1)
                                    {
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Streaming")
                                    }
                                    else if (mostrar == 2)
                                    {
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Streaming")
                                    }
                                </div>

                                <div style="max-width: 10px;">
                                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
                                    </svg>
                                </div>
                            </button>

                            <div class="menu-dropdown-contenido" style="right: 0; width: 100%; background-color: var(--buscadorSubcabecera); z-index: 1001;">
                                <button @onclick="@(e => Mostrar(e, 0))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Streaming")
                                </button>
                                <button @onclick="@(e => Mostrar(e, 1))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Streaming")
                                </button>
                                <button @onclick="@(e => Mostrar(e, 2))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Streaming")
                                </button>
                            </div>
                        </div>
                    }

                    <div class="menu-dropdown" style="width: auto; flex: 0 0 auto;">
                        <button class="boton-pequeño" style="background-color: var(--buscadorSubcabecera); display: flex; align-items: center; width: 100%; padding: 8px 15px; margin: 0; border: 0px; color: var(--colorTextoVisitado);">
                            <div style="font-size: 14px; padding-right: 5px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Streaming")
                            </div>

                            <div style="font-size: 14px; color: var(--colorEnlace); padding-right: 15px;">
                                @if (ordenarPor == 0)
                                {
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Streaming")
                                }
                                else if (ordenarPor == 1)
                                {
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Streaming")
                                }
                                else if (ordenarPor == 2)
                                {
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Streaming")
                                }
                            </div>

                            <div style="max-width: 10px;">
                                <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                    <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
                                </svg>
                            </div>
                        </button>

                        <div class="menu-dropdown-contenido" style="right: 0; width: 100%; background-color: var(--buscadorSubcabecera); z-index: 1001;">
                            <button @onclick="@(e => OrdenarPor(e, 0))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Streaming")
                            </button>
                            <button @onclick="@(e => OrdenarPor(e, 1))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Streaming")
                            </button>
                            <button @onclick="@(e => OrdenarPor(e, 2))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Streaming")
                            </button>
                        </div>
                    </div>

                    <div style="background-color: var(--buscadorSubcabecera); padding-right: 10px; display: flex; align-items: center; gap: 10px;">
						<input type="text" @bind-value="textoBuscador" @bind-value:event="oninput" @bind-value:after="TextoCambiaBuscador" class="entrada-texto" style="background-color: transparent; min-width: 50%; font-size: 14px; padding: 8px 10px;" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Streaming")" />

						<div style="max-width: 16px;">
							<svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
							</svg>
						</div>
					</div>
                </div>
            }          
        }
        else
        {
            <h1 style="font-size: 18px; margin: 0px;">
                @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Streaming")
            </h1>
        }
    </div>
</div>

@if (streamingSeleccionado == Streaming2.StreamingTipo.Desconocido)
{
    <div class="cuerpo-ancho" style="margin-top: 40px; margin-bottom: 40px; display: flex; flex-direction: column; gap: 30px;">
        <div class="caja-streaming-contenido" style="padding: 30px; display: flex; align-items: center; gap: 30px;">
            <div style="min-width: 30px; height: 30px;">
                <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                    <path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
                </svg>
            </div>

            <div>
                @Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Streaming")
            </div>
        </div>

        <div class="streaming-grid caja-streaming-contenido" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; padding: 30px;">
            @foreach (var streaming in Streaming2.StreamingCargar.GenerarListado())
            {
                <button @onclick="@(e => StreamingAbrir(e, streaming.Id))" class="boton-pequeño suscripcion-grid" style="display: flex; flex-direction: column; align-items: center; padding: 20px;">
                    <div style="width: 220px; height: 50px; display: flex; justify-content: center;">
                        <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(streaming.ImagenLogo, 200, 50)" alt="@streaming.Nombre" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
                    </div>
                </button>
            }
        </div>
    </div>
}
else
{
    <div class="cuerpo-ancho" style="margin-top: 40px; margin-bottom: 40px;">
        <div class="caja-streaming-contenido" style="padding: 10px 15px; display: flex; flex-direction: column; gap: 10px;">
            @if (juegos?.Count > 0)
            {
                <Virtualize Context="juego" Items="@juegos">
                    <a class="boton-pequeño" style="padding: 0px;" href="/game/@juego.Id.ToString()/@Herramientas.EnlaceAdaptador.Nombre(juego.Nombre)/" target="_self">
                        <div style="width: 100%; display: flex; align-items: center; gap: 20px;">
                            <div style="width: 115px; height: 43px;">
                                <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(juego.Imagenes.Capsule_231x87)" style="max-width: 100%; height: 100%;" alt="@juego.Nombre" />
                            </div>

                            <div>
                                @juego.Nombre
                            </div>

                            @if (juego.DRMs2?.Count > 0)
                            {
                                <div style="margin-left: auto; margin-right: 10px; display: flex; align-items: center; gap: 5px;">
                                    @foreach (var drm in juego.DRMs2)
                                    {
                                        string fondoColor = string.Empty;

                                        if (drm.UsuarioTiene == true)
                                        {
                                            fondoColor = "background-color: var(--fondoBien);";
                                        }

                                        <div style="padding: 5px; @fondoColor">
                                            <img src="@JuegoDRM2.SacarImagen(drm.DRM)" style="width: 20px; height: 20px;" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </a>
                </Virtualize>
            }
        </div>
    </div>
}

@code {

    #nullable disable

    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string dominio = null;

    [PersistentState] public Herramientas.UsuarioListadosJuegos juegosUsuario { get; set; }
    [PersistentState] public Usuario deseadosUsuario { get; set; }

    [Parameter] public string streamingSeleccionadoTexto { get; set; }
    public Streaming2.StreamingTipo streamingSeleccionado { get; set; } = Streaming2.StreamingTipo.Desconocido;

    [PersistentState] public List<JuegoStreaming> juegos { get; set; }
    public int ordenarPor { get; set; } = 0;
    public int mostrar { get; set; } = 0;
    public string textoBuscador { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
        idioma = datos.Idioma;
        usuarioId = datos.UsuarioId;
        userAgent = datos.UserAgent;
        dominio = datos.Dominio;

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            idioma = await BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
            juegosUsuario ??= await Herramientas.UsuarioJuegos.Cargar(usuarioId);
            deseadosUsuario ??= await BaseDatos.Usuarios.Buscar.DeseadosTiene(usuarioId);
        }

        if (string.IsNullOrEmpty(streamingSeleccionadoTexto) == false)
        {
            foreach (var streaming in Streaming2.StreamingCargar.GenerarListado())
            {
                if (streaming.Id != Streaming2.StreamingTipo.Desconocido)
                {
                    if (Herramientas.EnlaceAdaptador.Nombre(streaming.Id.ToString().ToLower()) == streamingSeleccionadoTexto)
                    {
                        streamingSeleccionado = streaming.Id;
                        break;
                    }
                }
            }

            if (streamingSeleccionado != Streaming2.StreamingTipo.Desconocido)
            {
                await StreamingAbrir(streamingSeleccionado);
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool primerRender)
    {
        if (primerRender == true)
        {
            if (streamingSeleccionado != Streaming2.StreamingTipo.Desconocido)
            {
                await CambiarEnlace(streamingSeleccionado);
            }
        }
    }

    private async Task StreamingAbrir(MouseEventArgs e, Streaming2.StreamingTipo streaming)
    {
        streamingSeleccionado = streaming;

        if (streaming != Streaming2.StreamingTipo.Desconocido)
        {
            await CambiarEnlace(streaming);
            await StreamingAbrir(streaming);
        }
        else
        {
            await JavaScript.InvokeVoidAsync("ChangeUrl", "/streaming/"); 
        }
    }

    private async Task StreamingAbrir(Streaming2.StreamingTipo streaming)
    {
        streamingSeleccionado = streaming;

        juegos = await BaseDatos.Streaming.Buscar.BuscarJuegos("streaming" + Herramientas.EnlaceAdaptador.Nombre(streaming.ToString().ToLower()), ordenarPor, textoBuscador);

        if (juegos?.Count > 0)
        {
            foreach (var juego in juegos)
            {
                if (juego.DRMs.Contains("[") == true && juego.DRMs.Contains("]") == true)
                {
                    List<string> drms = JsonSerializer.Deserialize<List<string>>(juego?.DRMs ?? "") ?? new List<string>();

                    if (drms?.Count > 0)
                    {
                        foreach (var drm in drms)
                        {
                            JuegoStreamingDRM nuevoDRM = new JuegoStreamingDRM();
                            nuevoDRM.DRM = JuegoDRM2.Traducir(drm);

                            if (nuevoDRM.DRM != JuegoDRM.NoEspecificado)
                            {
                                if (juego.DRMs2 == null)
                                {
                                    juego.DRMs2 = new List<JuegoStreamingDRM>();
                                }

                                if (string.IsNullOrEmpty(usuarioId) == false)
                                {
                                    Juegos.Juego nuevoJuego = new Juegos.Juego();
                                    nuevoJuego.IdSteam = juego.IdSteam;
                                    nuevoJuego.IdGog = juego.IdGog;

                                    bool usuarioTieneJuego = Herramientas.UsuarioJuegos.ComprobarSiTiene(juegosUsuario, nuevoJuego, nuevoDRM.DRM);

                                    nuevoDRM.UsuarioTiene = usuarioTieneJuego;
                                }

                                juego.DRMs2.Add(nuevoDRM);
                            }
                        }
                    }
                }
                else
                {
                    if (juego.DRMs2 == null)
                    {
                        juego.DRMs2 = new List<JuegoStreamingDRM>();
                    }

                    JuegoStreamingDRM nuevoDRM = new JuegoStreamingDRM();
                    nuevoDRM.DRM = JuegoDRM2.Traducir(juego.DRMs);

                    if (nuevoDRM.DRM != JuegoDRM.NoEspecificado)
                    {
                        if (string.IsNullOrEmpty(usuarioId) == false)
                        {
                            Juegos.Juego nuevoJuego = new Juegos.Juego();
                            nuevoJuego.IdSteam = juego.IdSteam;
                            nuevoJuego.IdGog = juego.IdGog;

                            bool usuarioTieneJuego = Herramientas.UsuarioJuegos.ComprobarSiTiene(juegosUsuario, nuevoJuego, nuevoDRM.DRM);

                            nuevoDRM.UsuarioTiene = usuarioTieneJuego;
                        }

                        juego.DRMs2.Add(nuevoDRM);
                    }
                }
            }

            juegos = juegos.GroupBy(j => j.Id).Select(grupo =>
            {
                var juegoBase = grupo.First();

                juegoBase.DRMs2 = grupo
                    .Where(j => j.DRMs2 != null)
                    .SelectMany(j => j.DRMs2)
                    .GroupBy(d => d.DRM)
                    .Select(g => g.First())
                    .ToList();

                return juegoBase;
            }).ToList();

            if (mostrar == 1)
            {
                juegos = juegos
                    .Where(j => j.DRMs2 != null && j.DRMs2.Any(d => d.UsuarioTiene))
                    .ToList();
            }
            else if (mostrar == 2)
            {
                juegos = juegos
                    .Where(j => j.DRMs2 != null && j.DRMs2.All(d => d.UsuarioTiene == false))
                    .ToList();
            }
        }
    }

    private async Task CambiarEnlace(Streaming2.StreamingTipo streaming)
    {
        await JavaScript.InvokeVoidAsync("ChangeUrl", $"/streaming/{Herramientas.EnlaceAdaptador.Nombre(streaming.ToString().ToLower())}/");
    }

    private string CambiarEstilo(Streaming2.StreamingTipo nuevoTipo)
    {
        if (nuevoTipo != streamingSeleccionado)
        {
            return "background-color: transparent;";
        }
        else
        {
            return "background-color: var(--botonSubcabecera); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25),0px 0px 1px 0px rgba(0, 0, 0, 0.25);";
        }
    }

    private async Task OrdenarPor(MouseEventArgs e, int nuevoOrdenar)
    {
        ordenarPor = nuevoOrdenar;

        await StreamingAbrir(streamingSeleccionado);
    }

    private async Task Mostrar(MouseEventArgs e, int nuevoMostrar)
    {
        mostrar = nuevoMostrar;

        await StreamingAbrir(streamingSeleccionado);
    }

    private async Task TextoCambiaBuscador()
    {
        await StreamingAbrir(streamingSeleccionado);
    }
}
