@page "/subscriptions/"
@page "/subscriptions/{suscripcionSeleccionadaTexto}/"

@using APIs.Steam
@using Juegos
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Identity
@using Microsoft.VisualBasic
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_web.Data
@using System.Text.Json

@inject IHttpContextAccessor Contexto
@inject IJSRuntime JavaScript

@if (mostrarArchivo == false && mostrarUltimas == false)
{
    if (suscripcionSeleccionada != Suscripciones2.SuscripcionTipo.Desconocido)
    {
        <Titulo tipo="@Titulo.Tipo.Suscripciones" idioma="@idioma" dominio="@dominio" tituloSuscripciones="@Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionada).Nombre" enlaceSuscripciones="@Herramientas.EnlaceAdaptador.Nombre(suscripcionSeleccionada.ToString().ToLower())" />
    }
    else
    {
        <Titulo tipo="@Titulo.Tipo.Suscripciones" idioma="@idioma" dominio="@dominio" />
    }
}
else
{
    if (mostrarArchivo == true)
    {
        <Titulo tipo="@Titulo.Tipo.Suscripciones" idioma="@idioma" dominio="@dominio" tituloSuscripciones="@(Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Subscriptions") + " (" + Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Subscriptions") + ")")" enlaceSuscripciones="archive" />
    }

    if (mostrarUltimas == true)
    {
        <Titulo tipo="@Titulo.Tipo.Suscripciones" idioma="@idioma" dominio="@dominio" tituloSuscripciones="@(Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Subscriptions") + " (" + Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Subscriptions") + ")")" enlaceSuscripciones="last-added" />
    }
}

<script>
    function moverScroll(id) {
        const yOffset = -90;
        const element = document.getElementById(id);
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

        window.scrollTo({ top: y, behavior: 'smooth' });
    }
</script>

<script>
    window.ChangeUrl = function (url) {
        history.pushState(null, '', url);
    }
</script>

<style>
    .suscripciones-grid {
        gap: 30px;
    }

    .suscripcion-grid {
        padding: 30px;
        gap: 30px;
    }

    @@media (max-width: 800px) {
        .suscripciones-grid {
            gap: 15px;
        }

        .suscripcion-grid {
            padding: 15px;
            gap: 15px;
        }
    }
</style>

<style>
    .caja-suscripciones-contenido {
        background-color: var(--fondoSubsubcabecera);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }

    .caja-suscripciones-titulo {
        background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
        padding: 20px 30px;
        border: 1px solid var(--fondoSubsubcabecera);
    }
</style>

<div class="subcabecera">
    <div class="cuerpo-ancho sub-subcabecera">
        @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
        {
            <button class="boton-pequeño" style="@CambiarEstilo(Suscripciones2.SuscripcionTipo.Desconocido) width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none;" @onclick="@(e => SuscripcionAbrir(e, Suscripciones2.SuscripcionTipo.Desconocido))">
                <h1 style="font-size: 18px; margin: 0px; line-height: 24px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Subscriptions")
                </h1>
            </button>

            if (mostrarArchivo == false && mostrarUltimas == false)
            {
                if (suscripcionSeleccionada == Suscripciones2.SuscripcionTipo.Desconocido)
                {
                    foreach (var suscripcion in Suscripciones2.SuscripcionesCargar.GenerarListado())
                    {
                        if (suscripcion.UsuarioPuedeAbrir == true && suscripcion.Id != Suscripciones2.SuscripcionTipo.Desconocido)
                        {
                            <button class="boton-pequeño" style="@CambiarEstilo(suscripcion.Id) width: fit-content; padding: 8px 16px; border-radius: 5px; display: flex; align-items: center; box-shadow: none;" @onclick="@(e => SuscripcionAbrir(e, suscripcion.Id))" title="@suscripcion.Nombre">
                                <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(suscripcion.ImagenIcono)" style="width: 20px; height: 20px;" alt="@suscripcion.Nombre" />
                            </button>
                        }
                    }

                    <div style="margin-left: auto; display: flex; justify-content: right; align-items: center; gap: 20px;">
                        <button class="boton-pequeño" style="background-color: transparent; width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none;" @onclick="@(e => CargarUltimas(e))">
                            <div style="font-size: 16px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Subscriptions")
                            </div>
                        </button>

                        <button class="boton-pequeño" style="background-color: transparent; width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none;" @onclick="@(e => CargarArchivo(e))">
                            <div style="font-size: 16px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Subscriptions")
                            </div>
                        </button>
                    </div>
                }
                else
                {
                    var elegido = Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionada);

                    <button class="boton-pequeño" style="@CambiarEstilo(suscripcionSeleccionada) width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none;" @onclick="@(e => SuscripcionAbrir(e, suscripcionSeleccionada))" title="@elegido.Nombre">
                        <div style="display: flex; align-items: center; gap: 15px;">
                            <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(elegido.ImagenIcono)" style="width: 20px; height: 20px;" alt="@elegido.Nombre" />

                            <div style="font-size: 16px;">
                                @elegido.Nombre
                            </div>
                        </div>
                    </button>

                    if (elegido.Precio > 0)
                    {
                        <div style="font-size: 15px; padding: 8px 20px;">
                            @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Subscriptions"), Herramientas.Precios.Euro((decimal)elegido.Precio))
                        </div>
                    }

                    <div style="margin-left: auto; display: flex; justify-content: right; align-items: center; gap: 20px;">
                        <div class="menu-dropdown" style="width: auto; flex: 0 0 auto;">
                            <button class="boton-pequeño" style="background-color: var(--buscadorSubcabecera); display: flex; align-items: center; width: 100%; padding: 8px 15px; margin: 0; border: 0px; color: var(--colorTextoVisitado);">
                                <div style="font-size: 14px; padding-right: 5px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String15", "Subscriptions")
                                </div>

                                <div style="font-size: 14px; color: var(--colorEnlace); padding-right: 15px;">
                                    @if (ordenarPor == 0)
                                    {
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String16", "Subscriptions")
                                    }
                                    else if (ordenarPor == 1)
                                    {
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String17", "Subscriptions")
                                    }
                                    else if (ordenarPor == 2)
                                    {
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String18", "Subscriptions")
                                    }
                                </div>

                                <div style="max-width: 10px;">
                                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
                                    </svg>
                                </div>
                            </button>

                            <div class="menu-dropdown-contenido" style="right: 0; width: 100%; background-color: var(--buscadorSubcabecera); z-index: 1001;">
                                <button @onclick="@(e => OrdenarPor(e, 0))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String16", "Subscriptions")
                                </button>
                                <button @onclick="@(e => OrdenarPor(e, 1))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String17", "Subscriptions")
                                </button>
                                <button @onclick="@(e => OrdenarPor(e, 2))" class="texto-cabecera menu-dropdown-item" style="font-size: 14px; text-align: right; width: 100%; border: 0px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "String18", "Subscriptions")
                                </button>
                            </div>
                        </div>
                    
                        <div style="background-color: var(--buscadorSubcabecera); padding-right: 10px; display: flex; align-items: center; gap: 10px;">
                            <input type="text" @bind-value="textoBuscador" @bind-value:event="oninput" @bind-value:after="TextoCambiaBuscador" class="entrada-texto" style="background-color: transparent; min-width: 50%; font-size: 14px; padding: 8px 10px;" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "Subscriptions")" />

                            <div style="max-width: 16px;">
                                <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                if (mostrarArchivo == true)
                {
                    <div class="boton-pequeño" style="font-size: 16px; width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none; background-color: var(--botonSubcabecera);">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Subscriptions")
                    </div>
                }

                if (mostrarUltimas == true)
                {
                    <div class="boton-pequeño" style="font-size: 16px; width: fit-content; padding: 8px 20px; border-radius: 5px; box-shadow: none; background-color: var(--botonSubcabecera);">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Subscriptions")
                    </div>
                }
            }
        }
        else
        {
            <h1 style="font-size: 18px; margin: 0px;">
                @Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Subscriptions")
            </h1>
        }
    </div>
</div>

@if (mostrarArchivo == false)
{
    if (mostrarUltimas == false)
    {
        if (suscripcionSeleccionada == Suscripciones2.SuscripcionTipo.Desconocido)
        {
            <div class="cuerpo-ancho" style="margin-top: 40px; margin-bottom: 40px; display: flex; flex-direction: column; gap: 30px;">
                <div class="caja-suscripciones-contenido" style="display: flex; align-items: center; padding: 30px; gap: 30px;">
                    <div style="min-width: 30px; height: 30px;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
                        </svg>
                    </div>

                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Subscriptions")
                    </div>
                </div>

                <div class="suscripciones-grid caja-suscripciones-contenido" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; padding: 30px;">
                    @foreach (var suscripcion in Suscripciones2.SuscripcionesCargar.GenerarListado())
                    {
                        if (suscripcion.UsuarioPuedeAbrir == true && suscripcion.Id != Suscripciones2.SuscripcionTipo.Desconocido)
                        {
                            <button @onclick="@(e => SuscripcionAbrir(e, suscripcion.Id))" class="boton-pequeño suscripcion-grid" style="display: flex; align-items: center; gap: 20px; justify-content: space-evenly;">
                                <div style="width: 200px; height: 70px; display: flex; justify-content: center;">
                                    <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(suscripcion.ImagenLogo, 200, 70)" alt="@suscripcion.Nombre" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
                                </div>

                                @if (suscripcion.Precio > 0)
                                {
                                    <div style="font-size: 18px;">
                                        @Herramientas.Precios.Euro((decimal)suscripcion.Precio)
                                    </div>
                                }
                            </button>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            var elegido = Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionada);

            <div class="cuerpo-ancho" style="display: flex; flex-direction: column;">
                @if (elegido.UsuarioEnlacesEspecificos == false)
                {
                    <div style="position: sticky; top: var(--alturaCabecera); z-index: 1000;">
                        <a href="@Herramientas.EnlaceAcortador.Generar(elegido.Enlace, elegido.Id, usuarioPatreon, false)" class="boton-pequeño" style="text-align: center; padding: 15px 20px; font-size: 20px; border: 1px solid rgba(0,255,255,0.15);" target="_blank">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Subscriptions")
                        </a>
                    </div>
                }

                @if (elegido.SoloStreaming == true)
                {
                    <div class="caja-suscripciones-contenido" style="margin-top: 40px; padding: 30px; display: flex; align-items: center; gap: 30px;">
                        <div style="width: 30px; height: 30px;">
                            <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
                            </svg>
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Subscriptions")
                        </div>
                    </div>
                }

                <div class="caja-suscripciones-contenido" style="margin: 40px 0px; padding: 30px; display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 30px;">
                    @if (juegosActuales?.Count > 0)
                    {
                        foreach (var juego in juegosActuales)
                        {
                            string enlaceSuscripcion = Herramientas.EnlaceAcortador.Generar(juego.Enlace, juego.Tipo, usuarioPatreon, false);

                            if (elegido.UsuarioEnlacesEspecificos == false)
                            {
                                enlaceSuscripcion = Herramientas.EnlaceAcortador.Generar(elegido.Enlace, elegido.Id, usuarioPatreon, false);
                            }

                            <CajaJuego idSuscripcion="@juego.Id" tipoSuscripcion="@elegido.Id" enlaceSuscripcion="@enlaceSuscripcion" drmSuscripcion="@juego.DRM" idioma="@idioma" juego="@juego.Juego" juegosUsuario="@juegosUsuario" usuarioDeseadosSteam="@deseadosUsuario?.SteamWishlist" usuarioDeseadosWeb="@deseadosUsuario?.Wishlist" usuarioDeseadosGog="@deseadosUsuario?.GogWishlist" tipo="CajaJuego.Tipo.Suscripciones" userAgent="@userAgent" />
                        }
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="cuerpo-ancho" style="margin-top: 40px; margin-bottom: 40px; display: flex; flex-direction: column; gap: 30px;">
            @if (suscripcionesUltimas?.Count > 0)
            {
                var gruposPorDia = suscripcionesUltimas.GroupBy(x => x.FechaEmpieza.Date).OrderByDescending(g => g.Key).Select(g => new
                {
                    Fecha = g.Key,
                    GruposPorElegido = g.Select(j => new
                                        {
                                            Juego = j,
                                            Elegido = Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(j.Tipo)
                                        })
                                        .OrderBy(x => x.Elegido.Nombre)
                                        .GroupBy(x => x.Elegido.Id)
                                        .Select(eg => new
                                        {
                                            Elegido = eg.First().Elegido,
                                            Juegos = eg
                                        .Select(x => x.Juego)
                                        .OrderBy(x => x.Juego.Nombre)
                                        .ToList()}).ToList()}).ToList();

                foreach (var grupo in gruposPorDia)
                {
                    DateTime dia = grupo.Fecha; 

                    <div class="caja-suscripciones-contenido">
                        <div class="caja-suscripciones-titulo" style="display: flex; align-items: center; gap: 5px;">
                            <div style="font-size: 18px;">
                                @dia.Day.ToString()/@dia.Month.ToString()/@dia.Year.ToString()
                            </div>

                            <div>
                                - @Herramientas.Calculadora.DiferenciaTiempo(dia, idioma)
                            </div>
                        </div>

                        <div style="padding: 30px; display: flex; flex-direction: column; gap: 40px;">
                            @foreach (var grupoElegido in grupo.GruposPorElegido)
                            {
                                <div>
                                    <div style="display: flex; align-items: center; gap: 15px;">
                                        <div>
                                            <img src="@grupoElegido.Elegido.ImagenIcono" style="width: 24px; height: 24px;"/>
                                        </div>

                                        <div>
                                            @grupoElegido.Elegido.Nombre
                                        </div>
                                    </div>
                                    
                                    <hr />

                                    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 30px;">
                                        @foreach (var juego in grupoElegido.Juegos)
                                        {
                                            var elegido = Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(juego.Tipo);
                                            string enlaceSuscripcion = Herramientas.EnlaceAcortador.Generar(juego.Enlace, juego.Tipo, usuarioPatreon, false);

                                            if (elegido.UsuarioEnlacesEspecificos == false)
                                            {
                                                enlaceSuscripcion = Herramientas.EnlaceAcortador.Generar(elegido.Enlace, elegido.Id, usuarioPatreon, false);
                                            }

                                            <CajaJuego idSuscripcion="@juego.Id" tipoSuscripcion="@elegido.Id" enlaceSuscripcion="@enlaceSuscripcion" drmSuscripcion="@juego.DRM" idioma="@idioma" juego="@juego.Juego" juegosUsuario="@juegosUsuario" usuarioDeseadosSteam="@deseadosUsuario?.SteamWishlist" usuarioDeseadosWeb="@deseadosUsuario?.Wishlist" usuarioDeseadosGog="@deseadosUsuario?.GogWishlist" tipo="CajaJuego.Tipo.Suscripciones" userAgent="@userAgent" />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                @Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Subscriptions")
            }
        </div>
    }
}
else
{
    <div class="caja-suscripciones-contenido cuerpo-ancho" style="margin-top: 40px; margin-bottom: 40px; padding: 20px;">
        <div style="display: flex; align-items: start; gap: 15px; flex-wrap: wrap;">
            @foreach (var año in años)
            {
                <div>
                    <button @onclick="@(e => CambiarAño(e, año))" class="boton-pequeño" style="padding: 6px 10px; width: fit-content;">
                        @año
                    </button>

                    @if (añoSeleccionado == año)
                    {
                        <div style="background: var(--colorTexto); padding: 2px;" />
                    }
                </div>
            }
        </div>

        @if (string.IsNullOrEmpty(añoSeleccionado) == false)
        {
            <hr />

            <div style="display: flex; align-items: center; gap: 15px; flex-wrap: wrap;">
                <div style="padding: 6px 10px;">
                    @añoSeleccionado:
                </div>

                @foreach (var suscripcionPasada in suscripcionesPasadas)
                {
                    List<Juegos.JuegoSuscripcion> suscripcionAño = new List<Juegos.JuegoSuscripcion>();

                    foreach (var juego in suscripcionPasada.Juegos)
                    {
                        if (juego.FechaEmpieza.Year.ToString() == añoSeleccionado)
                        {
                            suscripcionAño.Add(juego);
                        }
                    }

                    if (suscripcionAño.Count > 0)
                    {
                        <div>
                            <a onclick="moverScroll('pasado-@suscripcionPasada.Tipo.Id.ToString()')" class="boton-pequeño" style="color: var(--colorTexto); text-decoration: none; cursor: pointer; padding: 6px 10px;">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <img src="@suscripcionPasada.Tipo.ImagenIcono" style="width: 22px; height: 22px;" alt="@suscripcionPasada.Tipo.Nombre" />

                                    <div style="font-size: 14px;">
                                        @suscripcionAño.Count.ToString()
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        }
    </div>

    @if (string.IsNullOrEmpty(añoSeleccionado) == false)
    {
        <div class="cuerpo-ancho" style="display: flex; flex-direction: column; gap: 40px; margin-top: 40px; margin-bottom: 40px;">
            @foreach (var suscripcionPasada in suscripcionesPasadas)
            {
                List<Juegos.JuegoSuscripcion> suscripcionesAño = new List<Juegos.JuegoSuscripcion>();

                foreach (var juego in suscripcionPasada.Juegos)
                {
                    if (juego.FechaEmpieza.Year.ToString() == añoSeleccionado)
                    {
                        suscripcionesAño.Add(juego);
                    }
                }

                if (suscripcionesAño.Count > 0)
                {
                    <div class="caja-suscripciones-contenido">
                        <div id="pasado-@suscripcionPasada.Tipo.Id.ToString()" class="caja-suscripciones-titulo">
                            <img src="@suscripcionPasada.Tipo.ImagenLogo" alt="@suscripcionPasada.Tipo.Nombre" style="max-width: 150px; max-height: 70px; object-fit: contain;" />
                        </div>

                        <div style="padding: 30px; display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; justify-content: flex-start;">
                            @{
                                int i = 1;
                                while (i < 13)
                                {
                                    List<Juegos.JuegoSuscripcion> suscripcionesMensual = new List<Juegos.JuegoSuscripcion>();

                                    foreach (var juego in suscripcionesAño)
                                    {
                                        if (juego.FechaEmpieza.Month == i)
                                        {
                                            suscripcionesMensual.Add(juego);
                                        }
                                    }

                                    if (suscripcionesMensual.Count > 0)
                                    {
                                        suscripcionesMensual = suscripcionesMensual.OrderBy(s => s.Nombre).ToList();

                                        <div>
                                            <label>@Herramientas.Idiomas.BuscarTexto(idioma, "Month." + i.ToString(), "Months") (@suscripcionesMensual.Count.ToString())</label>

                                            <ul>
                                                @foreach (var juegoMensual in suscripcionesMensual)
                                                {
                                                    <li style="margin-bottom: 5px;">
                                                        <a href="/game/@juegoMensual.JuegoId/@Herramientas.EnlaceAdaptador.Nombre(juegoMensual.Nombre)/" style="text-decoration: none;">
                                                            @juegoMensual.Nombre (@Juegos.JuegoDRM2.DevolverDRM(juegoMensual.DRM))
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                    i += 1;
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    }
}

@code {

    #nullable disable

    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string dominio = null;

    [PersistentState] public Herramientas.UsuarioListadosJuegos juegosUsuario { get; set; }
    [PersistentState] public Usuario deseadosUsuario { get; set; }
    private bool usuarioPatreon = false;

    [PersistentState] public List<Juegos.JuegoSuscripcion> juegosActuales { get; set; }
    [PersistentState] public List<JuegoSuscripcion> suscripcionesUltimas { get; set; }

    [Parameter] public string suscripcionSeleccionadaTexto { get; set; }
    private Suscripciones2.SuscripcionTipo suscripcionSeleccionada = Suscripciones2.SuscripcionTipo.Desconocido;
    public int ordenarPor { get; set; } = 0;
    public string textoBuscador { get; set; } = string.Empty;

    private bool mostrarArchivo = false;
    private bool mostrarUltimas = false;

    protected override async Task OnInitializedAsync()
    {
        Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
        idioma = datos.Idioma;
        usuarioId = datos.UsuarioId;
        userAgent = datos.UserAgent;
        dominio = datos.Dominio;

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            idioma = await BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
            juegosUsuario ??= await Herramientas.UsuarioJuegos.Cargar(usuarioId);
            deseadosUsuario ??= await BaseDatos.Usuarios.Buscar.DeseadosTiene(usuarioId);
            usuarioPatreon = Herramientas.Patreon.VerificarActivo(await BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));
        }

        //--------------------------------------------------------------------

        DateTime arranque = new DateTime(2015, 1, 1);

        int i = 0;
        while (i < 100)
        {
            if (arranque.Year != DateTime.Now.Year)
            {
                años.Add(arranque.Year.ToString());
                arranque = arranque.AddYears(1);
            }
            i += 1;
        }

        años.Add(DateTime.Now.Year.ToString());
        años.Reverse();

        //--------------------------------------------------------------------

        if (string.IsNullOrEmpty(suscripcionSeleccionadaTexto) == false)
        {
            foreach (var suscripcion in Suscripciones2.SuscripcionesCargar.GenerarListado())
            {
                if (suscripcion.Id != Suscripciones2.SuscripcionTipo.Desconocido)
                {
                    if (Herramientas.EnlaceAdaptador.Nombre(suscripcion.Id.ToString().ToLower()) == suscripcionSeleccionadaTexto)
                    {
                        suscripcionSeleccionada = suscripcion.Id;
                        break;
                    }
                }
            }

            if (suscripcionSeleccionada != Suscripciones2.SuscripcionTipo.Desconocido)
            {
                await SuscripcionAbrir(suscripcionSeleccionada);
            }

            if (suscripcionSeleccionadaTexto == "archive")
            {
                mostrarArchivo = true;
                añoSeleccionado = DateTime.Now.Year.ToString();
                await GenerarArchivo();
            }

            if (suscripcionSeleccionadaTexto == "last-added")
            {
                mostrarUltimas = true;
                suscripcionesUltimas ??= await BaseDatos.Suscripciones.Buscar.UltimasAñadidas();
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool primerRender)
    {
        if (primerRender == true)
        {
            if (suscripcionSeleccionada != Suscripciones2.SuscripcionTipo.Desconocido)
            {
                await CambiarEnlace(suscripcionSeleccionada);
            }
        }
    }

    private async Task SuscripcionAbrir(MouseEventArgs e, Suscripciones2.SuscripcionTipo suscripcion)
    {
        suscripcionSeleccionada = suscripcion;

        if (suscripcionSeleccionada != Suscripciones2.SuscripcionTipo.Desconocido)
        {
            await CambiarEnlace(suscripcionSeleccionada);
            await SuscripcionAbrir(suscripcionSeleccionada);
        }
        else
        {
            mostrarArchivo = false;
            mostrarUltimas = false;

            juegosActuales?.Clear();
            await JavaScript.InvokeVoidAsync("ChangeUrl", "/subscriptions/");
        }
    }

    private async Task SuscripcionAbrir(Suscripciones2.SuscripcionTipo suscripcion)
    {
        suscripcionSeleccionada = suscripcion;

        juegosActuales = await BaseDatos.Suscripciones.Buscar.Actuales(suscripcionSeleccionada, ordenarPor, textoBuscador);
    }

    private async Task CambiarEnlace(Suscripciones2.SuscripcionTipo suscripcion)
    {
        await JavaScript.InvokeVoidAsync("ChangeUrl", $"/subscriptions/{Herramientas.EnlaceAdaptador.Nombre(suscripcion.ToString().ToLower())}/");
    }

    private string CambiarEstilo(Suscripciones2.SuscripcionTipo suscripcion)
    {
        if (suscripcion != suscripcionSeleccionada || mostrarArchivo == true || mostrarUltimas == true)
        {
            return "background-color: transparent;";
        }
        else
        {
            return "background-color: var(--botonSubcabecera); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25),0px 0px 1px 0px rgba(0, 0, 0, 0.25);";
        }
    }

    private async Task OrdenarPor(MouseEventArgs e, int nuevoOrdenar)
    {
        ordenarPor = nuevoOrdenar;

        await SuscripcionAbrir(suscripcionSeleccionada);
    }

    private async Task TextoCambiaBuscador()
    {
        await SuscripcionAbrir(suscripcionSeleccionada);
    }

    private async Task CargarArchivo(MouseEventArgs e)
    {
        mostrarArchivo = true;
        añoSeleccionado = DateTime.Now.Year.ToString();

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/subscriptions/archive/");
        await GenerarArchivo();
    }

    private async Task CargarUltimas(MouseEventArgs e)
    {
        mostrarUltimas = true;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/subscriptions/last-added/");

        suscripcionesUltimas = await BaseDatos.Suscripciones.Buscar.UltimasAñadidas();
    }

    #region Archivo

    private List<Suscripciones2.SuscripcionComponente> suscripcionesPasadas = new List<Suscripciones2.SuscripcionComponente>();
    private List<string> años = new List<string>();
    private string añoSeleccionado = string.Empty;

    private async Task CambiarAño(MouseEventArgs e, string nuevoAño)
    {
        añoSeleccionado = nuevoAño;
        await GenerarArchivo();
    }

    private async Task GenerarArchivo()
    {
        List<Juegos.JuegoSuscripcion> juegosPasados = await BaseDatos.Suscripciones.Buscar.Año(añoSeleccionado);

        if (juegosPasados.Count > 0)
        {
            suscripcionesPasadas.Clear();

            foreach (var suscripcion in Suscripciones2.SuscripcionesCargar.GenerarListado())
            {
                List<Juegos.JuegoSuscripcion> juegos2 = new List<Juegos.JuegoSuscripcion>();

                foreach (var juego in juegosPasados)
                {
                    if (juego.Tipo == suscripcion.Id)
                    {
                        juegos2.Add(juego);
                    }
                }

                if (juegos2.Count > 0)
                {
                    Suscripciones2.SuscripcionComponente componente = new Suscripciones2.SuscripcionComponente();
                    componente.Juegos = juegos2;
                    componente.Tipo = suscripcion;

                    suscripcionesPasadas.Add(componente);
                }
            }
        }
    }

    #endregion
}
