@rendermode InteractiveServer

@attribute [StreamRendering(true)]

@using BaseDatos.Usuarios
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using System.Text.Json
@using Microsoft.VisualBasic
@using pepeizqs_deals_blazor_web.Componentes.Account
@using pepeizqs_deals_web.Data

@inject NavigationManager NavManager
@inject IHttpContextAccessor Contexto
@inject IJSRuntime JavaScript
@inject IConfiguration Configuracion

<script>
    window.clipboardCopy = {
        copyText: function(text) {
            navigator.clipboard.writeText(text);
        }
    };
</script>

<script>
    window.buscador = {
        teclearBusqueda: function (elemento, dotNetRef, retraso) {

            let timerId = null;

            elemento.addEventListener("input", function (e) {
                const valor = e.target.value;

                clearTimeout(timerId);

                timerId = setTimeout(() => {
                    dotNetRef.invokeMethodAsync("EventoTecleoBuscador", valor);
                }, retraso);
            });
        }
    };
</script>

<script>
    window.toggleBodyScroll = (disable) => {
        if (disable) {
            document.body.classList.add('no-scroll');
        } else {
            document.body.classList.remove('no-scroll');
        }
    }
</script>

@if (enseñarAlerta == true)
{
    <div style="width: fit-content; background-color: var(--fondoAlerta); color: var(--colorTexto); padding: 10px 15px; margin: 30px; top: var(--alturaCabecera); left: 0; position: fixed; z-index: 1001; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);">
        <div style="display: flex; align-items: center; gap: 10px;">
            <div>
                @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Clipboard")
            </div>

            <button @onclick="CerrarAvisoClipboard" class="boton-pequeño" style="display: flex; padding: 0px; background-color: transparent; width: fit-content; box-shadow: none;">
                <div style="width: 20px; height: 20px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                        <path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
                    </svg>
                </div>
            </button>
        </div>
    </div>
}

<style>
    .cabecera2 {
        z-index: 9999;
        position: sticky;
        top: 0;
        padding: 15px;
        display: flex;
        width: 100%;
        background: radial-gradient(300px 150px at 10% 50%, rgba(0,32,51,0.35), transparent 70%), radial-gradient(300px 150px at 90% 50%, rgba(27,40,56,0.25), transparent 70%), linear-gradient(90deg, var(--fondoOscuro), var(--fondoMinimo) 35%, var(--fondoOscuro));
        background-blend-mode: overlay, overlay, normal;
        border-bottom: 2px solid var(--glaseadoCabeceraBorde);
    }

    .buscador-panel {
        height: calc(100% - var(--alturaCabecera));
        width: 100%;
        left: 0;
        top: 0;
        overflow-x: auto;
        position: fixed;
        z-index: 1005;
        margin-top: var(--alturaCabecera);
        padding: 10px;
        background-color: var(--fondoOscuroTransparente);
    }

    .boton-superior {
        display: block;
        padding: 4px 12px;
        margin: 0px;
        transition: transform .2s;
        text-decoration: none;
        background-color: transparent;
        border: 0;
        color: var(--colorTextoVisitado);
    }

        .boton-superior:hover {
            transform: scale(1.01);
            color: var(--colorEnlace);
        }

    @@media (max-width: 1100px) {
        .boton-superior {
            float: none;
        }

            .boton-superior:hover {
                transform: scale(1.005);
                background-color: var(--fondoBotonHover);
            }
    }

    .botones-superiores {
        display: flex;
        align-items: center;
        width: 100%;
    }

    @@media (max-width: 1100px) {
        .botones-superiores {
            display: none;
        }
    }

    .botones-superiores2 {
        display: none;
    }

    @@media (max-width: 1100px) {
        .botones-superiores2 {
            display: flex;
            margin-left: auto;
        }
    }

    :root {
        --glaseadoCabeceraBoton: rgba(0, 32, 51, 0.7);
        --glaseadoCabeceraBorde: rgba(0, 255, 255, 0.15);
    }

    .menu-dropdown2 {
        position: relative;
        display: inline-block;
    }

    .menu-dropdown2::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 20px;
        width: 100%;
    }

    .menu-dropdown-contenido-centrado {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -8px);
        min-width: 200px;
        padding: 8px;
        backdrop-filter: blur(25px);
        background: var(--glaseadoCabeceraBoton);
        border-radius: 14px;
        box-shadow: 0 20px 40px rgba(0,0,0,.25);
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease, transform .2s ease;
        border: 2px solid var(--glaseadoCabeceraBorde);
    }

    .menu-dropdown2:hover .menu-dropdown-contenido-centrado {
        opacity: 1;
        transform: translate(-50%, 0);
        pointer-events: auto;
    }

    .menu-dropdown-contenido-centrado a {
        display: block;
        padding: 12px 16px;
        border-radius: 10px;
        text-decoration: none;
    }

        .menu-dropdown-contenido-centrado a:hover {
            background: rgba(99, 102, 241,.15);
        }

    .menu-dropdown-contenido-derecha {
        position: absolute;
        top: 120%;
        right: -15px;
        transform: translateY(-8px);
        min-width: 200px;
        padding: 8px;
        backdrop-filter: blur(25px);
        background: var(--glaseadoCabeceraBoton);
        border-radius: 14px;
        box-shadow: 0 20px 40px rgba(0,0,0,.25);
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease, transform .2s ease;
        border: 2px solid var(--glaseadoCabeceraBorde);
    }

    .menu-dropdown2:hover .menu-dropdown-contenido-derecha {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .menu-dropdown-contenido-derecha button {
        display: block;
        padding: 12px 16px;
        border-radius: 10px;
        text-decoration: none;
    }

        .menu-dropdown-contenido-derecha button:hover {
            background: rgba(99, 102, 241, .15);
        }

    .resultados-busqueda {
        opacity: 0;
        transform: translateY(-8px);
        transition: opacity 0.2s ease, transform 0.2s ease;
        pointer-events: none;
    }

        .resultados-busqueda.mostrar {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

    .cargando {
        width: 24px;
        height: 24px;
        border: 3px solid var(--colorEnlace);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<header class="cabecera2">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="padding: 0px; width: 100%;">
        <div class="cabecera-poner">
            <a href="/" id="cabecera" class="texto-logo" style="background-color: transparent; border: 0; flex: 1 auto 1;">
                pepe's deals
            </a>

            <div style="display: flex; align-items: center; gap: 10px; flex: 1 1 auto;">
                <AuthorizeView>
                    <Authorized>
                        @if (string.IsNullOrEmpty(usuarioId) == false)
                        {
                            if (usuarioAdmin == true)
                            {
                                <a class="boton-superior" href="/admin" style="font-size: 15px;">
                                    <div style="@GenerarEstilo("/admin") display: flex; align-items: center; gap: 15px;">
                                        Admin
                                    </div>
                                </a>
                            }
                        }
                    </Authorized>
                </AuthorizeView>

                @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
                {
                    <div style="@fondoBuscador padding: 0px 15px 0px 5px; border-radius: 15px; display: flex; align-items: center; gap: 10px; transition: background-color 0.1s ease, border-color 0.3s ease;">
                        <input @ref="inputBuscador" type="text" @bind-value="@textoBuscador" @onclick="ClickBuscador" @onfocusout="PerderBuscador" class="entrada-texto" style="background-color: transparent; min-width: 50%; font-size: 14px; border: 0px;" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "SearchPlaceholder", "Header")" />

                        @if (resultadosMostrar == null || resultadosMostrar?.Count == 0)
                        {
                            if (cargandoBusqueda == false)
                            {
                                <div style="width: 24px; height: 24px;">
                                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                        <path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z" />
                                    </svg>
                                </div>
                            }
                            else
                            {
                                <div style="width: 24px; height: 24px; display: flex; align-items: center; justify-content: space-around;">
			                        <div class="cargando" />
		                        </div>                                
                            }                           
                        }
                        else
                        {
                            string enlaceClipboard = "https://" + dominio + "/?search=" + textoBuscador;

                            <button @onclick="(e => CopiarAlClipboard(e, enlaceClipboard))" style="border: 0px; background: transparent; padding: 0px;" title="@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Header")">
                                <div style="width: 20px; height: 20px;">
                                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                        <path d="M288 64C252.7 64 224 92.7 224 128L224 384C224 419.3 252.7 448 288 448L480 448C515.3 448 544 419.3 544 384L544 183.4C544 166 536.9 149.3 524.3 137.2L466.6 81.8C454.7 70.4 438.8 64 422.3 64L288 64zM160 192C124.7 192 96 220.7 96 256L96 512C96 547.3 124.7 576 160 576L352 576C387.3 576 416 547.3 416 512L416 496L352 496L352 512L160 512L160 256L176 256L176 192L160 192z" />
                                    </svg>
                                </div>
                            </button>

                            <button @onclick="(e => LimpiarBusqueda(e))" style="border: 0px; background: transparent; padding: 0px;" title="@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Header")">
                                <div style="width: 20px; height: 20px;">
                                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                        <path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
                                    </svg>
                                </div>
                            </button>
                        }
                    </div>
                }

                <div class="botones-superiores">
                    @if (string.IsNullOrEmpty(usuarioId) == false)
                    {
                        <a class="boton-superior" href="/wishlist" style="font-size: 15px;">
                            @if (cantidadDeseados > 0)
                            {
                                <div style="display: flex; align-items: center; color: var(--colorTexto); background-color: color-mix(in srgb, var(--fondoBotonPequeño) 50%, var(--fondoAlerta)); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28),0px 0px 1px 0px rgba(0, 0, 0, 0.24);">
                                    <div style="background-color: var(--fondoAlerta); padding: 5px 15px; font-size: 17px;">
                                        @cantidadDeseados
                                    </div>

                                    <div style="padding: 5px 15px;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header")
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="@GenerarEstilo("/wishlist")">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header")
                                </div>
                            }
                        </a>
                    }

                    <div class="menu-dropdown2">
                        <div style="display: flex; align-items: center; font-size: 14px; cursor: pointer; gap: 15px;">
                            <a class="boton-superior" href="/historical-lows" style="font-size: 15px;">
                                <div style="@GenerarEstilo("/historical-lows")">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "HistoricalLows", "Header")
                                </div>
                            </a>
                        </div>

                        @if (mostrarDropdown == true)
                        {
                            <div class="menu-dropdown-contenido-centrado">
                                <a class="texto-cabecera boton-superior" href="/historical-lows" style="font-size: 15px;">
                                    <div style="text-align: center;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "HistoricalLows", "Header")
                                    </div>
                                </a>
                                <hr style="margin: 5px 0px; border-top: var(--glaseadoCabeceraBorde) solid; opacity: 0.6;" />
                                <a class="texto-cabecera boton-superior" href="/steamdeck" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <img src="/imagenes/otros/steamdeck_cabecera.webp" style="max-width: 20px; max-height: 20px;" alt="Steam Deck" />

                                        <div>
                                            Steam Deck
                                        </div>
                                    </div>
                                </a>
                                <a class="texto-cabecera boton-superior" href="/steamos" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <img src="@Juegos.JuegoDRM2.SacarImagen(Juegos.JuegoDRM.Steam)" style="max-width: 20px; max-height: 20px;" alt="SteamOS" />

                                        <div>
                                            SteamOS
                                        </div>
                                    </div>
                                </a>
                                <hr style="margin: 5px 0px; border-top: var(--glaseadoCabeceraBorde) solid; opacity: 0.6;" />
                                <a class="texto-cabecera boton-superior" href="/geforcenow" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <img src="/imagenes/streaming/geforcenow_icono.webp" style="max-width: 20px; max-height: 20px;" alt="Geforce NOW" />

                                        <div>
                                            Geforce NOW
                                        </div>
                                    </div>
                                </a>
                                <a class="texto-cabecera boton-superior" href="/boosteroid" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <img src="/imagenes/streaming/boosteroid_icono.webp" style="max-width: 20px; max-height: 20px;" alt="Boosteroid" />

                                        <div>
                                            Boosteroid
                                        </div>
                                    </div>
                                </a>
                                <a class="texto-cabecera boton-superior" href="/luna" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <img src="/imagenes/streaming/amazonluna_icono.webp" style="max-width: 20px; max-height: 20px;" alt="Amazon Luna" />

                                        <div>
                                            Amazon Luna
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>

                    <a class="boton-superior" href="/bundles" style="font-size: 15px;">
                        <div style="@GenerarEstilo("/bundles")">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Bundles", "Header")
                        </div>
                    </a>

                    <a class="boton-superior" href="/free" style="font-size: 15px;">
                        <div style="@GenerarEstilo("/free")">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Free", "Header")
                        </div>
                    </a>

                    <a class="boton-superior" href="/subscriptions" style="font-size: 15px;">
                        <div style="@GenerarEstilo("/subscriptions")">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Subscriptions", "Header")
                        </div>
                    </a>

                    <div class="menu-dropdown2">
                        <a class="texto-cabecera boton-superior" href="https://pepeizqapps.com/extension/pepeizq-deals" target="_blank" title="@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Header")">
                            <div style="width: 22px; height: 22px;">
                                <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M0 256C0 209.4 12.5 165.6 34.3 127.1L144.1 318.3C166 357.5 207.9 384 256 384C270.3 384 283.1 381.7 296.8 377.4L220.5 509.6C95.9 492.3 0 385.3 0 256zM365.1 321.6C377.4 302.4 384 279.1 384 256C384 217.8 367.2 183.5 340.7 160H493.4C505.4 189.6 512 222.1 512 256C512 397.4 397.4 511.1 256 512L365.1 321.6zM477.8 128H256C193.1 128 142.3 172.1 130.5 230.7L54.2 98.5C101 38.5 174 0 256 0C350.8 0 433.5 51.5 477.8 128V128zM168 256C168 207.4 207.4 168 256 168C304.6 168 344 207.4 344 256C344 304.6 304.6 344 256 344C207.4 344 168 304.6 168 256z" />
                                </svg>
                            </div>
                        </a>

                        @if (mostrarDropdown == true)
                        {
                            <div class="menu-dropdown-contenido-centrado">
                                <a class="texto-cabecera boton-superior" href="https://pepeizqapps.com/extension/pepeizq-deals" target="_blank" style="font-size: 15px;">
                                    <div style="text-align: center;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Header")
                                    </div>
                                </a>
                                <hr style="margin: 5px 0px; border-top: var(--glaseadoCabeceraBorde) solid; opacity: 0.6;" />
                                <a class="texto-cabecera boton-superior" href="@enlaceChrome" target="_blank" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <div style="width: 24px; height: 24px;">
                                            <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                                <path d="M64 320C64 273.4 76.5 229.6 98.3 191.1L208.1 382.3C230 421.5 271.9 448 320 448C334.3 448 347.1 445.7 360.8 441.4L284.5 573.6C159.9 556.3 64 449.3 64 320zM429.1 385.6C441.4 366.4 448 343.1 448 320C448 281.8 431.2 247.5 404.7 224L557.4 224C569.4 253.6 576 286.1 576 320C576 461.4 461.4 575.1 320 576L429.1 385.6zM541.8 192L320 192C257.1 192 206.3 236.1 194.5 294.7L118.2 162.5C165 102.5 238 64 320 64C414.8 64 497.5 115.5 541.8 192zM408 320C408 368.6 368.6 408 320 408C271.4 408 232 368.6 232 320C232 271.4 271.4 232 320 232C368.6 232 408 271.4 408 320z" />
                                            </svg>
                                        </div>

                                        <div>
                                            Chrome
                                        </div>
                                    </div>
                                </a>
                                <a class="texto-cabecera boton-superior" href="@enlaceFirefox" target="_blank" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <div style="width: 24px; height: 24px;">
                                            <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                                <path d="M194.2 191.5L194.2 191.5zM545.6 236.9C535 211.4 513.5 183.9 496.7 175.2C510.4 202.1 518.4 229.1 521.4 249.2C521.4 249.3 521.4 249.5 521.5 249.6C493.9 180.8 447.1 153.1 408.9 92.8C393.9 69.1 398 67.6 395.8 68.1L395.7 68.2C349 94.2 320.4 146.6 313.1 190.9C296.5 191.8 280.2 195.9 265.2 203C263.8 203.6 262.7 204.7 262.1 206C261.5 207.3 261.2 208.8 261.5 210.3C261.7 211.1 262.1 211.9 262.6 212.6C263.1 213.3 263.8 213.9 264.5 214.3C265.2 214.7 266.1 215 266.9 215.1C267.7 215.2 268.6 215.1 269.4 214.8L269.9 214.6C285.4 207.3 302.3 203.4 319.4 203.3C382.2 202.7 416.6 247.3 427 265.6C414 256.4 390.6 247.4 368.2 251.3C455.9 295.2 432.4 445.8 310.8 440.5C251.3 437.9 213.7 389.5 210.3 349.7C210.3 349.7 221.5 307.8 290.9 307.8C298.4 307.8 319.8 286.9 320.2 280.8C320.1 278.8 277.7 261.9 261.1 245.6C252.3 236.9 248 232.7 244.3 229.5C242.3 227.8 240.2 226.2 238 224.7C232.4 205.2 232.2 184.7 237.3 165.1C212.2 176.5 192.7 194.5 178.6 210.5L178.5 210.5C168.8 198.3 169.5 157.9 170.1 149.4C170 148.9 162.9 153.1 161.9 153.7C153.3 159.8 145.4 166.6 138.1 174.1C121.8 190.7 94 224.3 82.6 275.3C78.1 295.7 75.8 319.7 75.8 327.6C75.8 462.3 185 571.5 319.7 571.5C440.3 571.5 542.7 484.3 560.1 368.9C571.7 292.2 545.4 237.8 545.4 236.9z" />
                                            </svg>
                                        </div>

                                        <div>
                                            Firefox
                                        </div>
                                    </div>
                                </a>
                                <a class="texto-cabecera boton-superior" href="@enlaceEdge" target="_blank" style="font-size: 15px;">
                                    <div style="text-align: center; display: flex; align-items: center; gap: 15px; justify-content: center;">
                                        <div style="width: 24px; height: 24px;">
                                            <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                                <path d="M184.1 101.4C225.1 76.2 271.7 63.2 319 64C487 64 576 187.8 576 283.5C575.9 316.2 563 347.4 540.1 370.7C517.2 393.9 486.1 407.2 453.4 407.7C378.2 407.7 361.9 384.6 361.9 375.7C361.9 371.9 363.1 369.5 366.7 366.3L367.7 365.1L368.1 363.5C378.6 352 384 337.3 384 321.9C384 243.2 301.8 179.2 200 179.2C162.5 178.9 125.5 188.1 92.5 206.1C119.5 148.6 175.2 108.5 183.8 102.3C184.6 101.7 184.1 101.5 184.1 101.5zM199.7 419.5C198.3 449.5 204.3 479.5 216.1 506.7C229.7 533.1 248.8 557.7 272.6 576C213.1 564.5 161.1 532.1 123.2 486.7C85.1 440.3 64 382.4 64 321.9C64 270.7 126.4 227.5 200 227.5C236.6 226.9 272.4 238.4 301.8 260.2L298.2 261.4C246.7 279 199.7 352.1 199.7 419.5zM533.8 464L533.1 464.1C521.3 482.9 507.2 499.2 490.9 513.6C460.1 541.6 422.8 559.1 382.1 563.5C363.5 563.8 345.3 560.3 328.3 552.1C302.7 541.8 281.2 522.1 266.7 499.1C252.3 475.2 245.6 447.4 247.7 419.5C247.1 399.4 253.1 379.2 262.7 361.3C276.6 394.4 300.2 422.6 330.3 442.1C360.4 461.6 395.8 471.6 431.7 470.7C462.7 471 493.8 464 521.9 450.2L523.8 449.3C527.7 447 531.5 445.4 535.4 449.3C539.9 454.2 537.2 458.5 534.2 463.3C534 463.5 533.9 463.8 533.8 464z" />
                                            </svg>
                                        </div>

                                        <div>
                                            Edge
                                        </div>
                                    </div>
                                </a>
                            </div>                            
                        }
                    </div>

                    @if (mostrarDropdown == true && usuarioPatreon == false)
                    {
                        <div class="menu-dropdown2">
                            <a class="boton-superior" href="@enlacePatreon" target="_blank" style="font-size: 15px;" title="Patreon">
                                <div style="width: 22px; height: 22px;">
                                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M489.7 153.8c-.1-65.4-51-119-110.7-138.3C304.8-8.5 207-5 136.1 28.4C50.3 68.9 23.3 157.7 22.3 246.2C21.5 319 28.7 510.6 136.9 512c80.3 1 92.3-102.5 129.5-152.3c26.4-35.5 60.5-45.5 102.4-55.9c72-17.8 121.1-74.7 121-150z" />
                                    </svg>
                                </div>
                            </a>

                            <div class="menu-dropdown-contenido-centrado">
                                <a class="texto-cabecera boton-superior" href="/patreon" style="font-size: 15px;">
                                    <div style="text-align: center;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Header")
                                    </div>
                                </a>
                                <a class="texto-cabecera boton-superior" href="/cost-web" style="font-size: 15px;">
                                    <div style="text-align: center;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Header")
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                    <AuthorizeView>
                        <Authorized>
                            <div style="display: flex; align-items: center; margin-left: auto;">
                                <div class="menu-dropdown2">
                                    <div style="display: flex; align-items: center; font-size: 14px; cursor: pointer; gap: 15px;">
                                        @if (opcionesCabecera != null)
                                        {
                                            if (string.IsNullOrEmpty(opcionesCabecera.Avatar) == true)
                                            {
                                                <div>@opcionesCabecera.Email</div>
                                            }
                                            else
                                            {
                                                @if (opcionesCabecera.Avatar.ToLower().Contains(".jpg") == true ||
                                                    opcionesCabecera.Avatar.ToLower().Contains(".jpeg") == true ||
                                                    opcionesCabecera.Avatar.ToLower().Contains(".png") == true ||
                                                    opcionesCabecera.Avatar.ToLower().Contains(".webp") == true)
                                                {
                                                    <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(opcionesCabecera.Avatar)" style="max-height: 32px; max-width: 32px;" title="@opcionesCabecera.Nickname" />
                                                }
                                                else
                                                {
                                                    <div>@opcionesCabecera.Email</div>
                                                }
                                            }
                                        }

                                        <div style="max-width: 10px;">
                                            <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
                                            </svg>
                                        </div>
                                    </div>

                                    <div class="menu-dropdown-contenido-derecha">
                                        @{
                                            string enlaceCuenta = "/account/";
                                        }

                                        <button class="texto-cabecera boton-superior" @onclick="(e => AbrirEnlace(e, enlaceCuenta, false))" style="font-size: 15px; width: 100%; text-align: right;">
                                            @Herramientas.Idiomas.BuscarTexto(idioma, "Account", "Header")
                                        </button>

                                        @{
                                            string enlaceSincronizarCuenta = "/account/sync/";
                                        }

                                        <button class="texto-cabecera boton-superior" @onclick="(e => AbrirEnlace(e, enlaceSincronizarCuenta, false))" style="font-size: 15px; width: 100%; text-align: right;">
                                            @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Header")
                                        </button>

                                        @if (usuarioPatreon == true || usuarioAdmin == true)
                                        {
                                            string enlacePatreonCuenta = "/account/patreon-store/";

                                            <button class="texto-cabecera boton-superior" @onclick="(e => AbrirEnlace(e, enlacePatreonCuenta, false))" style="font-size: 15px; width: 100%; text-align: right;">
                                                @Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Header")
                                            </button>
                                        }

                                        <hr style="margin: 5px 0px; border-top: var(--glaseadoCabeceraBorde) solid; opacity: 0.6;" />

                                        @{
                                            string enlaceDesconectar = "/account/logout";
                                        }

                                        <button class="texto-cabecera boton-superior" @onclick="(e => AbrirEnlace(e, enlaceDesconectar, false))" style="font-size: 15px; width: 100%; text-align: right;">
                                            @Herramientas.Idiomas.BuscarTexto(idioma, "Logout", "Header")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div style="display: flex; align-items: center; margin-left: auto;">
                                <a href="/account/login" class="boton-superior" style="text-align: left; border: 0; margin: 0px; font-size: 14px;">
                                    <div style="@GenerarEstilo("/account/login")">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "Login", "Header")
                                    </div>
                                </a>

                                <a href="/account/register" class="boton-superior" style="text-align: left; border: 0; margin: 0px; font-size: 14px;">
                                    <div style="@GenerarEstilo("/account/register")">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "Register", "Header")
                                    </div>
                                </a>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>

                <div class="botones-superiores2" style="cursor: pointer;" @onclick="(e => MostrarPanel(e))">
                    <div>
                        <div style="width: 18px; height: 18px;">
                            @if (mostrarPanel == false)
                            {
                                <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" />
                                </svg>
                            }
                            else
                            {
                                <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                    <path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
                                </svg>
                            }
                        </div>

                        @if (mostrarPanel == true)
                        {
                            <div style="height: calc(100% - var(--alturaCabecera)); width: 100%; top: 0; left: 0; overflow-x: auto; position: fixed; z-index: 1000; margin-top: var(--alturaCabecera); color: var(--colorTextoHover); background-color: var(--fondoOscuro);">
                                <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
                                    @if (string.IsNullOrEmpty(usuarioId) == false)
                                    {
                                        string textoDeseados = Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header");

                                        if (cantidadDeseados > 0)
                                        {
                                            textoBuscador = "(" + cantidadDeseados.ToString() + ") " + textoDeseados;
                                        }

                                        <a class="texto-cabecera boton-superior" href="/wishlist" style="font-size: 15px;">
                                            @textoDeseados
                                        </a>
                                    }

                                    <a class="texto-cabecera boton-superior" href="/historical-lows" style="font-size: 15px;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "HistoricalLows", "Header")
                                    </a>

                                    <a class="texto-cabecera boton-superior" href="/bundles" style="font-size: 15px;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "Bundles", "Header")
                                    </a>

                                    <a class="texto-cabecera boton-superior" href="/free" style="font-size: 15px;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "Free", "Header")
                                    </a>

                                    <a class="texto-cabecera boton-superior" href="/subscriptions" style="font-size: 15px;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "Subscriptions", "Header")
                                    </a>

                                    <a class="texto-cabecera boton-superior" href="https://pepeizqapps.com/extension/pepeizq-deals" target="_blank" style="font-size: 15px;">
                                        @Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Footer")
                                    </a>

                                    @if (usuarioPatreon == false)
                                    {
                                        <a class="texto-cabecera boton-superior" href="@enlacePatreon" target="_blank" style="font-size: 15px;">
                                            Patreon
                                        </a>
                                    }
                                </div>

                                <hr />

                                <AuthorizeView>
                                    <Authorized>
                                        <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
                                            @{
                                                string enlaceCuenta = "/account";
                                                string enlaceDeslogear = "/account/logout";
                                            }

                                            <button @onclick="(e => AbrirEnlace(e, enlaceCuenta, false))" class="boton-superior" style="font-size: 15px; width: 100%; text-align: left; overflow: hidden;">
                                                @Herramientas.Idiomas.BuscarTexto(idioma, "Account", "Header")
                                            </button>

                                            <button @onclick="(e => AbrirEnlace(e, enlaceDeslogear, false))" class="boton-superior" style="font-size: 15px; width: 100%; text-align: left; overflow: hidden;">
                                                @Herramientas.Idiomas.BuscarTexto(idioma, "Logout", "Header")
                                            </button>
                                        </div>
                                    </Authorized>
                                    <NotAuthorized>
                                        <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
                                            <a class="texto-cabecera boton-superior" href="/account/login" target="_blank" style="font-size: 15px;">
                                                @Herramientas.Idiomas.BuscarTexto(idioma, "Login", "Header")
                                            </a>

                                            <a class="texto-cabecera boton-superior" href="/account/register" target="_blank" style="font-size: 15px;">
                                                @Herramientas.Idiomas.BuscarTexto(idioma, "Register", "Header")
                                            </a>
                                        </div>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </div>
                        }
                    </div>
                </div>

                <div class="resultados-busqueda @(resultadosMostrar?.Count > 0 ? "mostrar" : "")" style="height: calc(100% - var(--alturaCabecera)); width: 100%; top: 0; left: 0; overflow-x: auto; position: fixed; z-index: 1000; margin-top: var(--alturaCabecera); display: flex; align-items: start; flex-direction: column; background: color-mix(in srgb, var(--fondoCuerpo) 95%, transparent); scrollbar-color: var(--fondoCodigo) var(--fondoOscuro);">
                    <div style="margin-left: auto; margin-right: auto; margin-bottom: 30px; max-width: var(--anchoCuerpo); width: 100%;">
                        @if (resultadosMostrar?.Count > 0)
                        {
                            foreach (var juego in resultadosMostrar)
                            {
                                string fondoColor = string.Empty;

                                if (string.IsNullOrEmpty(usuarioId) == false)
                                {
                                    bool usuarioTieneJuego = Herramientas.UsuarioJuegos.ComprobarSiTiene(juegosUsuarioIndex, juego);
                                    bool usuarioTieneDeseado = false;

                                    if (usuarioTieneJuego == true)
                                    {
                                        fondoColor = "background: radial-gradient(ellipse at top left, var(--fondoBotonPequeño), var(--fondoBien));";
                                    }
                                    else
                                    {
                                        if (usuarioTieneDeseado == false)
                                        {
                                            usuarioTieneDeseado = Herramientas.Deseados.ComprobarSiEstaImportado(deseadosImportadosIndex, juego, Juegos.JuegoDRM.NoEspecificado);
                                        }

                                        if (usuarioTieneDeseado == false)
                                        {
                                            usuarioTieneDeseado = Herramientas.Deseados.ComprobarSiEstaWeb(deseadosWebIndex, juego, Juegos.JuegoDRM.NoEspecificado);
                                        }

                                        if (usuarioTieneDeseado == true)
                                        {
                                            fondoColor = "background: radial-gradient(ellipse at top left, var(--fondoBotonPequeño), var(--fondoAlerta));";
                                        }
                                    }
                                }

                                <div @key="juego.Id" style="display: flex; flex-direction: row; align-items: center; margin-top: 30px;">
                                    @{
                                        int ancho = 230;
                                        int alto = 107;
                                        string imagen = "width: " + ancho.ToString() + "px; height: " + alto.ToString() + "px;";
                                        string enlace = "/game/" + juego.Id.ToString() + "/" + Herramientas.EnlaceAdaptador.Nombre(juego.Nombre) + "/";
                                    }

                                    <a href="@enlace" @onclick="(e => AbrirEnlace(e, enlace, false))" class="boton-pequeño" style="cursor: pointer; padding: 0px; @fondoColor">
                                        <div class="perfil-flexible-centrado">
                                            <div>
                                                <img src="@juego.Imagenes.Header_460x215" style="@imagen" loading="lazy" decoding="async" />
                                            </div>

                                            <div style="width: 100%; padding-left: 20px; padding-right: 20px; display: flex; flex-direction: column; gap: 5px;">
                                                <div>
                                                    @juego.Nombre
                                                </div>

                                                <div style="font-size: 15px;">
                                                    @Herramientas.Buscador.GenerarMensaje(idioma, juego, true, true, true)
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

@code {

    #nullable disable

    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string dominio = null;

    [PersistentState] public Herramientas.UsuarioListadosJuegos juegosUsuario { get; set; }
    [PersistentState] public Herramientas.UsuarioJuegosIndex juegosUsuarioIndex { get; set; }

    [PersistentState] public Usuario deseadosUsuario { get; set; }
    [PersistentState] public Herramientas.UsuarioDeseadosImportadosIndex deseadosImportadosIndex { get; set; }
    [PersistentState] public Herramientas.UsuarioDeseadosWebIndex deseadosWebIndex { get; set; }

    private bool usuarioPatreon = false;
    private bool usuarioAdmin = false;

    private string enlace = null;

    [SupplyParameterFromQuery]
    private string Search { get; set; }

    [PersistentState] public Usuario opcionesCabecera { get; set; }

    private int cantidadDeseados = 0;
    private string enlaceChrome = null;
    private string enlaceFirefox = null;
    private string enlaceEdge = null;
    private string enlacePatreon = null;

    private bool mostrarDropdown = true;

    protected override async Task OnInitializedAsync()
    {
        Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
        idioma = datos.Idioma;
        usuarioId = datos.UsuarioId;
        userAgent = datos.UserAgent;
        dominio = datos.Dominio;

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            idioma = await BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
            usuarioAdmin = await BaseDatos.Usuarios.Buscar.RolDios(usuarioId);

            juegosUsuario ??= await Herramientas.UsuarioJuegos.Cargar(usuarioId);
            juegosUsuarioIndex = Herramientas.UsuarioJuegos.CrearIndex(juegosUsuario);

            deseadosUsuario ??= await BaseDatos.Usuarios.Buscar.DeseadosTiene(usuarioId);
            deseadosImportadosIndex = Herramientas.Deseados.CrearImportadosIndex(deseadosUsuario);
            deseadosWebIndex = Herramientas.Deseados.CrearWebIndex(deseadosUsuario);

            usuarioPatreon = Herramientas.Patreon.VerificarActivo(await BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));
            opcionesCabecera ??= await BaseDatos.Usuarios.Buscar.OpcionesCabecera(usuarioId);
        }

        enlaceChrome = Configuracion.GetValue<string>("Extension:Chrome");
        enlaceFirefox = Configuracion.GetValue<string>("Extension:Firefox");
        enlaceEdge = Configuracion.GetValue<string>("Extension:Edge");
        enlacePatreon = Configuracion.GetValue<string>("RedesSociales:Patreon");
    }

    protected override async Task OnAfterRenderAsync(bool primerRender)
    {
        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            Usuario deseadosCabecera = await BaseDatos.Usuarios.Buscar.OpcionesCabeceraDeseados(usuarioId);

            if (string.IsNullOrEmpty(deseadosCabecera?.WishlistData) == false)
            {
                DeseadosDatos datos2 = JsonSerializer.Deserialize<DeseadosDatos>(deseadosCabecera?.WishlistData);

                if (datos2 != null)
                {
                    cantidadDeseados = datos2.Cantidad;

                    if (datos2.UltimaVisita != null && datos2.UltimoJuego != null)
                    {
                        if (datos2.UltimaVisita?.Subtract((DateTime)datos2.UltimoJuego).TotalDays > 7)
                        {
                            cantidadDeseados = 0;
                        }
                    }
                    else if (datos2.UltimaVisita == null && datos2.UltimoJuego != null)
                    {
                        if (DateTime.Now.Subtract((DateTime)datos2.UltimoJuego).TotalDays > 7)
                        {
                            cantidadDeseados = 0;
                        }
                    }
                }
            }
        }    

        enlace = NavManager.Uri;

        if (usuarioAdmin == true && enlace?.Contains("/admin") == true)
        {
            mostrarDropdown = false;
        }

        if (primerRender == true)
        {
            cabeceraReferencia = DotNetObjectReference.Create(this);
            await JavaScript.InvokeVoidAsync("buscador.teclearBusqueda", inputBuscador, cabeceraReferencia, 200);

            if (string.IsNullOrEmpty(Search) == false)
            {
                textoBuscador = Search;
                resultadosMostrar = await BaseDatos.Juegos.Buscar.Nombre2(textoBuscador, 20);
                await JavaScript.InvokeVoidAsync("toggleBodyScroll", resultadosMostrar.Any());
            }
        }

        await InvokeAsync(StateHasChanged);
    }

    #region Botones Cabecera

    private string GenerarEstilo(string enlaceBoton)
    {
        if (NavManager.Uri.Contains(enlaceBoton) == true)
        {
            return "border-bottom: 2px solid var(--colorEnlace); color: var(--colorEnlace);";
        }
        else
        {
            return null;
        }
    }

    #endregion

    #region Buscador

    private ElementReference inputBuscador;
    private DotNetObjectReference<Cabecera> cabeceraReferencia;
    [PersistentState] public List<Juegos.Juego> resultadosMostrar { get; set; }
    public string textoBuscador { get; set; } = string.Empty;
    private string fondoBuscador = "background-color: var(--fondoEntrada); border: 2px solid var(--glaseadoCabeceraBorde);";
    private bool cargandoBusqueda = false;

    private void ClickBuscador()
    {
        fondoBuscador = "background-color: var(--fondoBotonPequeñoHover); border: 2px solid var(--fondoBoton);";
    }

    private void PerderBuscador()
    {
        if (string.IsNullOrEmpty(textoBuscador) == true)
        {
            fondoBuscador = "background-color: var(--fondoEntrada); border: 2px solid var(--glaseadoCabeceraBorde);";
        }
    }

    private CancellationTokenSource _cts;

    [JSInvokable]
    public async Task EventoTecleoBuscador(string texto)
    {
        cargandoBusqueda = true;
        _cts?.Cancel();
        _cts = new CancellationTokenSource();
        var token = _cts.Token;

        try
        {
            if (texto.Length < 2)
            {
                cargandoBusqueda = false;
                resultadosMostrar?.Clear();
                await InvokeAsync(StateHasChanged);
                return;
            }

            var tarea = BaseDatos.Juegos.Buscar.Nombre2(texto, 20);

            var tareaFinalizada = await Task.WhenAny(tarea, Task.Delay(-1, token));

            if (tareaFinalizada != tarea)
            {
                return;
            }

            resultadosMostrar = tarea.Result;

            if (token.IsCancellationRequested == false)
            {
                cargandoBusqueda = false;
                await JavaScript.InvokeVoidAsync("toggleBodyScroll", resultadosMostrar.Any());
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (TaskCanceledException) { }
    }

    private async Task LimpiarBusqueda(MouseEventArgs e)
    {
        textoBuscador = string.Empty;
        resultadosMostrar?.Clear();
        fondoBuscador = "background-color: var(--fondoEntrada); border: 2px solid var(--glaseadoCabeceraBorde);";
        await JavaScript.InvokeVoidAsync("toggleBodyScroll", false);
    }

    #endregion

    #region Abrir Enlace

    private async void AbrirEnlace(MouseEventArgs e, string enlace, bool nuevaVentana = true)
    {
        string comando = "_blank";

        if (nuevaVentana == false)
        {
            comando = "_self";
        }

        await JavaScript.InvokeVoidAsync("open", enlace, comando);
    }

    #endregion

    #region Panel Moviles

    bool mostrarPanel = false;

    private void MostrarPanel(MouseEventArgs e)
    {
        if (mostrarPanel == true)
        {
            mostrarPanel = false;
        }
        else
        {
            mostrarPanel = true;
        } 
    }

    #endregion

    #region Portapapeles

    bool enseñarAlerta = false;
    private PeriodicTimer cronometro = null;
    private int cronometroContador = 0;
    private int cronometroLimite = 10;

    private async void CopiarAlClipboard(MouseEventArgs e, string textoEnlace)
    {
        if (textoEnlace?.Contains("https://") == false)
        {
            textoEnlace = "https://" + dominio + textoEnlace;
        }

        enseñarAlerta = true;
        await JavaScript.InvokeVoidAsync("clipboardCopy.copyText", textoEnlace);

        cronometroContador = 0;
        cronometro = new PeriodicTimer(TimeSpan.FromSeconds(1));

        while (await cronometro.WaitForNextTickAsync())
        {
            cronometroContador += 1;

            if (cronometroContador > cronometroLimite)
            {
                enseñarAlerta = false;
                cronometro.Dispose();
                await InvokeAsync(StateHasChanged);
            }
        }
    }

    private void CerrarAvisoClipboard()
    {
        enseñarAlerta = false;
        cronometroContador = 0;

        if (cronometro != null)
        {
            cronometro.Dispose();
        }
    }

    #endregion
}

