@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Net.Http.Headers
@using System.Text.Json.Serialization
@using System.Text.Json
@using global::Juegos
@using pepeizqs_deals_web.Data

@inject NavigationManager NavManager

<style>
    .caja-cuenta-epic-contenido {
        background-color: var(--fondoSubsubcabecera);
        border: 2px solid var(--glaseadoBorde);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
        border-radius: 20px;
    }

    .caja-cuenta-epic-titulo {
        background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
        font-size: 18px;
        padding: 20px 30px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
</style>

<style>
    .cargando {
        width: 48px;
        height: 48px;
        border: 5px solid var(--colorTexto);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script>
    function enseñarTooltip(e, id) {
        var x = e.clientX,
            y = e.clientY;

        var tooltip = document.getElementById(id);

        if (screen.width / 2 > x) {
            tooltip.style.top = (y + 10) + 'px';
            tooltip.style.left = (x + 20) + 'px';
        }
        else {
            tooltip.style.top = (y - 10) + 'px';
            tooltip.style.left = (x - 20 - tooltip.getBoundingClientRect().width) + 'px';
        };
    }
</script>

@if (usuario != null)
{
    <div style="display: grid; gap: 30px; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); width: 100%;">
        <div class="caja-cuenta-epic-contenido">
            <div class="caja-cuenta-epic-titulo" style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <img src="@JuegoDRM2.SacarImagen(JuegoDRM.Epic)" style="max-width: 24px; max-height: 24px;" />

                <div>
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String11", "AccountGames")
                </div>
            </div>

            <div style="padding: 20px 30px; display: flex; flex-direction: column; gap: 20px;">
                <div style="display: flex; align-items: center; gap: 20px;">
                    <div style="background-color: var(--fondoBien); padding: 10px 20px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),0px 0px 1px 0px rgba(0, 0, 0, 0.1);">
                        @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String8", "AccountGames"), cantidadJuegos.ToString())
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; gap: 10px; font-size: 14px;">
                    @if (usuario.EpicGamesLastImport != null)
                    {
                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "AccountGames") @Herramientas.Calculadora.DiferenciaTiempo(usuario.EpicGamesLastImport, idioma)
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (cantidadJuegos > 0)
        {
            <div class="caja-cuenta-epic-contenido">
                <div class="caja-cuenta-epic-titulo" style="font-size: 18px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String30", "AccountGames")
                </div>

                <div style="padding: 20px 30px;">
                    <div style="display: flex; align-items: center; gap: 25px;">
                        <button @onclick="ClickearBorrarJuegos" class="boton-pequeño" style="width: fit-content; background-color: var(--fondoPeligro); padding: 10px 20px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String37", "AccountGames")
                        </button>
                    </div>
                </div>
            </div>
        }

        <div class="caja-cuenta-epic-contenido">
            <div class="caja-cuenta-epic-titulo" style="font-size: 18px;">
                @Herramientas.Idiomas.BuscarTexto(idioma, "String15", "AccountGames")
            </div>

            <div style="padding: 20px 30px; display: flex; flex-direction: column; gap: 20px;">
                @if (trabajando == true)
                {
                    <div style="display: flex; align-items: center; gap: 20px;">
                        <div class="cargando" />
                    </div>
                }
                else
                {
                    <a href="@enlaceApi" target="_blank" class="boton-pequeño" style="width: fit-content; padding: 10px 20px;">
                        @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String45", "AccountGames"), "Epic Games")
                    </a>

                    <div>
                        <div style="font-size: 14px; margin-bottom: 5px;">
                            authorizationCode:
                        </div>
                        <input type="text" @bind-value="@codigoApi" @bind-value:event="oninput" @bind-value:after="DescargarJson" class="entrada-texto"/>
                    </div>

                    <a href="@enlaceCodigoFuente" target="_blank" style="text-decoration: none; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String46", "AccountGames")
                    </a>
                }
            </div>
        </div>
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public string usuarioId { get; set; }

    private Usuario usuario = new Usuario();

    private int cantidadJuegos = 0;

    private bool trabajando = false;
    private int importados = 0;

    protected override async Task OnInitializedAsync()
    {
        usuario = await BaseDatos.Usuarios.Buscar.OpcionesEpicGames(usuarioId);

        if (usuario != null)
        {
            if (string.IsNullOrEmpty(usuario.EpicGames) == false)
            {
                cantidadJuegos = Herramientas.Listados.Generar(usuario.EpicGames)?.Count ?? 0;
            }
        }
    }

    private async Task ClickearBorrarJuegos(MouseEventArgs args)
    {
        usuario.EpicGames = null;
        cantidadJuegos = 0;

        usuario.Id = usuarioId;
        await BaseDatos.Usuarios.Actualizar.Epic(usuario);
    }

    private string clienteId = "34a02cf8f4414e29b15921876da36f9a";
    private string clienteSecret = "daafbccc737745039dffe53d94fc76cf";
    private string codigoApi = string.Empty;
    private string enlaceApi = "https://www.epicgames.com/id/api/redirect?clientId=34a02cf8f4414e29b15921876da36f9a&responseType=code";
    private string enlaceCodigoFuente = "https://github.com/pepeizq/pepe-deals-blazor-web/blob/master/pepeizqs%20deals%20blazor%20web/Componentes/Cuenta/Juegos/EpicGames.razor";

    private async Task DescargarJson()
    {
        if (string.IsNullOrEmpty(codigoApi) == false)
        {
            trabajando = true;

            cantidadJuegos = 0;

            string credenciales = Convert.ToBase64String(Encoding.UTF8.GetBytes($"{clienteId}:{clienteSecret}"));

            HttpClient clienteToken = new HttpClient();
            clienteToken.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Basic", credenciales);

            HttpResponseMessage respuestaToken = await clienteToken.PostAsync(
                "https://account-public-service-prod.ol.epicgames.com/account/api/oauth/token",
                new FormUrlEncodedContent(new Dictionary<string, string>
                {
                    ["grant_type"] = "authorization_code",
                    ["code"] = codigoApi
                })
            );

            string textoRespuestaToken = await respuestaToken.Content.ReadAsStringAsync();
            EpicTokenRespuesta respuestaJson = JsonSerializer.Deserialize<EpicTokenRespuesta>(textoRespuestaToken);

            HttpClient clienteJuegos = new HttpClient();
            clienteJuegos.DefaultRequestHeaders.Authorization = 
                new AuthenticationHeaderValue("Bearer", respuestaJson.AccessToken);

            List<EpicLibreriaJuego> registros = new List<EpicLibreriaJuego>();
            string cursor = null;
            string textoIds = string.Empty;

            do
            {
                var url = "https://library-service.live.use1a.on.epicgames.com/library/api/public/items?includeMetadata=true";
                if (cursor != null) 
                {
                    url += $"&cursor={cursor}";
                }

                var respuestaJuegos = await clienteJuegos.GetFromJsonAsync<EpicLibreriaRespuesta>(url);
                registros.AddRange(respuestaJuegos.Records);
                cursor = respuestaJuegos.ResponseMetadata?.NextCursor;

                if (respuestaJuegos.Records?.Count > 0)
                {
                    foreach (var juego in respuestaJuegos.Records)
                    {
                        if (string.IsNullOrEmpty(textoIds) == true)
                        {
                            textoIds = juego.Namespace;
                        }
                        else
                        {
                            textoIds = textoIds + "," + juego.Namespace;
                        }

                        cantidadJuegos += 1;	

                        await APIs.EpicGames.Juego.AñadirBaseDatos(juego.AppName, juego.Namespace, juego.CatalogItemId);
                    }
                }
            } 
            while (string.IsNullOrEmpty(cursor) == false);    

            await BaseDatos.Usuarios.Actualizar.Opcion("EpicGames", textoIds, usuarioId);
            await BaseDatos.Usuarios.Actualizar.Opcion("EpicGamesLastImport", DateTime.Now, usuarioId);

            trabajando = false;
        }
    }

    public class EpicTokenRespuesta
    {
        [JsonPropertyName("access_token")]
        public string AccessToken { get; set; }
    }

    public class EpicLibreriaRespuesta
    {
        [JsonPropertyName("responseMetadata")]
        public EpicResponseMetadata ResponseMetadata { get; set; }

        [JsonPropertyName("records")]
        public List<EpicLibreriaJuego> Records { get; set; }
    }

    public class EpicResponseMetadata
    {
        [JsonPropertyName("nextCursor")]
        public string NextCursor { get; set; }

        [JsonPropertyName("stateToken")]
        public string StateToken { get; set; }
    }

    public class EpicLibreriaJuego
    {
        [JsonPropertyName("appName")]
        public string AppName { get; set; }

        [JsonPropertyName("namespace")]
        public string Namespace { get; set; }

        [JsonPropertyName("catalogItemId")]
        public string CatalogItemId { get; set; }
    }
}
