@using APIs.GOG
@using System.Text.Json
@using global::Juegos
@using pepeizqs_deals_web.Data

<style>
	.caja-cuenta-gog-contenido {
		background-color: var(--fondoSubsubcabecera);
		border: 2px solid var(--fondoSubcabecera);
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
	}

	.caja-cuenta-gog-titulo {
		background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
		font-size: 18px;
		padding: 20px 30px;
		border: 1px solid var(--fondoSubsubcabecera);
	}
</style>

<style>
	.cargando {
		width: 48px;
		height: 48px;
		border: 5px solid var(--colorTexto);
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
	}

	@@keyframes rotation {
	0% {
	transform: rotate(0deg);
	}

	100% {
	transform: rotate(360deg);
	}
	}
</style>

<script>
	function enseñarTooltip(e, id) {
		var x = e.clientX,
			y = e.clientY;

		var tooltip = document.getElementById(id);

		if (screen.width / 2 > x) {
			tooltip.style.top = (y + 10) + 'px';
			tooltip.style.left = (x + 20) + 'px';
		}
		else {
			tooltip.style.top = (y - 10) + 'px';
			tooltip.style.left = (x - 20 - tooltip.getBoundingClientRect().width) + 'px';
		};
	}
</script>

@if (usuario != null)
{
	<div style="display: flex; flex-direction: column; gap: 30px;">
		<div class="caja-cuenta-gog-contenido">
			<div class="caja-cuenta-gog-titulo" style="display: flex; align-items: center; gap: 20px; text-align: left;">
				<img src="@JuegoDRM2.SacarImagen(JuegoDRM.GOG)" style="max-width: 40px; max-height: 40px;" />

				<div>
					<div style="font-size: 18px;">
						@JuegoDRM2.DevolverDRM(JuegoDRM.GOG)
					</div>

					<div style="font-size: 14px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String11", "AccountGames")
					</div>
				</div>
			</div>

			<div style="padding: 20px 30px; display: flex; flex-direction: column; gap: 20px;">
				<div style="display: flex; align-items: center; gap: 20px;">
					<div style="background-color: var(--fondoBien); padding: 10px 20px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),0px 0px 1px 0px rgba(0, 0, 0, 0.1);">
						@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String8", "AccountGames"), cantidadJuegos.ToString())
					</div>

					<div style="background-color: var(--fondoAlerta); padding: 10px 20px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),0px 0px 1px 0px rgba(0, 0, 0, 0.1);">
						@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String9", "AccountGames"), cantidadDeseados.ToString())
					</div>
				</div>
			
				<div style="display: flex; flex-direction: column; gap: 10px; font-size: 14px;">
					@if (usuario.GogAccountLastCheck != null)
					{
						<div>
							@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "AccountGames") @Herramientas.Calculadora.DiferenciaTiempo(usuario.GogAccountLastCheck, idioma)
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.GogAccount) == false)
					{
						<div>
							@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String35", "AccountGames"), usuario.GogAccount)
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.GogId) == false)
					{
						<div>
							@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String41", "AccountGames"), usuario.GogId)
						</div>
					}
				</div>
			</div>
		</div>

		<div class="caja-cuenta-gog-contenido">
			<div class="caja-cuenta-gog-titulo" style="display: flex; align-items: center; gap: 20px;">
				<div style="font-size: 18px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String16", "AccountGames")
				</div>

				<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-gog5')" style="margin-left: auto;">
					<div style="width: 24px; height: 24px;">
						<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
							<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
						</svg>
					</div>

					<div id="tooltip-gog5" class="tooltip-relleno">
						<div style="margin: 8px; max-width: 300px; font-size: 14px;">
							@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String2", "AccountGames"), "GOG")
						</div>
					</div>
				</div>
			</div>

			<div style="padding: 20px 30px; display: flex; flex-direction: column; gap: 20px;">
				<button @onclick="ClickearEnseñarImagen" style="outline: none; border: 0; background-color: transparent; color: var(--colorTextoOscuro); padding: 0px; text-align: left;">
					@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String3", "AccountGames"), "GOG")
				</button>

				@if (ocupado == false)
				{
					<input class="entrada-texto" placeholder="https://www.gog.com/u/[@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "AccountGames")]" value="@usuario.GogAccount" @oninput="TextoCambiaGogCuenta" />
				}
				else
				{
					<div>@usuario.GogAccount</div>
				}

				@if (errorCuentaUsada == true)
				{
					<div style="background-color: var(--fondoPeligro); padding: 20px">
						@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String4", "AccountGames"), "GOG")
					</div>
				}

				@if (usuario.GogAccountLastCheck + TimeSpan.FromMinutes(10) > DateTime.Now)
				{
					<div style="background-color: var(--fondoPeligro); padding: 20px">
						<div>
							@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String12", "AccountGames"), "GOG")
						</div>

						<div style="margin-top: 10px;">
							<label>@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "AccountGames"): @Herramientas.Calculadora.DiferenciaTiempo(usuario.GogAccountLastCheck, idioma)</label>
						</div>
					</div>
				}
				else
				{
					if (ocupado == false)
					{
						<button class="boton-pequeño" style="font-size: 18px; padding: 10px 30px; width: fit-content;" @onclick="@(e => ActualizarCuenta(e))">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "AccountGames")
						</button>
					}
					else
					{
						<div style="display: flex; align-items: center; gap: 20px;">
							<div class="cargando" />
							<div>
								@mensajeCargando
							</div>
						</div>
					}
				}
			</div>
		</div>

		<div class="caja-cuenta-gog-contenido">
			<div class="caja-cuenta-gog-titulo" style="font-size: 18px;">
				@Herramientas.Idiomas.BuscarTexto(idioma, "String30", "AccountGames")
			</div>

			<div style="padding: 20px 30px;">
				<div style="display: flex; align-items: center; gap: 30px; padding: 10px 0px;">
					<div class="checkbox-caja">
						<input type="checkbox" class="checkbox-interior" checked="@estadoJuegos" @onchange="ClickearCambioJuegos">
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String31", "AccountGames")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-gog1')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-gog1" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String32", "AccountGames")
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div style="display: flex; align-items: center; gap: 30px; padding: 10px 0px;">
					<div class="checkbox-caja">
						<input type="checkbox" class="checkbox-interior" checked="@estadoDeseados" @onchange="ClickearCambioDeseados">
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String33", "AccountGames")
					</div>

					<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-gog2')">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
							</svg>
						</div>

						<div id="tooltip-gog2" class="tooltip-relleno">
							<div style="margin: 8px; max-width: 300px; font-size: 14px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String34", "AccountGames")
							</div>
						</div>
					</div>
				</div>

				@if (cantidadJuegos > 0)
				{
					<hr />

					<div style="display: flex; align-items: center; gap: 25px;">
						<button @onclick="ClickearBorrarJuegos" class="boton-pequeño" style="width: fit-content; background-color: var(--fondoPeligro); padding: 10px 20px;">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String37", "AccountGames")
						</button>

						<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-gog3')">
							<div style="width: 24px; height: 24px;">
								<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
									<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
								</svg>
							</div>

							<div id="tooltip-gog3" class="tooltip-relleno">
								<div style="margin: 8px; max-width: 300px; font-size: 14px;">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String38", "AccountGames")
								</div>
							</div>
						</div>
					</div>
				}

				@if (cantidadDeseados > 0)
				{
					<hr />

					<div style="display: flex; align-items: center; gap: 25px;">
						<button @onclick="ClickearBorrarDeseados" class="boton-pequeño" style="width: fit-content; background-color: var(--fondoPeligro); padding: 10px 20px;">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String39", "AccountGames")
						</button>

						<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-gog4')">
							<div style="width: 24px; height: 24px;">
								<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
									<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
								</svg>
							</div>

							<div id="tooltip-gog4" class="tooltip-relleno">
								<div style="margin: 8px; max-width: 300px; font-size: 14px;">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String40", "AccountGames")
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}

@if (enseñarImagen == true)
{
	<div class="opciones-panel">
		<div style="display: flex; align-items: start; margin: auto; justify-content: center; gap: 20px;">
			<button style="color: var(--colorTextoVisitado); background-color: transparent; border: 0px; padding: 0px;" @onclick="ClickearEnseñarImagen">
				<div style="max-width: 28px;">
					<svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
						<path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
					</svg>
				</div>
			</button>

			<img src="/imagenes/otros/permisosgog.jpg" style="max-height: 100vh; max-width: 1000px;" />
		</div>
	</div>
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	[Parameter]
	public string usuarioId { get; set; }

	private Usuario usuario = new Usuario();
	private List<GOGUsuarioJuego> listadoJuegos = null;

	private string enlaceCuenta = string.Empty;
	private int cantidadJuegos = 0;
	private int cantidadDeseados = 0;

	private bool enseñarImagen = false;

	private bool ocupado = false;
	private string mensajeCargando = string.Empty;
	private bool errorCuentaUsada = false;

	protected override async Task OnInitializedAsync()
	{
		usuario = await BaseDatos.Usuarios.Buscar.OpcionesGOG(usuarioId);

		if (usuario != null)
		{
			try
			{
				listadoJuegos = JsonSerializer.Deserialize<List<GOGUsuarioJuego>>(usuario.GogGames);
			}
			catch
			{  }		

			cantidadJuegos = listadoJuegos?.Count ?? 0;

			if (string.IsNullOrEmpty(usuario.GogWishlist) == false)
			{
				cantidadDeseados = Herramientas.Listados.Generar(usuario.GogWishlist)?.Count ?? 0;
			}

			if (usuario.GogAccountLastCheck != null)
			{
				if (usuario.GogAccountLastCheck + TimeSpan.FromMinutes(10) < DateTime.Now)
				{
					ocupado = false;

					if (string.IsNullOrEmpty(usuario.GogAccount) == false)
					{
						enlaceCuenta = usuario.GogAccount;
					}
				}
				else
				{
					ocupado = true;
				}
			}

			if (usuario.GogGamesAllow == null)
			{
				estadoJuegos = "checked";
			}
			else
			{
				if (usuario.GogGamesAllow == true)
				{
					estadoJuegos = "checked";
				}
				else
				{
					estadoJuegos = null;
				}
			}

			if (usuario.GogWishlistAllow == null)
			{
				estadoDeseados = "checked";
			}
			else
			{
				if (usuario.GogWishlistAllow == true)
				{
					estadoDeseados = "checked";
				}
				else
				{
					estadoDeseados = null;
				}
			}
		}
	}

	private void TextoCambiaGogCuenta(ChangeEventArgs texto)
	{
		errorCuentaUsada = false;

		if (texto.Value.ToString().Trim().Length > 1)
		{
			enlaceCuenta = texto.Value.ToString().Trim();
		}
	}

	private void ClickearEnseñarImagen()
	{
		if (enseñarImagen == true)
		{
			enseñarImagen = false;
		}
		else
		{
			enseñarImagen = true;
		}
	}

	private async Task ActualizarCuenta(MouseEventArgs args)
	{
		ocupado = true;

		if (string.IsNullOrEmpty(enlaceCuenta) == false)
		{
			if (enlaceCuenta.Contains("https://www.gog.com/u/") == true || enlaceCuenta.Contains("http://www.gog.com/u/") == true)
			{
				mensajeCargando = Herramientas.Idiomas.BuscarTexto(idioma, "Gog13", "Account");

				string idCuenta = await APIs.GOG.Cuenta.UsuarioId(enlaceCuenta);

				if (string.IsNullOrEmpty(idCuenta) == false)
				{
					bool cuentaUsada = await BaseDatos.Usuarios.Buscar.CuentaGogUsada(idCuenta, usuario.Id);

					if (cuentaUsada == false)
					{
						mensajeCargando = Herramientas.Idiomas.BuscarTexto(idioma, "Gog14", "Account");

						usuario.GogAccount = enlaceCuenta;

						bool actualizarJuegos = true;

						if (usuario.GogGamesAllow != null && usuario.GogGamesAllow == false)
						{
							actualizarJuegos = false;
						}

						if (actualizarJuegos == true)
						{
							usuario.GogGames = JsonSerializer.Serialize(await APIs.GOG.Cuenta.BuscarJuegos(enlaceCuenta));
						}

						bool actualizarDeseados = true;

						if (usuario.GogWishlistAllow != null && usuario.GogWishlistAllow == false)
						{
							actualizarDeseados = false;
						}

						if (actualizarDeseados == true)
						{
							usuario.GogWishlist = await APIs.GOG.Cuenta.BuscarDeseados(idCuenta);
						}
						
						usuario.GogAccountLastCheck = DateTime.Now;
						usuario.GogId = idCuenta;

                        await BaseDatos.Usuarios.Actualizar.GOG(usuario);
					}
					else
					{
						errorCuentaUsada = true;

						usuario.GogAccount = null;

						await BaseDatos.Usuarios.Actualizar.GOG(usuario);
					}
				}
			}
		}

		if (usuario.GogAccountLastCheck + TimeSpan.FromMinutes(10) > DateTime.Now)
		{
			ocupado = true;
		}
		else
		{
			ocupado = false;
		}
	}

	private string estadoJuegos = null;

	private async Task ClickearCambioJuegos()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoJuegos == null)
			{
				estadoJuegos = "checked";
				estado = true;
			}
			else
			{
				estadoJuegos = null;
				estado = false;
			}

			usuario.GogGamesAllow = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("GogGamesAllow", estado, usuario.Id);
		}
	}

	private string estadoDeseados = null;

	private async Task ClickearCambioDeseados()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoDeseados == null)
			{
				estadoDeseados = "checked";
				estado = true;
			}
			else
			{
				estadoDeseados = null;
				estado = false;
			}

			usuario.GogWishlistAllow = estado;

			await BaseDatos.Usuarios.Actualizar.Opcion("GogWishlistAllow", estado, usuario.Id);
		}
	}

	private async Task ClickearBorrarJuegos(MouseEventArgs args)
	{
		usuario.GogGames = null;
		listadoJuegos.Clear();
		cantidadJuegos = 0;

		await BaseDatos.Usuarios.Actualizar.Opcion("GogGames", null, usuario.Id);
	}

	private async Task ClickearBorrarDeseados(MouseEventArgs args)
	{
		usuario.GogWishlist = null;
		cantidadDeseados = 0;

		await BaseDatos.Usuarios.Actualizar.Opcion("GogWishlist", null, usuario.Id);
	}
}
