@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using global::Juegos
@using pepeizqs_deals_web.Data

<style>
    .caja-cuenta-ubisoft-contenido {
        background-color: var(--fondoSubsubcabecera);
        border: 2px solid var(--fondoSubcabecera);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }

    .caja-cuenta-ubisoft-titulo {
        background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
        font-size: 18px;
        padding: 20px 30px;
        border: 1px solid var(--fondoSubsubcabecera);
    }
</style>

<style>
    .cargando {
        width: 48px;
        height: 48px;
        border: 5px solid var(--colorTexto);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script>
    function enseñarTooltip(e, id) {
        var x = e.clientX,
            y = e.clientY;

        var tooltip = document.getElementById(id);

        if (screen.width / 2 > x) {
            tooltip.style.top = (y + 10) + 'px';
            tooltip.style.left = (x + 20) + 'px';
        }
        else {
            tooltip.style.top = (y - 10) + 'px';
            tooltip.style.left = (x - 20 - tooltip.getBoundingClientRect().width) + 'px';
        };
    }
</script>

@if (usuario != null)
{
    <div style="display: flex; flex-direction: column; gap: 30px;">
        <div class="caja-cuenta-ubisoft-contenido">
            <div class="caja-cuenta-ubisoft-titulo" style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <img src="@JuegoDRM2.SacarImagen(JuegoDRM.Ubisoft)" style="max-width: 40px; max-height: 40px;" />

                <div>
                    <div style="font-size: 18px;">
                        @JuegoDRM2.DevolverDRM(JuegoDRM.Ubisoft)
                    </div>

                    <div style="font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String11", "AccountGames")
                    </div>
                </div>
            </div>

            <div style="padding: 20px 30px; display: flex; flex-direction: column; gap: 20px;">
                <div style="display: flex; align-items: center; gap: 20px;">
                    <div style="background-color: var(--fondoBien); padding: 10px 20px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),0px 0px 1px 0px rgba(0, 0, 0, 0.1);">
                        @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String8", "AccountGames"), cantidadJuegos.ToString())
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; gap: 10px; font-size: 14px;">
                    @if (usuario.UbisoftLastImport != null)
                    {
                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "AccountGames") @Herramientas.Calculadora.DiferenciaTiempo(usuario.UbisoftLastImport, idioma)
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="caja-cuenta-ubisoft-contenido">
            <div class="caja-cuenta-ubisoft-titulo" style="display: flex; align-items: center; gap: 20px;">
                <div style="font-size: 18px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String15", "AccountGames")
                </div>

                <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-ubi1')" style="margin-left: auto;">
                    <div style="width: 24px; height: 24px;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
                        </svg>
                    </div>

                    <div id="tooltip-ubi1" class="tooltip-relleno">
                        <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                            @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String17", "AccountGames"), "Ubisoft Connect")
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding: 20px 30px; display: flex; flex-direction: column; gap: 20px;">
                @if (trabajando == false)
                {
                    <div style="display: flex; align-items: center; gap: 20px;">
                        <button @onclick="@(e => MostrarPlaynite(e))" title="Playnite" class="boton-pestañas" style="font-size: 16px; padding: 0px; width: fit-content; height: 60px;">
                            <div>
                                <div style="display: flex; align-items: center; gap: 15px; justify-content: center; padding: 15px 20px;">
                                    <img src="/imagenes/otros/playnite.webp" style="max-width: 30px; height: 30px; object-fit: contain;" />

                                    @if (mostrarPlaynite == true)
                                    {
                                        <div>
                                            Playnite
                                        </div> 
                                    }
                                </div>

                                @if (mostrarPlaynite == true)
                                {
                                    <div style="border: 1px solid var(--colorTexto);"/>
                                }
                            </div>
                        </button>
                    </div/>
                }

                @if (mostrarPlaynite == true)
                {
                    <div style="background: color-mix(in srgb, var(--fondoSubcabecera) 95%, var(--fondoBotonPequeño)); padding: 20px 20px 0px 20px;">
                        <div style="display: flex; align-items: center; gap: 10px; margin-left: 5px;">
                            <div style="max-width: 14px;">
							    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"/>
                                </svg>
						    </div>
                           
                            <div>
                                Windows
                            </div>
                        </div>

                        <ul style="display: grid; gap: 15px; margin-bottom: 30px;">
                            <li style="margin-bottom: 0px;">
                                @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String25", "AccountGames"), "games.db", "%appdata%\\Playnite\\library\\")
                            </li>

                            <li style="margin-bottom: 0px;">
                                @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String26", "AccountGames"), "games.db", "C:\\Playnite\\library\\")
                            </li>

                            <li style="margin-bottom: 0px;">
                                <a href="https://support.microsoft.com/en-us/windows/file-explorer-in-windows-ef370130-1cca-9dc5-e0df-2f7416fe1cb1#ID0EDBBBBBFD-button" target="_blank" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String20", "AccountGames")</a>
                            </li>

                            <li style="margin-bottom: 0px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String22", "AccountGames")
                            </li>
                        </ul>
                    </div>

                    <div>
                        @if (trabajando == false)
                        {
                            <label class="boton-pequeño" style="cursor: pointer; font-size: 16px; width: fit-content; padding: 10px 15px;">
                                <InputFile OnChange="PlayniteCargarFichero" accept=".db" hidden />
                                @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String23", "AccountGames"), "games.db")
                            </label>

                            @if (importados > 0)
                            {
                                <div style="margin-top: 20px;">@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String24", "AccountGames"), importados)</div>
                            }
                        }
                        else
                        {
                            <div style="display: flex; align-items: center; gap: 20px;">
                                <div class="cargando" />
                            </div>
                        }    
                    </div>
                }
            </div>
        </div>

        @if (cantidadJuegos > 0)
        {
            <div class="caja-cuenta-ubisoft-contenido">
                <div class="caja-cuenta-ubisoft-titulo" style="font-size: 18px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String30", "AccountGames")
                </div>

                <div style="padding: 20px 30px;">
                    <div style="display: flex; align-items: center; gap: 25px;">
                        <button @onclick="ClickearBorrarJuegos" class="boton-pequeño" style="width: fit-content; background-color: var(--fondoPeligro); padding: 10px 20px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String37", "AccountGames")
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public string usuarioId { get; set; }

    private Usuario usuario = new Usuario();

    private int cantidadJuegos = 0;

    private bool trabajando = false;
    private int importados = 0;

    protected override async Task OnInitializedAsync()
    {
        usuario = await BaseDatos.Usuarios.Buscar.OpcionesUbisoft(usuarioId);

        if (usuario != null)
        {
            if (string.IsNullOrEmpty(usuario.UbisoftGames) == false)
            {
                cantidadJuegos = Herramientas.Listados.Generar(usuario.UbisoftGames)?.Count ?? 0;
            }
        }
    }

    private void CerrarPestañas()
    {
        mostrarPlaynite = false;
    }

    private bool mostrarPlaynite = false;

    private void MostrarPlaynite(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarPlaynite = true;
    }

    private async void PlayniteCargarFichero(InputFileChangeEventArgs e)
    {
        trabajando = true;

        if (e.File.Name.ToLower().Contains("games") == true)
        {
            importados = 0;
            importados = await Herramientas.Ficheros.Playnite.Cargar(JuegoDRM.Ubisoft, e.File, usuarioId);
        }

        trabajando = false;

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async Task ClickearBorrarJuegos(MouseEventArgs args)
    {
        usuario.UbisoftGames = null;
        cantidadJuegos = 0;

        usuario.Id = usuarioId;
        await BaseDatos.Usuarios.Actualizar.Ubisoft(usuario);
    }
}
