@page "/steamdeck"

@using Juegos
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_web.Data
@using static pepeizqs_deals_blazor_web.Componentes.Secciones.Minimos.Minimos

@inject IHttpContextAccessor Contexto

<style>
	:root {
		--glaseadoBorde: #FFFFFF1A;
        --glaseadoFondo: rgba(45, 47, 54, 0.70);
		--noResultados: rgba(132, 32, 41, 0.5);
		--botonSeleccionado: rgba(13, 22, 33, 0.75);
	}

	.caja-steamdeck {
		box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.25);
		background-blend-mode: overlay;
		border-radius: 100px;
		border: 2px solid var(--glaseadoBorde);
		width: fit-content;
		background-color: var(--glaseadoFondo);
		backdrop-filter: blur(25px);
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 5px;
	}

	.caja-steamdeck-animacion {
		opacity: 0;
		transition: all 0.5s ease, transform .2s ease;
		pointer-events: none;
		transform: scaleX(0);
		transform-origin: left;
		max-width: 0;
	}

		.caja-steamdeck-animacion.visible {
			opacity: 1;
			pointer-events: auto;
			transform: scaleX(1);
			max-width: fit-content;
		}

	.boton-steamdeck {
		backdrop-filter: brightness(100%);
		transition: backdrop-filter 0.2s ease;
	}

		.boton-steamdeck:hover {
			backdrop-filter: brightness(50%);
		}
</style>

<Titulo tipo="@Titulo.Tipo.SteamDeck" idioma="@idioma" dominio="@dominio"/>

<div>
	<img class="juego-fondo" src="/imagenes/otros/steamdeck_fondo.webp" alt="Steam Deck" fetchpriority="high" />

	<div>
		<div class="caja-steamdeck" style="margin: 40px auto; display: flex; justify-content: center; max-width: 350px; border-radius: 20px; padding: 20px 40px;">
			<img src="/imagenes/otros/steamdeck_logo.webp" alt="Steam Deck" style="width: 100%; height: 100%;" />
		</div>

		<div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px; transition: transform 0.3s ease, opacity 0.3s ease; width: fit-content; margin-left: auto; margin-right: auto; flex-wrap: wrap;">
			<div class="caja-steamdeck">
				<button @onclick="MostrarVerificados" class="boton-steamdeck" style="@fondoVerificados border: 0px; height: 50px; padding: 15px 25px; display: flex; align-items: center; color: var(--colorTexto); border-radius: inherit; @(mostrarBuscador ? "" : "gap: 20px;")">
					<div style="display: flex; width: 30px; height: 30px;">
						<svg viewBox="0 0 20 20" fill="var(--deckVerificado)" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19ZM8.33342 11.9222L14.4945 5.76667L16.4556 7.72779L8.33342 15.8556L3.26675 10.7833L5.22786 8.82223L8.33342 11.9222Z"></path>
						</svg>
					</div>

					<div class="caja-steamdeck-animacion @(mostrarBuscador ? "" : "visible")">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "SteamDeck")
					</div>
				</button>

				<button @onclick="MostrarJugables" class="boton-steamdeck" style="@fondoJugables border: 0px; height: 50px; padding: 15px 25px; display: flex; align-items: center; color: var(--colorTexto); border-radius: inherit; @(mostrarBuscador ? "" : "gap: 20px;")">
					<div style="display: flex; width: 30px; height: 30px;">
						<svg viewBox="0 0 20 20" fill="var(--deckJugable)" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19ZM8.61079 9.44444V15H11.3886V9.44444H8.61079ZM9.07372 8.05245C9.34781 8.23558 9.67004 8.33333 9.99967 8.33333C10.4417 8.33333 10.8656 8.15774 11.1782 7.84518C11.4907 7.53262 11.6663 7.10869 11.6663 6.66667C11.6663 6.33703 11.5686 6.0148 11.3855 5.74072C11.2023 5.46663 10.942 5.25301 10.6375 5.12687C10.3329 5.00072 9.99783 4.96771 9.67452 5.03202C9.35122 5.09633 9.05425 5.25507 8.82116 5.48815C8.58808 5.72124 8.42934 6.01821 8.36503 6.34152C8.30072 6.66482 8.33373 6.99993 8.45988 7.30447C8.58602 7.60902 8.79964 7.86931 9.07372 8.05245Z"></path>
						</svg>
					</div>

					<div class="caja-steamdeck-animacion @(mostrarBuscador ? "" : "visible")">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "SteamDeck")
					</div>
				</button>
			</div>

			<div style="display: flex; align-items: center; gap: 25px; max-width: 500px; height: 45px; margin-left: 40px; @anchoBuscador">
				<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-steamdeck-search')">
					<button @onclick="MostrarOcultarBuscador" style="background: transparent; border: 0px;">
						<div style="width: 24px; height: 24px;">
							<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
								<path d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z" />
							</svg>
						</div>
					</button>

					<div id="tooltip-steamdeck-search" class="tooltip-relleno">
						<div style="margin: 8px; max-width: 300px; font-size: 14px;">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "SteamDeck")
						</div>
					</div>
				</div>

				<div class="caja-steamdeck caja-steamdeck-animacion @(mostrarBuscador ? "visible" : "")">
					<input type="text" @bind-value="textoBuscador" @bind-value:event="oninput" @bind-value:after="TextoCambiaBuscador" @onclick="ClickBuscador" @onfocusout="PerderBuscador" class="entrada-texto" style="border-radius: inherit; color: var(--colorTexto); padding: 5px 15px; border: 0px; transition: background-color 1000ms linear; @fondoBuscador" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "SteamDeck")" />
				</div>
			</div>

			<div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-steamdeck-options')">
				<button @onclick="MostrarOcultarOpciones" style="background: transparent; border: 0px; margin-left: 25px;">
					<div style="width: 24px; height: 24px;">
						<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
							<path d="M259.1 73.5C262.1 58.7 275.2 48 290.4 48L350.2 48C365.4 48 378.5 58.7 381.5 73.5L396 143.5C410.1 149.5 423.3 157.2 435.3 166.3L503.1 143.8C517.5 139 533.3 145 540.9 158.2L570.8 210C578.4 223.2 575.7 239.8 564.3 249.9L511 297.3C511.9 304.7 512.3 312.3 512.3 320C512.3 327.7 511.8 335.3 511 342.7L564.4 390.2C575.8 400.3 578.4 417 570.9 430.1L541 481.9C533.4 495 517.6 501.1 503.2 496.3L435.4 473.8C423.3 482.9 410.1 490.5 396.1 496.6L381.7 566.5C378.6 581.4 365.5 592 350.4 592L290.6 592C275.4 592 262.3 581.3 259.3 566.5L244.9 496.6C230.8 490.6 217.7 482.9 205.6 473.8L137.5 496.3C123.1 501.1 107.3 495.1 99.7 481.9L69.8 430.1C62.2 416.9 64.9 400.3 76.3 390.2L129.7 342.7C128.8 335.3 128.4 327.7 128.4 320C128.4 312.3 128.9 304.7 129.7 297.3L76.3 249.8C64.9 239.7 62.3 223 69.8 209.9L99.7 158.1C107.3 144.9 123.1 138.9 137.5 143.7L205.3 166.2C217.4 157.1 230.6 149.5 244.6 143.4L259.1 73.5zM320.3 400C364.5 399.8 400.2 363.9 400 319.7C399.8 275.5 363.9 239.8 319.7 240C275.5 240.2 239.8 276.1 240 320.3C240.2 364.5 276.1 400.2 320.3 400z" />
						</svg>
					</div>
				</button>

				<div id="tooltip-steamdeck-options" class="tooltip-relleno">
					<div style="margin: 8px; max-width: 300px; font-size: 14px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "SteamDeck")
					</div>
				</div>
			</div>
		</div>

		@if (mostrarNoResultados == true)
		{
			<div class="caja-steamdeck" style="background-color: var(--noResultados); justify-content: center; margin: 40px auto; padding: 20px; border-radius: 30px; max-width: 600px;">
				<div style="width: 30px; height: 30px; flex-shrink: 0;">
					<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
						<path d="M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
					</svg>
				</div>

				<div>
					@Herramientas.Idiomas.BuscarTexto(idioma, "String9", "SteamDeck")
				</div>
			</div>
		}
		else
		{
			@if (juegosMostrar?.Count > 0)
			{
				<div style="max-width: 1000px; margin: 0px auto; display: flex; flex-direction: column; gap: 30px;">
					<Virtualize Context="juego" Items="juegosMostrar" ItemSize="107" OverscanCount="12">
						<ItemContent>
							<div style="display: flex; align-items: center; gap: 20px; position: relative; overflow: hidden; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28),0px 0px 1px 0px rgba(0, 0, 0, 0.24);" @onmouseenter="(e => MostrarBotonDeseados(e, juego))" @onmouseleave="(e => OcultarBotonDeseados(e, juego))">
								<div style="width: 100%;">
									<CajaJuego idioma="@idioma" juego="@juego.Juego" color="@juego.Color" juegosUsuario="@juegosUsuario" usuarioDeseadosSteam="@deseadosUsuario?.SteamWishlist" usuarioDeseadosWeb="@deseadosUsuario?.Wishlist" usuarioDeseadosGog="@deseadosUsuario?.GogWishlist" tipo="CajaJuego.Tipo.SteamDeck" userAgent="@userAgent" />
								</div>

								@if (string.IsNullOrEmpty(usuarioId) == false && juego.Color != "var(--fondoBien)" && juego.DeseadoImportado == false && juego.DeseadoMostrar == true)
								{
									<div style="position: absolute; top: 0; left: 0;" class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-deseados')">
										<button @onclick="@(e => CambiarEstadoDeseado(e, usuarioId, juego, juego.Juego.PrecioMinimosHistoricos[0].DRM))" class="boton-pequeño" style="width: fit-content; padding: 10px; background-color: @juego.Color;">
											<div class="svg-boton" style="width: 24px; height: 24px; display: flex;">
												@if (juego.Color == "var(--fondoAlerta)")
												{
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
														<path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
													</svg>
												}
												else
												{
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
														<path d="M341.5 45.1C337.4 37.1 329.1 32 320.1 32C311.1 32 302.8 37.1 298.7 45.1L225.1 189.3L65.2 214.7C56.3 216.1 48.9 222.4 46.1 231C43.3 239.6 45.6 249 51.9 255.4L166.3 369.9L141.1 529.8C139.7 538.7 143.4 547.7 150.7 553C158 558.3 167.6 559.1 175.7 555L320.1 481.6L464.4 555C472.4 559.1 482.1 558.3 489.4 553C496.7 547.7 500.4 538.8 499 529.8L473.7 369.9L588.1 255.4C594.5 249 596.7 239.6 593.9 231C591.1 222.4 583.8 216.1 574.8 214.7L415 189.3L341.5 45.1z" />
													</svg>
												}
											</div>
										</button>

										<div id="tooltip-deseados" class="tooltip-relleno">
											<div style="margin: 4px; font-size: 14px;">
												@if (juego.Color == "var(--fondoAlerta)")
												{
													@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "Index")
												}
												else
												{
													@Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Index")
												}
											</div>
										</div>
									</div>
								}
							</div>
						</ItemContent>
					</Virtualize>
				</div>

				if (string.IsNullOrEmpty(usuarioId) == false)
				{
					if (usuarioPatreon == true || usuarioAdmin == true)
					{
						if (posicionJuegos > 950 && posicionJuegos <= 1000)
						{
							llegadoLimite = true;
						}
					}
					else
					{
						if (posicionJuegos > 450 && posicionJuegos <= 500)
						{
							llegadoLimite = true;
						}
					}
				}
				else
				{
					if (posicionJuegos > 150 && posicionJuegos <= 200)
					{
						llegadoLimite = true;
					}
				}

				<div style="margin-bottom: 40px; display: flex; align-items: center; justify-content: center; gap: 40px;">
					@if (Herramientas.Bots.UserAgentEsBot(userAgent) == false && string.IsNullOrEmpty(textoBuscador) == true)
					{
						if (llegadoLimite == false)
						{
							if (cargandoMas == false)
							{
								<button class="boton-pequeño" @onclick="CargarMas" style="width: fit-content; padding: 15px 30px;">
									@if (seccionActual == SeccionDeck.Verificados)
									{
										@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "SteamDeck")
									}
									else if (seccionActual == SeccionDeck.Jugables)
									{
										@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "SteamDeck")
									}
								</button>
							}
							else
							{
								<div>
									@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "SteamDeck")
								</div>
							}
						}
					}
				</div>
			}

		}
	</div>
</div>

@if (mostrarOpciones == true)
{
	<div class="opciones-panel">
		<div style="max-width: 800px; width: 100%; background-color: var(--fondoSubcabecera); border: 2px solid var(--fondoSubcabecera); margin: 20px auto; overflow-y: scroll; scrollbar-color: var(--fondoCodigo) var(--fondoOscuro); border-radius: 20px; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);">
			<div style="display: flex; align-items: center; gap: 30px; padding: 20px 30px; background: color-mix(in srgb, var(--fondoSubcabecera) 55%, var(--fondoBotonPequeño));">
				<button class="boton-pequeño" @onclick="MostrarOcultarOpciones" style="width: fit-content; padding: 10px 15px;">
					<div style="max-width: 24px; max-height: 24px;">
						<svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
						</svg>
					</div>
				</button>

				<div style="font-size: 20px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "SteamDeck")
				</div>
			</div>

			<div style="display: flex; flex-direction: column; gap: 30px; padding: 30px;">
				@if (string.IsNullOrEmpty(usuarioId) == false)
				{
					<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 10px;">
						<div class="checkbox-caja">
							<input type="checkbox" class="checkbox-interior" checked="@ocultarJuegosUsuario" @onchange="OcultarJuegosUsuario">
						</div>

						<div>
							@Herramientas.Idiomas.BuscarTexto(idioma, "String11", "SteamDeck")
						</div>
					</div>
				}
				
				<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 30px;">
					<div style="display: flex; flex-direction: column; gap: 10px;">
						<div style="margin-left: 15px;">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String12", "SteamDeck")
						</div>

						<div style="display: flex; align-items: center; gap: 5px; border-radius: 10px; padding: 5px; background: color-mix(in srgb, var(--fondoSubcabecera) 25%, var(--fondoBotonPequeño)); border: 2px solid var(--fondoBotonPequeño);">
							<div style="background: color-mix(in srgb, var(--fondoSubcabecera) 55%, var(--fondoBotonPequeño)); width: 100%; border-radius: inherit; border: 1px solid var(--glaseadoBorde); padding: 10px 15px;">
								<input type="range" min="5" max="100" step="5" list="precios" @bind-value="precioMaximo" @bind-value:event="oninput" @bind-value:after="CambiarPrecioMaximo" style="width: 100%;" />

								<datalist id="precios">
									<option value="5" label="5€"></option>
									<option value="20" label="20€"></option>
									<option value="40" label="40€"></option>
									<option value="60" label="60€"></option>
									<option value="80" label="80€"></option>
									<option value="100" label="100€"></option>
								</datalist>
							</div>

							<div style="width: 20%; text-align: center;">
								@precioMaximo€
							</div>
						</div>
					</div>

					<div style="display: flex; flex-direction: column; gap: 10px;">
						<div style="margin-left: 15px;">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "SteamDeck")
						</div>

						<div style="display: flex; align-items: center; gap: 5px; border-radius: 10px; padding: 5px; background: color-mix(in srgb, var(--fondoSubcabecera) 25%, var(--fondoBotonPequeño)); border: 2px solid var(--fondoBotonPequeño);">
							<div style="background: color-mix(in srgb, var(--fondoSubcabecera) 55%, var(--fondoBotonPequeño)); width: 100%; border-radius: inherit; border: 1px solid var(--glaseadoBorde); padding: 10px 15px;">
								<input type="range" min="5" max="95" step="5" list="descuentos" @bind-value="descuentoMinimo" @bind-value:event="oninput" @bind-value:after="CambiarDescuentoMinimo" style="width: 100%;" />

								<datalist id="descuentos">
									<option value="5" label="5%"></option>
									<option value="20" label="20%"></option>
									<option value="40" label="40%"></option>
									<option value="60" label="60%"></option>
									<option value="80" label="80%"></option>
									<option value="95" label="95%"></option>
								</datalist>
							</div>

							<div style="width: 20%; text-align: center;">
								@descuentoMinimo%
							</div>
						</div>
					</div>
				</div>

				<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 30px;">
					<div style="display: flex; flex-direction: column; gap: 10px;">
						<div style="margin-left: 15px;">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String14", "SteamDeck")
						</div>

						<div style="display: flex; align-items: center; gap: 5px; border-radius: 10px; padding: 5px; background: color-mix(in srgb, var(--fondoSubcabecera) 25%, var(--fondoBotonPequeño)); border: 2px solid var(--fondoBotonPequeño);">
							<div style="background: color-mix(in srgb, var(--fondoSubcabecera) 55%, var(--fondoBotonPequeño)); width: 100%; border-radius: inherit; border: 1px solid var(--glaseadoBorde); padding: 10px 15px;">
								<input type="range" min="0" max="10000" step="500" list="resenas" @bind-value="minimoReseñas" @bind-value:event="oninput" @bind-value:after="CambiarReseñasMinimo" style="width: 100%;" />

								<datalist id="resenas">
									<option value="0" label="0"></option>
									<option value="2000" label="2000"></option>
									<option value="4000" label="4000"></option>
									<option value="6000" label="6000"></option>
									<option value="8000" label="8000"></option>
									<option value="10000" label="10000"></option>
								</datalist>
							</div>

							<div style="width: 20%; text-align: center;">
								@minimoReseñas
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@code {

	#nullable disable

	private string idioma = "en";
	private string usuarioId = null;
	private string userAgent = null;
	private string dominio = null;

	[PersistentState] public Herramientas.UsuarioListadosJuegos juegosUsuario { get; set; }
	[PersistentState] public Usuario deseadosUsuario { get; set; }
	private bool usuarioPatreon = false;
	private bool usuarioAdmin = false;

	[PersistentState] public List<JuegoMostrar> juegosMostrar { get; set; }
	[PersistentState] public SeccionDeck seccionActual { get; set; }

	private int posicionJuegos = 0;
	private bool cargandoMas = false;
	private bool mostrarNoResultados = false;

	protected override async Task OnInitializedAsync()
	{
		Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
		idioma = datos.Idioma;
		usuarioId = datos.UsuarioId;
		userAgent = datos.UserAgent;
		dominio = datos.Dominio;

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			idioma = await BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
			juegosUsuario ??= await Herramientas.UsuarioJuegos.Cargar(usuarioId);
			deseadosUsuario ??= await BaseDatos.Usuarios.Buscar.DeseadosTiene(usuarioId);
			usuarioPatreon = Herramientas.Patreon.VerificarActivo(await BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));
			usuarioAdmin = await BaseDatos.Usuarios.Buscar.RolDios(usuarioId);

			Usuario opciones = await BaseDatos.Usuarios.Buscar.OpcionesSteamDeck(usuarioId);

			if (opciones != null)
			{
				if (opciones.SteamDeckOption1 == true)
				{
					ocultarJuegosUsuario = "checked";
				}
				else
				{
					ocultarJuegosUsuario = null;
				}

				if (opciones.SteamDeckOption2.HasValue == true)
				{
					precioMaximo = opciones.SteamDeckOption2.Value;
				}

				if (opciones.SteamDeckOption3.HasValue == true)
				{
					descuentoMinimo = opciones.SteamDeckOption3.Value;
				}

				if (opciones.SteamDeckOption4.HasValue == true)
				{
					minimoReseñas = opciones.SteamDeckOption4.Value;
				}
			}
		}

		if (seccionActual == SeccionDeck.Verificados)
		{
			await MostrarVerificados(true);
		}
		else if (seccionActual == SeccionDeck.Jugables)
		{
			await MostrarJugables(true);
		}
	}

	public enum SeccionDeck
	{
		Verificados,
		Jugables
	}

	private string fondoVerificados = "background: transparent;";

	private async Task MostrarVerificados()
	{
		llegadoLimite = false;
		posicionJuegos = 0;

		await MostrarVerificados(true);
	}

	private async Task MostrarVerificados(bool limpiarLista)
	{
		if (limpiarLista == true)
		{
			posicionJuegos = 0;
		}

		seccionActual = SeccionDeck.Verificados;
		fondoVerificados = "background: var(--botonSeleccionado);";
		fondoJugables = "background: transparent;";

		deckListado = CrearListaSteamDeck(true, false);

		var juegos = await BaseDatos.Juegos.Buscar.Minimos(posicionJuegos, 0, null, drmsListado, null, descuentoMinimo, precioMaximo, deckListado, null, 0, 0, minimoReseñas, textoBuscador);

		if (juegos?.Count == 0 && juegosMostrar?.Count == 0)
		{
			mostrarNoResultados = true;
		}
		else if (juegos?.Count == 0 && juegosMostrar?.Count > 0)
		{
			if (string.IsNullOrEmpty(textoBuscador) == true)
			{
				llegadoLimite = true;
			}
			else
			{
				mostrarNoResultados = true;
			}
		}
		else if (juegos?.Count > 0)
		{
			mostrarNoResultados = false;

			if (limpiarLista == true)
			{
				juegosMostrar?.Clear();
			}

			foreach (var juego in juegos)
			{
				bool ocultar = false;

				if (string.IsNullOrEmpty(ocultarJuegosUsuario) == false)
				{
					if (ocultarJuegosUsuario == "checked" && juego.PrecioMinimosHistoricos[0].DRM == JuegoDRM.Steam)
					{
						foreach (var juegoUsuario in juegosUsuario.Steam)
						{
							if (juego.IdSteam == juegoUsuario.Id)
							{
								ocultar = true;
								break;
							}
						}
					}
				}

				if (ocultar == false)
				{
					JuegoMostrar juegoMinimoMostrar = new JuegoMostrar
					{
						Juego = juego,
						DeseadoImportado = false,
						Color = "var(--fondoBotonPequeño)",
						DeseadoMostrar = false
					};

					if (string.IsNullOrEmpty(usuarioId) == false)
					{
						if (juego.PrecioMinimosHistoricos?.Count > 0)
						{
							if (Herramientas.UsuarioJuegos.ComprobarSiTiene(juegosUsuario, juego, juego.PrecioMinimosHistoricos[0].DRM) == true)
							{
								juegoMinimoMostrar.Color = "var(--fondoBien)";
							}
							else
							{
								if (Herramientas.Deseados.ComprobarSiEstaImportado(deseadosUsuario, juego, juego.PrecioMinimosHistoricos[0].DRM, true) == true)
								{
									juegoMinimoMostrar.Color = "var(--fondoAlerta)";
									juegoMinimoMostrar.DeseadoImportado = true;
								}

								if (Herramientas.Deseados.ComprobarSiEstaWeb(deseadosUsuario, juego, juego.PrecioMinimosHistoricos[0].DRM, true) == true)
								{
									juegoMinimoMostrar.Color = "var(--fondoAlerta)";
								}
							}
						}
					}

					if (juegosMostrar == null)
					{
						juegosMostrar = new List<JuegoMostrar>();
					}

					juegosMostrar.Add(juegoMinimoMostrar);
				}
			}
		}
	}

	private string fondoJugables = "background: transparent;";

	private async Task MostrarJugables()
	{
		llegadoLimite = false;
		posicionJuegos = 0;

		await MostrarJugables(true);
	}

	private async Task MostrarJugables(bool limpiarLista)
	{
		if (limpiarLista == true)
		{
			posicionJuegos = 0;
		}

		seccionActual = SeccionDeck.Jugables;
		fondoVerificados = "background: transparent;";
		fondoJugables = "background: var(--botonSeleccionado);";

		deckListado = CrearListaSteamDeck(false, true);

		var juegos = await BaseDatos.Juegos.Buscar.Minimos(posicionJuegos, 0, null, drmsListado, null, descuentoMinimo, precioMaximo, deckListado, null, 0, 0, minimoReseñas, textoBuscador);

		if (juegos?.Count == 0 && juegosMostrar?.Count == 0)
		{
			mostrarNoResultados = true;
		}
		else if (juegos?.Count == 0 && juegosMostrar?.Count > 0)
		{
			if (string.IsNullOrEmpty(textoBuscador) == true)
			{
				llegadoLimite = true;
			}
			else
			{
				mostrarNoResultados = true;
			}
		}
		else if (juegos?.Count > 0)
		{
			mostrarNoResultados = false;

			if (limpiarLista == true)
			{
				juegosMostrar?.Clear();
			}

			foreach (var juego in juegos)
			{
				bool ocultar = false;

				if (string.IsNullOrEmpty(ocultarJuegosUsuario) == false)
				{
					if (ocultarJuegosUsuario == "checked" && juego.PrecioMinimosHistoricos[0].DRM == JuegoDRM.Steam)
					{
						foreach (var juegoUsuario in juegosUsuario.Steam)
						{
							if (juego.IdSteam == juegoUsuario.Id)
							{
								ocultar = true;
								break;
							}
						}
					}
				}

				if (ocultar == false)
				{
					JuegoMostrar juegoMinimoMostrar = new JuegoMostrar
					{
						Juego = juego,
						DeseadoImportado = false,
						Color = "var(--fondoBotonPequeño)",
						DeseadoMostrar = false
					};

					if (string.IsNullOrEmpty(usuarioId) == false)
					{
						if (juego.PrecioMinimosHistoricos?.Count > 0)
						{
							if (Herramientas.UsuarioJuegos.ComprobarSiTiene(juegosUsuario, juego, juego.PrecioMinimosHistoricos[0].DRM) == true)
							{
								juegoMinimoMostrar.Color = "var(--fondoBien)";
							}
							else
							{
								if (Herramientas.Deseados.ComprobarSiEstaImportado(deseadosUsuario, juego, juego.PrecioMinimosHistoricos[0].DRM, true) == true)
								{
									juegoMinimoMostrar.Color = "var(--fondoAlerta)";
									juegoMinimoMostrar.DeseadoImportado = true;
								}

								if (Herramientas.Deseados.ComprobarSiEstaWeb(deseadosUsuario, juego, juego.PrecioMinimosHistoricos[0].DRM, true) == true)
								{
									juegoMinimoMostrar.Color = "var(--fondoAlerta)";
								}
							}
						}
					}

					if (juegosMostrar == null)
					{
						juegosMostrar = new List<JuegoMostrar>();
					}

					juegosMostrar.Add(juegoMinimoMostrar);
				}
			}
		}
	}

	public bool llegadoLimite = false;

	private async Task CargarMas()
	{
		cargandoMas = true;

		posicionJuegos = posicionJuegos + 100;

		if (seccionActual == SeccionDeck.Verificados)
		{
			await MostrarVerificados(false);
		}
		else if (seccionActual == SeccionDeck.Jugables)
		{
			await MostrarJugables(false);
		}

		cargandoMas = false;
	}

	private List<MostrarJuegoDRM> drmsListado = CrearListaDRMs();

	private static List<MostrarJuegoDRM> CrearListaDRMs()
	{
		List<MostrarJuegoDRM> nuevaLista = new List<MostrarJuegoDRM>();

		foreach (var drm in JuegoDRM2.GenerarListado())
		{
			MostrarJuegoDRM nuevoDRM = new MostrarJuegoDRM();
			nuevoDRM.Estado = false;
			nuevoDRM.Checkbox = null;
			nuevoDRM.DRMId = drm.Id;

			if (nuevoDRM.DRMId == JuegoDRM.Steam)
			{
				nuevoDRM.Estado = true;
				nuevoDRM.Checkbox = "checked";
			}

			nuevaLista.Add(nuevoDRM);
		}

		return nuevaLista;
	}

	private List<MostrarJuegoSteamDeck> deckListado = CrearListaSteamDeck();

	private static List<MostrarJuegoSteamDeck> CrearListaSteamDeck(bool verificados = false, bool jugables = false)
	{
		List<MostrarJuegoSteamDeck> nuevaLista = new List<MostrarJuegoSteamDeck>();

		if (verificados == true)
		{
			MostrarJuegoSteamDeck nuevoTipo1 = new MostrarJuegoSteamDeck();
			nuevoTipo1.Estado = true;
			nuevoTipo1.Checkbox = "checked";
			nuevoTipo1.Tipo = JuegoDeck.Verificado;

			nuevaLista.Add(nuevoTipo1);
		}

		if (jugables == true)
		{
			MostrarJuegoSteamDeck nuevoTipo2 = new MostrarJuegoSteamDeck();
			nuevoTipo2.Estado = true;
			nuevoTipo2.Checkbox = "checked";
			nuevoTipo2.Tipo = JuegoDeck.Jugable;

			nuevaLista.Add(nuevoTipo2);
		}

		return nuevaLista;
	}

	#region Deseados

	private async Task CambiarEstadoDeseado(MouseEventArgs e, string usuarioId, JuegoMostrar juego, JuegoDRM drm)
	{
		bool estado = true;

		if (juego.Color == "var(--fondoAlerta)")
		{
			estado = false;
		}

		await Herramientas.Deseados.CambiarEstado(usuarioId, juego.Juego, estado, drm, true);

		foreach (var juego2 in juegosMostrar)
		{
			if (juego2.Juego.Id == juego.Juego.Id && juego2.Juego.PrecioMinimosHistoricos[0].DRM == drm)
			{
				if (estado == true)
				{
					juego2.Color = "var(--fondoAlerta)";
				}
				else
				{
					juego2.Color = "var(--fondoBotonPequeño)";
				}
			}
		}

		await InvokeAsync(StateHasChanged);
	}

	private void MostrarBotonDeseados(MouseEventArgs e, JuegoMostrar juego)
	{
		juego.DeseadoMostrar = true;
	}

	private void OcultarBotonDeseados(MouseEventArgs e, JuegoMostrar juego)
	{
		juego.DeseadoMostrar = false;
	}

	#endregion

	#region Buscador

	private string textoBuscador { get; set; }
	private bool mostrarBuscador { get; set; } = false;
	private string anchoBuscador => mostrarBuscador ? "width: 100%;" : "width: 45px;";
	private string fondoBuscador = "background-color: var(--fondoEntrada);";

	private void MostrarOcultarBuscador()
	{
		mostrarBuscador = !mostrarBuscador;
	}

	private async Task TextoCambiaBuscador()
	{
		if (seccionActual == SeccionDeck.Verificados)
		{
			await MostrarVerificados(true);
		}
		else if (seccionActual == SeccionDeck.Jugables)
		{
			await MostrarJugables(true);
		}
	}

	private void ClickBuscador()
	{
		fondoBuscador = "background-color: var(--fondoBotonPequeñoHover);";
	}

	private void PerderBuscador()
	{
		if (string.IsNullOrEmpty(textoBuscador) == true)
		{
			fondoBuscador = "background-color: var(--fondoEntrada);";
		}
	}

	#endregion

	#region Opciones

    private bool mostrarOpciones { get; set; } = false;

	private async Task MostrarOcultarOpciones()
	{
        mostrarOpciones = !mostrarOpciones;
	}

	private string ocultarJuegosUsuario = null;

	private async Task OcultarJuegosUsuario()
	{
		bool valor = false;

		if (ocultarJuegosUsuario == "checked")
		{
			ocultarJuegosUsuario = null;
		}
		else
		{
			ocultarJuegosUsuario = "checked";
		}

		if (ocultarJuegosUsuario == "checked")
		{
			valor = true;
		}
		else if (ocultarJuegosUsuario == null)
		{
			valor = false;
		}

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			await BaseDatos.Usuarios.Actualizar.Opcion("SteamDeckOption1", valor, usuarioId);
		}

		if (seccionActual == SeccionDeck.Verificados)
		{
			await MostrarVerificados(true);
		}
		else if (seccionActual == SeccionDeck.Jugables)
		{
			await MostrarJugables(true);
		}
	}

    private int precioMaximo = 100;

	private async Task CambiarPrecioMaximo()
	{
		if (seccionActual == SeccionDeck.Verificados)
		{
			await MostrarVerificados(true);
		}
		else if (seccionActual == SeccionDeck.Jugables)
		{
			await MostrarJugables(true);
		}

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			await BaseDatos.Usuarios.Actualizar.Opcion("SteamDeckOption2", precioMaximo, usuarioId);
		}
	}

	private int descuentoMinimo = 0;

	private async Task CambiarDescuentoMinimo()
	{
		if (seccionActual == SeccionDeck.Verificados)
		{
			await MostrarVerificados(true);
		}
		else if (seccionActual == SeccionDeck.Jugables)
		{
			await MostrarJugables(true);
		}

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			await BaseDatos.Usuarios.Actualizar.Opcion("SteamDeckOption3", descuentoMinimo, usuarioId);
		}
    }

    private int minimoReseñas = 500;

	private async Task CambiarReseñasMinimo()
	{
		if (seccionActual == SeccionDeck.Verificados)
		{
			await MostrarVerificados(true);
		}
		else if (seccionActual == SeccionDeck.Jugables)
		{
			await MostrarJugables(true);
		}

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			await BaseDatos.Usuarios.Actualizar.Opcion("SteamDeckOption4", minimoReseñas, usuarioId);
		}
	}

	#endregion
}
