@using Gratis2
@using Suscripciones2
@using Tiendas2

<div style="display: flex; flex-direction: column; gap: 40px;">
    <div class="caja-admin-reddit">
        <button @onclick="@(e => GenerarPost(e))" class="boton-pequeño" style="text-align: center; width: fit-content; padding: 10px 40px; font-size: 18px;">Generar Post</button>
    </div>

    @if (string.IsNullOrEmpty(imagen) == false)
    {
        <img src="@imagen" alt="Imagen del post" />

        <a href="@imagen" target="_blank">Ver imagen en tamaño completo</a>
    }

    @if (string.IsNullOrEmpty(post) == false)
    {
        <div class="caja-admin-reddit">
            <div style="margin-bottom: 10px;">
                @post.Length.ToString() / 40000 caracteres
            </div>

            <textarea @oninput="PostCambiaTexto" class="entrada-texto" rows="10" value="@post"/>
        </div>
    }

    @if (string.IsNullOrEmpty(comentario) == false)
    {
        <div class="caja-admin-reddit">
            <div style="margin-bottom: 10px;">
                @comentario.Length.ToString() / 10000 caracteres
            </div>
            <textarea class="entrada-texto" rows="10" value="@comentario" />
        </div>
    }
</div>


@code {

    #nullable disable

    private string post = null;
    private string comentario = null;
    private string imagen = null;

    private async Task GenerarPost(MouseEventArgs e)
    {
        post = string.Empty;
        comentario = string.Empty;
        imagen = string.Empty;

        TiendaRegion region = TiendaRegion.EstadosUnidos;

        #region Ofertas

        List<global::Juegos.Juego> ofertasSemana = await BaseDatos.RedesSociales.Buscar.OfertasUltimaSemana(region, (int)global::Juegos.JuegoDRM.Steam);

        if (ofertasSemana?.Count > 0)
        {
            List<string> entradillasOfertas = new List<string>()
            {
                "These are all the Steam deals with historical low prices we've had in the last week:",
                "Here are all the Steam deals with historical low prices from the last 7 days:",
                "Here are all the Steam games that hit their historical low price in the last 7 days:",
                "Steam deals at record low prices from the past 7 days:",
                "Every Steam deal that dropped to an historical low this past week:"
            };

            post = post + entradillasOfertas[new Random().Next(0, entradillasOfertas.Count)] + Environment.NewLine + Environment.NewLine + "---" + Environment.NewLine;

            ofertasSemana = ofertasSemana.OrderBy(x => x.Nombre).ToList();

            foreach (var oferta in ofertasSemana)
            {
                string codigo = string.Empty;

                if (region == TiendaRegion.EstadosUnidos)
                {
                    if (string.IsNullOrEmpty(oferta?.PrecioMinimosHistoricosUS[0]?.CodigoTexto) == false)
                    {
                        codigo = Environment.NewLine + " - Code: **" + oferta?.PrecioMinimosHistoricosUS[0]?.CodigoTexto + "**";
                    }

                    string precio = Herramientas.Precios.Dolar(oferta.PrecioMinimosHistoricosUS[0].Precio);

                    if (oferta.PrecioMinimosHistoricosUS[0].PrecioCambiado > 0)
                    {
                        precio = Herramientas.Precios.Dolar(oferta.PrecioMinimosHistoricosUS[0].PrecioCambiado);
                    }

                    post = post + "* [" + oferta.Nombre + " • " + oferta.PrecioMinimosHistoricosUS[0].Descuento.ToString() + "% • " + precio + "](" + oferta.PrecioMinimosHistoricosUS[0].Enlace + ") (" + Tiendas2.TiendasCargar.DevolverTienda(oferta.PrecioMinimosHistoricosUS[0].Tienda).Nombre + ")" + codigo + Environment.NewLine;
                }
            }

            try
            {
                var imagen2 = await Herramientas.Ficheros.ConstructorReddit.Imagen(ofertasSemana.OrderByDescending(o => int.Parse(o.Analisis.Cantidad.Replace(",", ""))).Where(o => o.Imagenes.Library_600x900 != null && o.PrecioMinimosHistoricosUS[0].Tienda != "steambundles").Take(18).Select(o => o.Imagenes.Library_600x900).ToList());

                if (imagen2.Exito == true)
                {
                    imagen = imagen2.DirectorioFichero;
                }
            }
            catch (Exception ex)
            {
                BaseDatos.Errores.Insertar.Mensaje("Error al generar imagen", ex, false);
            }
        }

        #endregion

        #region Bundles

        List<Bundles2.Bundle> bundlesSemana = await BaseDatos.RedesSociales.Buscar.BundlesUltimaSemana();

        if (bundlesSemana?.Count > 0)
        {
            foreach (var bundle in bundlesSemana)
            {
                comentario = comentario + "* [" + bundle.Nombre + "](" + bundle.Enlace + ")" + Environment.NewLine;
            }
        }

        #endregion

        #region Gratis

        List<global::Juegos.JuegoGratis> gratisSemana = await BaseDatos.RedesSociales.Buscar.GratisUltimaSemana();

        if (gratisSemana?.Count > 0)
        {
            foreach (var gratis in gratisSemana)
            {
                string drm = " (" + global::Juegos.JuegoDRM2.DevolverDRM(gratis.DRM) + ")";

                if (gratis.Tipo == GratisTipo.Steam || gratis.Tipo == GratisTipo.GOG || gratis.Tipo == GratisTipo.EpicGames || gratis.Tipo == GratisTipo.Ubisoft)
                {
                    drm = string.Empty;
                }

                comentario = comentario + "* [" + gratis.Nombre + "](" + gratis.Enlace + ") " + drm + Environment.NewLine;
            }
        }

        #endregion

        #region Suscripciones

        List<global::Juegos.JuegoSuscripcion> suscripcionesSemana = await BaseDatos.RedesSociales.Buscar.SuscripcionesUltimaSemana();

        if (suscripcionesSemana?.Count > 0)
        {
            List<string> entradillasSuscripciones = new List<string>()
            {
                "These are all the new games that have been added to subscriptions services in the last week:",
                "Here are all the new games added to subscription services from the last 7 days:",
                "Here are all the new games that hit subscription services in the last 7 days:",
                "New games added to subscription services this past week:",
                "Every new game that dropped to subscription services this past week:"
            };

            comentario = comentario + entradillasSuscripciones[new Random().Next(entradillasSuscripciones.Count)] + Environment.NewLine + Environment.NewLine + "---" + Environment.NewLine;

            Dictionary<string, List<global::Juegos.JuegoSuscripcion>> suscripcionPorTienda = new Dictionary<string, List<global::Juegos.JuegoSuscripcion>>();
            List<SuscripcionTipo> suscripciones = Suscripciones2.SuscripcionesCargar.CargarSuscripciones();

            foreach (var suscripcion in suscripcionesSemana)
            {
                SuscripcionTipo tipoSuscripcion = suscripciones.FirstOrDefault(s => s == suscripcion.Tipo);
                string nombreTienda = Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(tipoSuscripcion).Nombre;

                if (suscripcionPorTienda.ContainsKey(nombreTienda) == false)
                {
                    suscripcionPorTienda[nombreTienda] = new List<global::Juegos.JuegoSuscripcion>();
                }

                if (tipoSuscripcion == SuscripcionTipo.PCGamePass)
                {
                    var juego = await BaseDatos.Juegos.Buscar.UnJuego(suscripcion.JuegoId);
                    suscripcion.Nombre = juego.Nombre;
                }

                suscripcionPorTienda[nombreTienda].Add(suscripcion);
            }

            foreach (var suscripcionTienda in suscripcionPorTienda)
            {
                string tienda = suscripcionTienda.Key;
                List<global::Juegos.JuegoSuscripcion> listaJuegos = suscripcionTienda.Value;

                if (listaJuegos?.Count > 0)
                {
                    comentario = comentario + "**" + tienda + "**" + Environment.NewLine;

                    foreach (var juego in listaJuegos)
                    {
                        if (juego.Tipo == SuscripcionTipo.PCGamePass)
                        {
                            comentario = comentario + "* [" + juego.Nombre + "](" + juego.Enlace + ")" + Environment.NewLine;
                        }
                        else
                        {
                            comentario = comentario + "* [" + juego.Nombre + "](" + juego.Enlace + ") (" + global::Juegos.JuegoDRM2.DevolverDRM(juego.DRM) + ")" + Environment.NewLine;
                        }
                    }
                }
            }
        }

        #endregion
    }

    private async void PostCambiaTexto(ChangeEventArgs texto)
    {
        
    }
}
