@using BaseDatos.Admin
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Data.SqlClient
@using Tiendas2

<style>
    .caja-admin-tareas {
        background-color: var(--fondoSubsubcabecera);
        border: 2px solid var(--fondoSubcabecera);
        padding: 30px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }
</style>

<div style="display: flex; flex-direction: column; gap: 30px;">
    @{
        var tareasEnUso = BaseDatos.Admin.Buscar.TiendasEnUso(TimeSpan.FromSeconds(60));

        if (tareasEnUso?.Count > 0)
        {
            string mensaje = string.Empty;

            foreach (var tareaEnUso in tareasEnUso)
            {
                mensaje = mensaje + " " + tareaEnUso.Id;
            }

            if (string.IsNullOrEmpty(mensaje) == false)
            {
                <div class="caja-admin-tareas">
                    Comprobando: @mensaje
                </div>
            }
        }
    }

    <div class="caja-admin-tareas">
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">
            @foreach (AdminTarea tarea in tareasTiendas)
            {
                if (tarea != null)
                {
                    string tiempo = Herramientas.Calculadora.DiferenciaTiempo(tarea.Fecha, "es-ES");

                    <button @onclick="(e => ClickearTienda(e, tarea.Id))" class="boton-pequeño" style="height: fit-content; padding: 15px;">
                        <div style="display: flex; align-items: center; gap: 20px; justify-content: space-between;">
                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <img src="@Tiendas2.TiendasCargar.DevolverTienda(tarea.Id)?.ImagenIcono" style="height: 22px;" />
                                    <div>@Tiendas2.TiendasCargar.DevolverTienda(tarea.Id)?.Nombre</div>
                                </div>

                                <div>@tiempo</div>
                            </div>

                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="text-align: right;">@tarea.Cantidad</div>

                                @if (tarea.Valor1 > 0)
                                {
                                    <div style="display: flex; align-items: center; gap: 10px; justify-content: right;">
                                        @if (tarea.Valor1 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor1</div>
                                        }

                                        @if (tarea.Valor2 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor2</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </button>
                }
            }
        </div>
    </div>

    <div class="caja-admin-tareas">
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">
            @foreach (AdminTarea tarea in tareasSuscripciones)
            {
                if (tarea != null)
                {
                    string tiempo = Herramientas.Calculadora.DiferenciaTiempo(tarea.Fecha, "es-ES");

                    <button @onclick="(e => ClickearSuscripcionStreaming(e, tarea))" class="boton-pequeño" style="height: fit-content; padding: 15px;">
                        <div style="display: flex; align-items: center; gap: 20px; justify-content: space-between;">
                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <img src="@Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(tarea.Id)?.ImagenIcono" style="height: 22px;" />
                                    <div>@Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(tarea.Id)?.Nombre</div>
                                </div>

                                <div>@tiempo</div>
                            </div>
                            
                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="text-align: right;">@tarea.Cantidad</div>

                                @if (tarea.Valor1 > 0)
                                {
                                    <div style="display: flex; align-items: center; gap: 10px; justify-content: right;">
                                        @if (tarea.Valor1 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor1</div>
                                        }

                                        @if (tarea.Valor2 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor2</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </button>
                }
            }
        </div>
    </div>

    <div class="caja-admin-tareas">
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">
            @foreach (AdminTarea tarea in tareasStreaming)
            {
                if (tarea != null)
                {
                    string tiempo = Herramientas.Calculadora.DiferenciaTiempo(tarea.Fecha, "es-ES");

                    <button @onclick="(e => ClickearSuscripcionStreaming(e, tarea))" class="boton-pequeño" style="height: fit-content; padding: 15px;">
                        <div style="display: flex; align-items: center; gap: 20px; justify-content: space-between;">
                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <img src="@Streaming2.StreamingCargar.DevolverStreaming(tarea.Id)?.ImagenIcono" style="height: 22px;" />
                                    <div>@Streaming2.StreamingCargar.DevolverStreaming(tarea.Id)?.Nombre</div>
                                </div>

                                <div>@tiempo</div>
                            </div>

                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="text-align: right;">@tarea.Cantidad</div>

                                @if (tarea.Valor1 > 0)
                                {
                                    <div style="display: flex; align-items: center; gap: 10px; justify-content: right;">
                                        @if (tarea.Valor1 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor1</div>
                                        }

                                        @if (tarea.Valor2 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor2</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </button>
                }
            }
        </div>
    </div>
</div>


@code {

    #nullable disable

    [Inject]
    protected Herramientas.IDecompiladores decompilador { get; set; }

    [PersistentState] public List<AdminTarea> tareasTiendas { get; set; }
    [PersistentState] public List<AdminTarea> tareasSuscripciones { get; set; }
    [PersistentState] public List<AdminTarea> tareasStreaming { get; set; }

    private PeriodicTimer cronometro = null;

    protected override void OnInitialized()
    {
        tareasTiendas ??= BaseDatos.Admin.Buscar.TareasTiendas();
        tareasSuscripciones ??= BaseDatos.Admin.Buscar.TareasSuscripciones();
        tareasStreaming ??= BaseDatos.Admin.Buscar.TareasStreaming();

        Actualizar();
    }

    private async void Actualizar()
    {
        cronometro ??= new PeriodicTimer(TimeSpan.FromSeconds(1));

        while (await cronometro.WaitForNextTickAsync())
        {
            if (tareasTiendas?.Count > 0)
            {
                tareasTiendas = BaseDatos.Admin.Buscar.TareasUltimos60Segundos(tareasTiendas);
            }

            if (tareasSuscripciones?.Count > 0)
            {
                tareasSuscripciones = BaseDatos.Admin.Buscar.TareasUltimos60Segundos(tareasSuscripciones);
            }

            if (tareasStreaming?.Count > 0)
            {
                tareasStreaming = BaseDatos.Admin.Buscar.TareasUltimos60Segundos(tareasStreaming);
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    private async void ClickearTienda(MouseEventArgs e, string id)
    {
        if (string.IsNullOrEmpty(id) == false)
        {
            await TiendasCargar.AdminTiendas(id, decompilador);
        }
    }

    private void ClickearSuscripcionStreaming(MouseEventArgs e, BaseDatos.Admin.AdminTarea tarea)
    {
        if (tarea != null)
        {
            DateTime fecha = DateTime.Now;
            fecha = fecha - TimeSpan.FromDays(1);

            BaseDatos.Admin.Actualizar.Tiendas(tarea.Id, fecha, tarea.Cantidad);
        }
    }
}
